$static_path:'..'; 

@import 'mixins/reset.scss';
@import 'mixins/variables.scss';
@import 'mixins/fonts.scss';
@import 'mixins/list_table.scss';
@import 'mixins/scrollbar.scss';
@import 'mixins/common.scss';


/* Header
-----------------------------------------------------------------------------*/
.navbar {position: fixed;top: 0;left: 0;padding: 0;@include calc('width', '150px + 5vw');z-index: 1;
    #nav_layout {
        #nav_layout__generated {
            .generated_block {
                a.header_link {}

                &[data-slide="header"] {background-color:$d-blue;
                    a.header_link {display:block;position:relative;padding-bottom:100%;
                        &:before {content:'';position:absolute;top:0;left:0;right:0;bottom:0;clip-path:polygon(70% 0%, 70% 20%, 78% 28%, 78% 34%, 100% 34%, 100% 35%, 57% 35%, 57% 79%, 100% 79%, 100% 80%, 43% 80%, 43% 100%, 42% 100%, 42% 35%, 23% 35%, 23% 100%, 22% 100%, 22% 58%, 0% 58%, 0% 57%, 22% 57%, 22% 21%, 0% 21%, 0% 20%, 69% 20%, 69% 0%);background-color:#fff;}
                    }
                }
            }
        }
        #nav_layout__static {
            .static_block {
                a.header_link {}
            }
        }
    }
}

/* Middle
-----------------------------------------------------------------------------*/
main.content {padding:0;background-color:$d-dgray;
    /*ARTICLE*/
    #scroll_wrapper {font-size:130%;line-height:1.5;overflow:hidden;height:100vh;
        canvas {@include selectable(none, none, none);}
        .slide {min-height:100vh;position:relative;
            .centered__outer {min-height:100vh;}
            .container {padding:50px;@include calc('padding-left', '250px + 5vw');@include crossProp('display', 'flex');@include cross('flex-wrap', 'nowrap');@include cross('flex-direction', 'row');-ms-flex-pack:center;@include cross('justify-content', 'center');-ms-flex-line-pack:center;@include cross('align-content', 'center');-ms-flex-align:center;@include cross('align-items', 'center');color:#d1dae0;
                .feature_icon {display:block;position:absolute;top:50%;left:50%;width:100%;height:100%;@include cross('transform', 'translate(-50%,-50%) scale(1)');@include selectable(none, none, none);

                    svg {display:block;width:inherit;height:inherit;background-color:transparent;
                        &#feature_icon__rocket {
                            @include keyframes(flight) {
                                0% {@include cross('transform', 'translate(0,0) scale(1)');}
                                20% {@include cross('transform', 'translate(-1.5%, -2.5%) scale(1)');}
                                40% {@include cross('transform', 'translate(1%, -2.5%) scale(1.1)');}
                                60% {@include cross('transform', 'translate(0.5%, 6%) scale(0.9)');}
                                80% {@include cross('transform', 'translate(-3%, 6%) scale(0.8)');}
                                100% {@include cross('transform', 'translate(0,0) scale(1)');}
                            }

                            @include keyframes(starline) {
                                0% {@include cross('transform', 'translate(18%,-32%) scale(1)');}
                                100% {@include cross('transform', 'translate(-180%, 320%) scale(1)');}
                            }
                    

                            g {position:relative;
                                &.rocket__main {z-index:2;}
                                &.rocket__star_lines {
                                    &.line__1 {z-index:0;
                                        path.rocket__star_line {opacity:.15;}
                                    }
                                    &.line__2 {z-index:1;
                                        path.rocket__star_line {opacity:.5;}
                                    }
                                    &.line__3 {z-index:3;
                                        path.rocket__star_line {opacity:.7;}
                                    }
                                }
                            }
                            path {
                                &.rocket__shadow {opacity:.2;}
                                &.rocket__fire {fill:#E0995E}
                                &.rocket__fire_light {fill:#F5CF87}
                                &.rocket__wing {fill:#C75C5C}
                                &.rocket__body {fill:#E0E0D1}
                                &.rocket__window {fill:$d-dgray}
                                &.rocket__star_line {stroke:#fff;stroke-width:12px;stroke-linecap:round;stroke-linejoin:round;@include cross('transform', 'translate(18%,-32%) scale(1)');}
                            }
                        }

                        &#feature_icon__templates {opacity:0.5;
                            @include keyframes(square_show) {
                                0% {opacity:0;}
                                100% {opacity:1;@include cross('transform', 'translate(0, 0)');}
                            }
                            .square {fill:rgba(#fff,.5);opacity:0;@include cross('transform', 'translate(-100%, 0)');
                                &:nth-child(2n + 3) {@include cross('transform', 'translate(0, -100%)');}
                                &:nth-child(3n + 2) {@include cross('transform', 'translate(0, 100%)');}
                                &:nth-child(4n + 3) {@include cross('transform', 'translate(100%, 0)');}

                                &:nth-child(3n + 5) {fill:rgba(#fff,.9);}
                                &:nth-child(2n + 4) {fill:rgba(#fff,.2);}
                                &:nth-child(5n + 1) {fill:rgba(#fff,.7);}
                            }
                        }
                        &#feature_icon__handlers {
                            @include keyframes(line_show) {
                                0% {stroke-dashoffset:4500;opacity:0;}
                                15% {stroke-dashoffset:4500;opacity:1;}
                                85% {stroke-dashoffset:0;opacity:1;}
                                100% {stroke-dashoffset:0;opacity:0;}
                            }
                            .line {fill:none;stroke:rgba(#fff,.5);stroke-width:5px;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:4500;stroke-dashoffset:4500;opacity:0;}
                        }
                    }
                }
                .feature_text {display:inline-block;vertical-align:middle;position:relative;@include cross('flex', '2 1 auto');z-index:5;}

                &.__left_side {
                    .feature_text {padding-left:500px;}
                }
                &.__right_side {
                    .feature_text {padding-right:500px;}
                }
            }

            &.__in_viewport {
                .container {
                    .feature_icon {
                        svg {
                            &#feature_icon__rocket {
                                g {position:relative;
                                    &.rocket__fire_big {@include animation(flight 15000ms infinite forwards ease-in-out);@include cross('animation-delay', '350ms');}
                                    &.rocket__fire_small {@include animation(flight 15000ms infinite forwards ease-in-out);@include cross('animation-delay', '200ms');}
                                    &.rocket__main {@include animation(flight 15000ms infinite forwards ease-in-out);}
                                    &.rocket__star_lines {
                                        &.line__1 {
                                            path.rocket__star_line {
                                                @for $i from 1 through 30 {
                                                    $delay:($i - 1) * 200;
                                                    $duration:12000 + $i * 100;
                                                    &:nth-child(#{$i}) {@include cross('animation-delay', '#{$delay}ms');@include cross('animation-duration', '#{$duration}ms');}
                                                }
                                            }
                                        }
                                        &.line__2 {
                                            path.rocket__star_line {
                                                @for $i from 1 through 30 {
                                                    $delay:($i - 1) * 200;
                                                    $duration:7000 + $i * 100;
                                                    &:nth-child(#{$i}) {@include cross('animation-delay', '#{$delay}ms');@include cross('animation-duration', '#{$duration}ms');}
                                                }
                                            }
                                        }
                                        &.line__3 {
                                            path.rocket__star_line {
                                                @for $i from 1 through 30 {
                                                    $delay:($i - 1) * 200;
                                                    $duration:3000 + $i * 100;
                                                    &:nth-child(#{$i}) {@include cross('animation-delay', '#{$delay}ms');@include cross('animation-duration', '#{$duration}ms');}
                                                }
                                            }
                                        }
                                    }
                                }
                                path.rocket__star_line {@include animation(starline 7s infinite forwards cubic-bezier(0.83, 0, 0.17, 1));}
                            }
                            &#feature_icon__templates {
                                .square {@include animation(square_show 5s forwards cubic-bezier(0.83, 0, 0.17, 1));
                                    @for $i from 1 through 32 {
                                        $delay:($i - 1) * 300;
                                        $duration:2000 + $i * 200;
                                        &:nth-child(#{$i}) {@include cross('animation-delay', '#{$delay}ms');@include cross('animation-duration', '#{$duration}ms');}
                                    }
                                }
                            }
                            &#feature_icon__handlers {
                                .line {@include animation(line_show 9000ms infinite forwards cubic-bezier(0.83, 0, 0.17, 1));
                                    @for $i from 1 through 12 {
                                        $delay:($i - 1) * 7000;
                                        $duration:7000 + $i * 200;
                                        &:nth-child(#{$i}) {@include cross('animation-delay', '#{$delay}ms');}
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.slide__header {position:relative;margin:auto;@include box-sizing(border-box);
                #logo_wrapper {text-align:center;@include selectable(none, none, none);z-index:2;
                    #logo__svg {background-color:$d-yellow;overflow:visible;position:relative;width:100%;@include cross('transform', 'translate3d(0%, 0%, 0)');@include cross('backface-visibility', 'hidden');z-index:1;
                        #layout {
                            * {fill:$d-dgray;@include transition(all 300ms cubic-bezier(.56,.05,.57,.96));opacity:0;@include cross('transform-origin', 'center');
                                @for $i from 1 through 7 {
                                    $delay:($i - 1) * 100;
                                    &:nth-child(#{$i}) {@include cross('transition-delay', '#{$delay}ms');}
                                }
                            }
            
                            .from_left {@include cross('transform', 'translate(-10%, 0) scale(2)');}
                            .from_right {@include cross('transform', 'translate(10%, 0) scale(2)');@include cross('transform-origin', '0 50%');}
                            .from_top {@include cross('transform', 'translate(0, -10%) scale(2)');@include cross('transform-origin', '0 50%');}
                            .from_bottom {@include cross('transform', 'translate(0, 10%) scale(2)');}
                        }
                        #symbols {
                            * {fill:$d-yellow;opacity:0;@include cross('transform', 'translate(150%, -150%) scale(5)');@include transition(all 600ms cubic-bezier(.56,.05,.57,.96));@include filter('blur',40);@include cross('transform-origin', 'center');
                                @for $i from 1 through 5 {
                                    $delay:800 + ($i - 1) * 150;
                                    &:nth-child(#{$i}) {@include cross('transition-delay', '#{$delay}ms');}
                                }
                            }
                        }
                        #animated {
                            #bend {fill:$d-yellow;stroke:$d-yellow;stroke-width:2;@include transition(all 300ms cubic-bezier(.56,.05,.57,.96));@include cross('transition-delay', '300ms');opacity:1;@include cross('transform', 'translate(0, -10%) scale(2)');@include cross('transform-origin', '0 50%');}
                        }
                    }
            
                    @include keyframes(swing) {
                        0% {fill:$d-yellow;opacity:1;@include cross('transform', 'rotate3d(1, 1, 0, 0deg)');@include cross('transform-origin', '40.3%');}
                        100% {fill:$d-dgray;opacity:0.2;@include cross('transform', 'rotate3d(1, 1, 0, -180deg)');@include cross('transform-origin', '40.3%');}
                    }
            
                    &.active {
                        #logo__svg {
                            #layout {
                                * {opacity:1;@include cross('transform', 'translate(0, 0) scale(1)');}
                            }
                            #symbols {
                                * {opacity:1;@include scale(1);@include filter('blur',0);}
                            }
                            #animated {
                                #bend {@include cross('transform', 'translate(0, 0) scale(1)');@include animation(swing 400ms forwards cubic-bezier(0.250, 0.460, 0.450, 0.940));@include cross('animation-delay', '2500ms');}
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {margin:-#{$footer_height} auto 0;height:#{$footer_height};position:relative;overflow:hidden;z-index:1;
    .copytext {position:relative;background-color:#000;color:#666;padding:5px 10px;text-align:center;height:inherit;@include box-sizing(border-box);overflow:hidden;z-index:1;}
    #design {@include cross('backface-visibility', 'hidden');@include cross('transform', 'translate(-50%, 0) rotateY(180deg)');display:block;position:absolute;top:0;left:50%;padding:5px 10px;text-align:center;color:#000;@include selectable(none, none, none);
        a {color:inherit}
    }
}

@import 'mixins/native.scss';
