<template>
  <div class="wrapper">
    <div v-if="show_menu" class="sidebar" data-background-color="white" data-color="purple">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
        <router-link class="simple-text logo-normal" to="/">LMS Будущего</router-link>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li :class="{active: active_tab == 'courses', 'nav-item':!!1}">
            <router-link :to="{name:'courses', params: { site: site_id } }" class="nav-link">
              <i class="material-icons">dashboard</i>
              <p>Курсы</p>
            </router-link>
          </li>
          <li :class="{active: active_tab == 'users', 'nav-item':!!1}">
            <router-link :to="{name:'users', params: { site: site_id } }" class="nav-link">
              <i class="material-icons">person</i>
              <p>Ученики</p>
            </router-link>
          </li>
          <li class="nav-item ">
            <router-link :to="{name:'settings', params: { site: site_id } }" class="nav-link">
              <i class="material-icons">chat</i>
              <p>Коммуникации</p>
            </router-link>
          </li>
          <li class="nav-item ">
            <router-link :to="{name:'control', params: { site: site_id } }" class="nav-link">
              <i class="material-icons">apps</i>
              <p>Управление</p>
            </router-link>
          </li>
          <li :class="{active: active_tab == 'settings', 'nav-item': !!1}">
            <router-link :to="{name:'settings', params: { site: site_id } }" class="nav-link">
              <i class="material-icons">settings</i>
              <p>Настройка</p>
            </router-link>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper navbar-brand">
            <slot name="header"></slot>
          </div>
          <button aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation"
                  class="navbar-toggler"
                  data-toggle="collapse" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <form class="navbar-form">
              <div class="input-group no-border">
                <input class="form-control" placeholder="Search..." type="text" value="">
                <button class="btn btn-white btn-round btn-just-icon" type="submit">
                  <i class="material-icons">search</i>
                  <div class="ripple-container"></div>
                </button>
              </div>
            </form>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#pablo">
                  <i class="material-icons">dashboard</i>
                  <p class="d-lg-none d-md-block">
                    Stats
                  </p>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a id="navbarDropdownMenuLink" aria-expanded="false" aria-haspopup="true" class="nav-link"
                   data-toggle="dropdown" href="http://example.com">
                  <i class="material-icons">notifications</i>
                  <span class="notification">5</span>
                  <p class="d-lg-none d-md-block">
                    Some Actions
                  </p>
                </a>
                <div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#">Mike John responded to your email</a>
                  <a class="dropdown-item" href="#">You have 5 new tasks</a>
                  <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                  <a class="dropdown-item" href="#">Another Notification</a>
                  <a class="dropdown-item" href="#">Another One</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#pablo">
                  <i class="material-icons">person</i>
                  <p class="d-lg-none d-md-block">
                    Account
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <slot/>
        </div>
      </div>
    </div>
  </div>

</template>

<script lang="ts" src="./layout.ts"></script>
