<template>
    <layout>
        <div class="page_router">
            <h2>Команда сайта</h2>
            <nav class="inline_buttons_panel">
                <button @click="show_invite=1" class="option_button" v-if="!show_invite" title="Пригласить участника">
                    <span class="rticon invite_icon"></span>
                </button>
            </nav>

            <div class="card">
                <div class="card-body">
                    <div class="form_group" v-if="show_invite">
                        <div class="input-group col-12">
                            <nav class="inline_buttons_panel">
                                <label class="inline_with_button">
                                    <input class="textfield lightfield" type="email" v-model="invite_user_email" placeholder="Электронная почта">
                                    <span class="placeholder">Электронная почта</span><hr class="lightfield_line">
                                </label>
                                <button @click="invite_user()" class="buttonfield"><span class="text">Пригласить</span></button>
                            </nav>
                        </div>
                    </div>

                    <div class="table-responsive col-lg-6">
                        <table class="table table-top-campaign">
                            <tbody>
                            <tr v-for="user in users">
                                <td><div class="avatar"><div class="avatar__inner"><img :src="user.avatar"></div></div>{{user.email}}</td>
                                <td>{{user.firstname}} {{user.surname}}</td>
                                <td align="right">
                                    <button @click="delete_user(user)" class="option_button" type="button" title="Удалить доступ">
                                        <span class="rticon ban_icon"></span>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </layout>
</template>

<script lang="ts" src="./main.ts"></script>
