
[draggable] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

.ui {
    position: relative;
    display: flex;
    margin: 0 auto;
    max-width: 900px;
    min-height: 100vh;
    background: #fff;
    overflow: hidden;
}

@media (min-width: 900px) {
    .ui {
        margin: 10vh auto 0;
        min-height: 50vh;
        box-shadow: 0 0 20px rgba(120, 120, 120, 0.1);
        border-radius: 5px;
    }
}

.ui.upload-drop--dragover .ui__sidebar {
    opacity: .5;
}

.ui.upload-drop--dragover .ui__main {
    transition: border .5s ease;
    border: 4px dashed #47cedf;
}

.ui.upload-drop--dragover .ui__main > * {
    pointer-events: none;
}

.ui__sidebar {
    display: block;
    background: #404040;
    color: #ccc;
    overflow: hidden;
    transition: all .5s ease;
    width: 0;
    max-width: 300px;
    max-height: 100%;
}

.ui__sidebar--open .ui__sidebar {
    display: block;
    width: 80%;
    opacity: 1;
    padding: 1rem;
    border-right: 0.5rem solid #efefef;
}

@media (min-width: 900px) {
    .ui__sidebar {
        display: block;
        width: 300px;
        padding: 1rem;
        border-right: 0.5rem solid #efefef;
    }

    .ui__sidebar--open .ui__sidebar {
        width: 300px;
    }
}

.ui__main {
    flex: 1 1 auto;
    display: block;
}

.ui__menu {
    display: flex;
}

.ui__btn {
    flex: 0 0 auto;
    padding: 0.5rem 1rem;
    transition: all .1s linear;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ui__btn::before {
    font-family: FontAwesome;
}

.ui__btn:hover {
    color: #121212;
}

.upload-btn::before {
    content: '\f0ee';
}

.help-btn::before {
    color: #555;
    content: '\f128';
}

.sidebar-toggle {
    margin-left: 0;
}

.sidebar-toggle::before {
    content: '\f152';
}

.ui__sidebar--open .sidebar-toggle::before {
    content: '\f191';
}

@media (min-width: 900px) {
    .sidebar-toggle {
        display: none;
    }
}

.options-toggle {
    margin-right: 0;
    text-align: right;
    color: #555;
}

.upload-toggle{
    margin-right: 0;
    text-align: right;
    color: #555;
}

.options-toggle::before {
    content: '\f013';
}

.upload-toggle::before {
    content: '\f0ee';
}

.file-path {
    flex: 1 1 auto;
    display: inline-block;
    margin: 0;
    padding: 0.3333333333rem 1rem;
    font-size: .875rem;
    list-style: none;
    background: #f8f8f8;
    border-radius: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 2;
    border-radius: 0 0 3px 3px;
}

.file-path li {
    display: inline-block;
}

.file-path li::after {
    display: inline-block;
    font-family: FontAwesome;
    content: '\f105';
    opacity: .5;
    margin-left: 0.5rem;
    margin-right: 0.25rem;
}
.file-path li a {
    color: #555
}

.file-list {
    width: 100%;
    text-align: left;
}

.file-list .file-list__file:nth-child(odd) {
    background: #f8f8f8;
}

.file-list th {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom: 1px solid #efefef;
    padding: 1rem;
}

.file-list th:hover {
    cursor: pointer;
    color: #121212;
}

.file-list td {
    padding: 0.3333333333rem 1rem;
}

.file-list td:hover {
    cursor: pointer;
    color: #121212;
}

.file-list__header {
    font-size: 0.6875rem;
    letter-spacing: 1px;
    line-height: 1;
}

.upload-drop--dragover .overlay__inner {
    transition: border .5s ease;
    border: 4px dashed #47cedf;
}

.upload-drop--dragover .overlay__inner > * {
    pointer-events: none;
}

.info-modal {
    display: block;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
    overflow: hidden;
    height: 0;
    font-size: .875rem;
}

.info-modal.info-modal--active {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    height: auto;
    padding: 1rem;
    background: linear-gradient(to bottom, white, #efefef);
    border: 5px solid #fff;
}
