<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
        <meta http-equiv="Content-language" content="ru-RU">
        <meta http-equiv="Cache-Control" content="public">
        <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
        <title>LMS – Платформа быстрых сайтов</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Chrome, Firefox OS and Opera -->
        <meta name="theme-color" content="#18639d">
        <!-- Windows Phone -->
        <meta name="msapplication-navbutton-color" content="#18639d">
        <!-- iOS Safari -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

        <link rel="shortcut icon" href="<%= BASE_URL %>static/img/favicon/favicon.ico" />
        <link rel="apple-touch-icon" sizes="57x57" href="<%= BASE_URL %>static/img/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="<%= BASE_URL %>static/img/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="<%= BASE_URL %>static/img/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="<%= BASE_URL %>static/img/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="<%= BASE_URL %>static/img/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="<%= BASE_URL %>static/img/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="<%= BASE_URL %>static/img/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="<%= BASE_URL %>static/img/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="<%= BASE_URL %>static/img/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="<%= BASE_URL %>static/img/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="<%= BASE_URL %>static/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="<%= BASE_URL %>static/img/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="<%= BASE_URL %>static/img/favicon/favicon-16x16.png">
        <link rel="manifest" href="<%= BASE_URL %>static/img/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#18639d">
        <meta name="msapplication-TileImage" content="<%= BASE_URL %>static/img/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#18639d">

        <meta name="description" content="LMS – Платформа быстрых сайтов"/>
        <link rel="canonical" href="https://lms.space/" />
        <meta property="og:locale" content="ru-RU" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="LMS – Платформа быстрых сайтов" />
        <meta property="og:description" content="LMS – Платформа быстрых сайтов" />
        <meta property="og:url" content="https://lms.space/" />
        <meta property="og:site_name" content="LMS – Платформа быстрых сайтов" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:description" content="LMS – Платформа быстрых сайтов" />
        <meta name="twitter:title" content="LMS – Платформа быстрых сайтов" />
        <meta name="twitter:site" content="" />

        <link type="text/plain" rel="author" href="<%= BASE_URL %>static/humans.txt" />
        <meta name="author" content="lms.space">

        <meta name="msvalidate.01" content="" />
        <meta name="google-site-verification" content="" />

        <link rel="stylesheet" href="<%= BASE_URL %>static/css/style.css" type="text/css" media="screen" />
    </head>

    <body>
        <div id="wrapper" class="wrapper wrapper__title">
            <div id="app"></div>
            <script src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js'></script>
            <!-- built files will be auto injected -->
        </div>
        <!-- .wrapper -->
    </body>
</html>
