<template>
    <div>
        <h2>
            <router-link
                :to="{name: 'files', query: { path: parent_directory.path }}"
                class="goback" title="Назад к папке"><span class="rticon"></span>
            </router-link>
            Файл<span v-if="file.name"> «{{ file.name }}»</span>
        </h2>
        <div class="card-body">
            <div class="form_group">
                <label>
                    <input class="textfield lightfield" disabled id="file_name" type="text" v-model="file.name" placeholder="Название">
                    <span class="placeholder">Название</span><hr class="lightfield_line">
                </label>
            </div>

            <div class="form_group">
                <label class="control-label mb-1">Содержание файла</label>
                <ace :event_name="'file_change'" :options="{mode: file_type }" :value="file.content"
                         v-if="file.content">test
                </ace>
            </div>

            <div>
                <button @click="saveFile" class="buttonfield"
                                type="submit">
                    <span class="rticon save_icon"></span>
                    <span v-if="is_saving" class="loader"></span>
                    <span class="text">Сохранить</span>
                </button>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./edit.ts"></script>

<style>
@import "../../assets/file.manager.css";

#file-uploader {
    display: none;
}

.file-uploader-label {
    cursor: pointer;
}

.folder_link {
    color: #666666;
}

.dragover {
    background-color: #3e414c;
    border-radius: 10px;
    padding: 10px;
}

.draghelper {
    text-align: center;
    padding: 90px 20px;
}
</style>
