<template>
    <layout>
        <div class="page_router">
            <h2>Настройки FTP</h2>
            <div class="card">
                <div class="card-body">
                    <div class="form_group">
                        <label>
                            <input class="textfield lightfield" id="ftp_server" type="text" value="ftp.lms.space" disabled placeholder="FTP Server">
                            <span class="placeholder">FTP Server</span><hr class="lightfield_line">
                        </label>
                    </div>

                    <div class="form_group">
                        <label>
                            <input class="textfield lightfield" id="ftp_login" type="text" v-model="ftp_login" disabled placeholder="FTP Login">
                            <span class="placeholder">FTP Login</span><hr class="lightfield_line">
                        </label>
                    </div>
                    <div class="form_group">
                        <label class="control-label mb-1" for="ftp_password">
                            <input class="textfield lightfield" id="ftp_password" type="password" v-if="!ftp_store_password" v-model="ftp_password" placeholder="FTP Password">
                            <input class="textfield lightfield" id="ftp_password" type="text" v-if="ftp_store_password" v-model="ftp_password" placeholder="FTP Password">
                            <span class="placeholder">FTP Password</span><hr class="lightfield_line">
                        </label>
                    </div>
                    <div class="form_group">
                        <label  class="switch">
                            <input v-model="ftp_store_password" class="switch_input" type="checkbox">
                            <span class="switch_label"></span>
                            <span class="switch_handle"></span>
                        </label>
                        <template v-if="ftp_store_password">Сохранять пароль на серверах LMS</template>
                        <template v-else>Не хранить пароли в открытом виде</template>
                    </div>

                    <div>
                        <button @click="saveFtp" class="buttonfield" id="payment-button" type="submit">
                            <span class="rticon save_icon"></span>
                            <span v-if="is_saving" class="loader"></span>
                            <span v-if="!ftp_created" class="text">Создать пользователя FTP</span>
                            <span v-if="ftp_created" class="text">Сохранить новый пароль</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </layout>
</template>

<script lang="ts" src="./ftp.ts"></script>

<style>
    @import "../../assets/file.manager.css";
    .folder_link{
        color: #666666;
    }
</style>
