<template>
  <layout>
    <div class="page_router">
      <files_edit v-if="editor"></files_edit>
      <files_list v-else></files_list>
    </div>
  </layout>
</template>

<script lang="ts" src="./index.ts"></script>

<style>
@import "../../assets/file.manager.css";

#file-uploader {
  display: none;
}

.file-uploader-label {
  cursor: pointer;
}

.folder_link {
  color: #666666;
}

.dragover {
  background-color: #3e414c;
  border-radius: 10px;
  padding: 10px;
}

.draghelper {
  text-align: center;
  padding: 90px 20px;
}
</style>
