<template>
  <div class="card-body">
    <main :class="{'dragover': is_dragover}"
          @dragleave="handleDragleave"
          @dragover="handleDragover"
          @drop="handleDrag"
          class="ui__main"
    >

      <div class="draghelper" v-if="is_dragover">
        <p>Бросай сюда</p>
      </div>
      <div class="ui__menu" v-if="!is_dragover">

        <ul class="file-path">
          <li v-for="(path, index) in current_path">
            <router-link
                :to="{name: 'files', params: { path: path.path }}"
                v-if="index !== current_path.length - 1">{{path.name}}<span class="rticon sidearrow_icon"></span>
            </router-link>
            <template v-if="index === current_path.length - 1">{{path.name}}<span class="rticon sidearrow_icon"></span></template>
          </li>
        </ul>
        <!-- /.file-path -->
        <router-link :to="{name: 'ftp'}" class="buttonfield"><span class="rticon ftp_icon"></span><span class="text">FTP</span></router-link>
        <label class="buttonfield" for="file-uploader"><span class="rticon upload_icon"></span><span class="text">Загрузка</span></label>
        <input @change="onFilesSelected" id="file-uploader" multiple="" name="file" type="file">
      </div>

      <table class="file-list" id="file-table" v-if="!is_dragover">
        <thead>
        <tr>
          <th>Имя</th>
          <th>Тип</th>
          <th>Размер</th>
        </tr>
        </thead>
        <tr class="file-list__file" v-if="!!parent_directory">
          <td>
            <router-link
                :to="{name: 'files', params: { query: parent_directory.path }}"
                class="folder_link">
              <span class="rticon pico_icon folder_icon"></span>[ .. ] Назад в папку {{parent_directory.name}}
            </router-link>
          </td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr class="file-list__file" v-for="dir in directories">
          <td>
            <router-link
                :to="{name: 'files', query: { path: dir.path }}"
                class="folder_link">
              <span class="rticon pico_icon folder_icon"></span>{{dir.name}}
            </router-link>
          </td>

          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr class="file-list__file" v-for="file in files">
          <td><span class="rticon pico_icon file_icon"></span>{{file.name}}</td>
          <td>{{file.bytes | size}}</td>
          <td align="right">
            <router-link
                :to="{name: 'files', query: { edit: file.path }}"
                class="option_button"
                v-if="file.editable">
              <span class="rticon edit_icon"></span>
            </router-link>
            <a :href="file.url" class="option_button" target="_blank">
              <span class="rticon download_icon"></span>
            </a>
            <button @click="deleteFile(file)" class="option_button" type="button">
              <span class="rticon delete_icon"></span>
            </button>
          </td>
        </tr>
        <tr class="file-list__file" v-if="loading">
          <td colspan="3">Загрузка хранилища...</td>
        </tr>
      </table>
      <!-- /.file-list -->
    </main>
  </div>
</template>

<script lang="ts" src="./list.ts"></script>

<style>
    #file-uploader {
        display: none;
    }

    .file-uploader-label {
        cursor: pointer;
    }

    .folder_link {
        color: #666666;
    }

    .dragover {
        background-color: #3e414c;
        border-radius: 10px;
        padding: 10px;
    }

    .draghelper {
        text-align: center;
        padding: 90px 20px;
    }
</style>
