$static_path:'..'; 

@import 'mixins/reset.scss';
@import 'mixins/variables.scss';
@import 'mixins/fonts.scss';
@import 'mixins/list_table.scss';
@import 'mixins/scrollbar.scss';
@import 'mixins/common.scss';


/* Header
-----------------------------------------------------------------------------*/
.navbar {position:fixed;top:0;left:0;right:0;padding:0;z-index:9;
    .container {height: 100%;}
    #nav_layout {display:block;height:inherit;opacity:0;@include translate(0, -100%);@include transition(all 300ms cubic-bezier(.56,.05,.57,.96));@include cross('transition-delay', '2000ms');padding-right:100px;
        a.header_link {padding:0 30px;color:#fff;text-decoration:none;text-align:center;line-height:1.5;white-space:nowrap;
            span.text {display:inline;border-bottom:1px solid rgba(#fff,.3);@include transition(all 300ms cubic-bezier(.56,.05,.57,.96));}

            &:hover {
                span.text {border-bottom-color:transparent;}
            }
        }
        
        #nav_layout__generated {@include crossProp('display', 'flex');display:flex;@include cross('flex-wrap', 'nowrap');@include cross('flex-direction', 'row');-webkit-justify-content:center;-ms-flex-pack:center;@include cross('justify-content', 'center');-ms-flex-line-pack:center;@include cross('align-content', 'center');-ms-flex-align:stretch;@include cross('align-items', 'stretch');height:100px;@include transition(padding 300ms cubic-bezier(.56,.05,.57,.96));
            .generated_block {@include cross('flex', '3 3 auto');width: 100%;position:relative;background-color:rgba(#000,.2);@include cross('backdrop-filter', 'blur(5px)');font-size: 18px;letter-spacing: -1px;@include transition(box-shadow 300ms cubic-bezier(.56,.05,.57,.96));
                a.header_link {@include calc('max-width', '(100vw - 200px)/8');@include hidetext();@include box-sizing(border-box);}


                &[data-slide="header"] {background-color:#004c73;@include cross('flex', '0 0 auto');width: 100px;height: 100px;position:absolute;top:0;left:0;@include translate(-100%, 0);@include transition(transform 300ms cubic-bezier(.56,.05,.57,.96));z-index: 1;
                    a.header_link {display:block;position:absolute;top:0;left:0;right:0;bottom:0;
                        &:before {content:'';position:absolute;top:0;left:0;right:0;bottom:0;clip-path:polygon(70% 0%, 70% 20%, 78% 28%, 78% 34%, 100% 34%, 100% 35%, 57% 35%, 57% 79%, 100% 79%, 100% 80%, 43% 80%, 43% 100%, 42% 100%, 42% 35%, 23% 35%, 23% 100%, 22% 100%, 22% 58%, 0% 58%, 0% 57%, 22% 57%, 22% 21%, 0% 21%, 0% 20%, 69% 20%, 69% 0%);background-color:#fff;}
                    }
                }
            }
        }
        #nav_layout__static {width:100px;position:absolute;top:0;right:0;height:100%;
            .static_block {height:inherit;background-color:#004c73;font-size: 18px;letter-spacing: -1px;
                .block_wrapper {height:inherit;}
            }
        }
    }
}
    #app[class] {
        .navbar {
            #nav_layout {opacity:1;@include translate(0, 0);}
        }

        &:not(.header) {
            .navbar {
                #nav_layout {@include cross('transition-delay', '0ms');
                    #nav_layout__generated {padding-left:100px;
                        .generated_block {
                            &[data-slide="header"] {@include translate(0, 0);}
                        }
                    }
                }
            }
        }

        &.structure .navbar [data-slide="structure"],
        &.templates .navbar [data-slide="templates"],
        &.handlers .navbar [data-slide="handlers"],
        &.feeds .navbar [data-slide="feeds"],
        &.settings .navbar [data-slide="settings"],
        &.instruments .navbar [data-slide="instruments"],
        &.partners .navbar [data-slide="partners"],
        &.trial .navbar [data-slide="trial"] {@include box-shadow(inset 0 -100px 0 0 #000);
            a.header_link {color:#00a9ff;
                span {border-bottom-color:transparent}
            }
        }
    }

/* Middle
-----------------------------------------------------------------------------*/
main.content {padding:0;background-color:$d-dgray;
    &.tech_page {@include gradient('radial', (#1a5e81 0%), '', (#273340 100%));}

    /* ARTICLE */
    #scroll_wrapper {font-size:130%;line-height:1.5;overflow:hidden;height:100vh;
        canvas {@include selectable(none, none, none);}
        .slide {min-height:100vh;position:relative;
            .centered__outer {min-height:100vh;}
            .container {padding:50px;@include calc('padding', '50px + 5vw');@include crossProp('display', 'flex');@include cross('flex-wrap', 'wrap');@include cross('flex-direction', 'row');-ms-flex-pack:center;@include cross('justify-content', 'center');-ms-flex-line-pack:center;@include cross('align-content', 'center');-ms-flex-align:center;@include cross('align-items', 'center');color:#d1dae0;
                .feature_icon {display:block;position:absolute;top:50%;left:50%;width:100%;height:100%;@include cross('transform', 'translate(-50%,-50%) scale(1)');@include selectable(none, none, none);overflow:hidden;

                    svg {display:block;background-color:transparent;width:100%;min-width: auto;min-height: 100%;@include translate(-50%, -50%);top: 50%;left: 50%;position: absolute;
                        &#feature_icon__structure {
                            polyline {opacity:0;@include cross('transform', 'rotate(0deg)');fill:transparent;stroke:rgba(#fff,.2);stroke-width:2px;will-change:will-change/* firefox ~42*/;will-change:auto;
                                &:nth-child(1) {@include cross('transform-origin', '56% 34%');@include animation(zoom_fade_1 20s cubic-bezier(.56,.05,.57,.96) 0s infinite);@include cross('animation-play-state','paused');}
                                &:nth-child(2) {@include cross('transform-origin', '52% 23%');@include animation(zoom_fade_2 20s cubic-bezier(.56,.05,.57,.96) 4s infinite);@include cross('animation-play-state','paused');}
                                &:nth-child(3) {@include cross('transform-origin', '40% 36%');@include animation(zoom_fade_3 20s cubic-bezier(.56,.05,.57,.96) 8s infinite);@include cross('animation-play-state','paused');}
                                &:nth-child(4) {@include cross('transform-origin', '71% 46%');@include animation(zoom_fade_4 20s cubic-bezier(.56,.05,.57,.96) 12s infinite);@include cross('animation-play-state','paused');}
                                &:nth-child(5) {@include cross('transform-origin', '56% 58%');@include animation(zoom_fade_5 20s cubic-bezier(.56,.05,.57,.96) 16s infinite);@include cross('animation-play-state','paused');}
                            }
                        }
                        &#feature_icon__feeds {@include gradient('top', (#005f90 0%), '', (#5926a0 100%));
                            .st0 {fill:rgba(#fff,.05);}
                            .st1 {fill:rgba(#fff,.2);}

                            g {@include animation(scroll_feed 6s linear 0s infinite);@include cross('animation-play-state','paused');will-change:will-change/* firefox ~42*/;will-change:auto;
                                &:nth-child(odd) {@include cross('animation-direction', 'reverse');}
                                &:nth-child(even) {@include cross('animation-direction', 'normal');}

                                &:nth-child(1) {@include cross('animation-duration', '9s');}
                                &:nth-child(2) {@include cross('animation-duration', '7s');}
                                &:nth-child(3) {@include cross('animation-duration', '12s');}
                                &:nth-child(4) {@include cross('animation-duration', '10s');}
                            }
                        }
                        &#feature_icon__wave {@include gradient('top', (#a4b357 0%), '', (#75890c 100%));
                            
                            .wave {@include animation(wave 3s linear 0s infinite);@include cross('animation-play-state','paused');stroke:#fff;stroke-width:.1px;fill:transparent;opacity:0;@include transition(opacity 300ms);will-change:will-change/* firefox ~42*/;will-change:auto;
                                &:nth-child(1), &:nth-child(30)   {@include cross('animation-duration', '9s');opacity:.45}
                                &:nth-child(2), &:nth-child(29)   {@include cross('animation-duration', '7.5s');opacity:.4}
                                &:nth-child(3), &:nth-child(28)   {@include cross('animation-duration', '8s');opacity:.45}
                                &:nth-child(4), &:nth-child(27)   {@include cross('animation-duration', '7s');opacity:.3}
                                &:nth-child(5), &:nth-child(26)   {@include cross('animation-duration', '6s');opacity:.35}
                                &:nth-child(6), &:nth-child(25)   {@include cross('animation-duration', '6.5s');opacity:.3}
                                &:nth-child(7), &:nth-child(24)   {@include cross('animation-duration', '7s');opacity:.2}
                                &:nth-child(8), &:nth-child(23)   {@include cross('animation-duration', '5.5s');opacity:.28}
                                &:nth-child(9), &:nth-child(22)   {@include cross('animation-duration', '5s');opacity:.15}
                                &:nth-child(10), &:nth-child(21)  {@include cross('animation-duration', '6s');opacity:.2}
                                &:nth-child(11), &:nth-child(20)  {@include cross('animation-duration', '4s');opacity:.25}
                                &:nth-child(12), &:nth-child(19)  {@include cross('animation-duration', '4.5s');opacity:.18}
                                &:nth-child(13), &:nth-child(18)  {@include cross('animation-duration', '5s');opacity:.05}
                                &:nth-child(14), &:nth-child(17)  {@include cross('animation-duration', '5.5s');opacity:.1}
                                &:nth-child(15), &:nth-child(16)  {@include cross('animation-duration', '4s');opacity:.05}

                                &:nth-child(2n + 1) {@include cross('animation-direction','reverse');}

                                @for $i from 1 through 30 {
                                    $delay:random(500) + 200;
                                    &:nth-child(#{$i}) {@include cross('animation-delay', '#{$delay}ms');@include cross('transition-delay', '#{$delay}ms');}
                                }
                            }
                        }
                        &#feature_icon__cogs {@include gradient('radial', (#3a4856 0%), '#1f2933 60%', (#0f161d 100%));
                            // name duration timing-function delay iteration-count direction fill-mode play-state;
                            // @include animation(NAME DURATION REPEAT DIRECTION TIMING, NAME DURATION REPEAT DIRECTION TIMING);
                            .cog {@include animation(rotate_elem 8s linear 0s infinite normal forwards paused);@include cross('transform-origin','center');will-change:will-change/* firefox ~42*/;will-change:auto;
                                &.cog_back {fill:rgba(#000,.2)}
                                &.cog_front {fill:rgba(#fff,.4)}

                                &:nth-child(1) {@include cross('transform-origin','center');@include cross('animation-duration','12');}
                                &:nth-child(2) {@include cross('transform-origin','37.5% 28.5%');@include cross('animation-duration','12');@include cross('animation-direction','reverse');}
                                &:nth-child(3) {@include cross('transform-origin','37.5% 71.5%');@include cross('animation-duration','12');@include cross('animation-direction','reverse');}
                                &:nth-child(4) {@include cross('transform-origin','26% 88%');@include cross('animation-duration','12');}
                                &:nth-child(5) {@include cross('transform-origin','30% 50%');}
                                &:nth-child(6) {@include cross('transform-origin','43.5% 70%');@include cross('animation-direction','reverse');}
                            }
                        }
                        &#feature_icon__rocket {background-image:url('/static/img/bg_title_slide__trial.jpg');@include background-behavior();
                            path {
                                &.rocket__shadow {opacity:.2;}
                                &.rocket__fire {fill:#E0995E}
                                &.rocket__fire_light {fill:#F5CF87}
                                &.rocket__wing {fill:#C75C5C}
                                &.rocket__body {fill:#E0E0D1}
                                &.rocket__window {fill:$d-dgray}
                                &.rocket__star_line {stroke:#fff;stroke-width:12px;stroke-linecap:round;stroke-linejoin:round;@include cross('transform', 'translate(18%,-32%) scale(1)');@include animation(starline 7s infinite forwards cubic-bezier(0.83, 0, 0.17, 1));@include cross('animation-play-state','paused');}
                            }
                            g {position:relative;will-change:will-change/* firefox ~42*/;will-change:auto;
                                &.rocket__fire_big {@include animation(flight 15000ms infinite forwards ease-in-out);@include cross('animation-delay', '350ms');@include cross('animation-play-state','paused');}
                                &.rocket__fire_small {@include animation(flight 15000ms infinite forwards ease-in-out);@include cross('animation-delay', '200ms');@include cross('animation-play-state','paused');}
                                &.rocket__main {@include animation(flight 15000ms infinite forwards ease-in-out);@include cross('animation-play-state','paused');z-index:2;}
                                &.rocket__star_lines {
                                    &.line__1 {z-index:0;
                                        path.rocket__star_line {opacity:.15;
                                            @for $i from 1 through 30 {
                                                $delay:($i - 1) * 200;
                                                $duration:12000 + $i * 100;
                                                &:nth-child(#{$i}) {@include cross('animation-delay', '#{$delay}ms');@include cross('animation-duration', '#{$duration}ms');}
                                            }
                                        }
                                    }
                                    &.line__2 {z-index:1;
                                        path.rocket__star_line {opacity:.5;
                                            @for $i from 1 through 30 {
                                                $delay:($i - 1) * 200;
                                                $duration:7000 + $i * 100;
                                                &:nth-child(#{$i}) {@include cross('animation-delay', '#{$delay}ms');@include cross('animation-duration', '#{$duration}ms');}
                                            }
                                        }
                                    }
                                    &.line__3 {z-index:3;
                                        path.rocket__star_line {opacity:.7;
                                            @for $i from 1 through 30 {
                                                $delay:($i - 1) * 200;
                                                $duration:3000 + $i * 100;
                                                &:nth-child(#{$i}) {@include cross('animation-delay', '#{$delay}ms');@include cross('animation-duration', '#{$duration}ms');}
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &#feature_icon__templates {@include gradient('diagonalTop', (#a4c6e0 0%), '', (#4a7298 100%));
                            .square {fill:rgba(#fff,.3);opacity:0;@include cross('transform', 'translate(-100%, 0)');@include animation(square_show 5s forwards cubic-bezier(0.83, 0, 0.17, 1));@include cross('animation-play-state','paused');will-change:will-change/* firefox ~42*/;will-change:auto;
                                &:nth-child(2n + 3) {@include cross('transform', 'translate(0, -100%)');}
                                &:nth-child(3n + 2) {@include cross('transform', 'translate(0, 100%)');}
                                &:nth-child(4n + 3) {@include cross('transform', 'translate(100%, 0)');}

                                &:nth-child(3n + 5) {fill:rgba(#fff,.4);}
                                &:nth-child(2n + 4) {fill:rgba(#fff,.2);}
                                &:nth-child(5n + 1) {fill:rgba(#fff,.1);}

                                @for $i from 1 through 32 {
                                    $delay:($i - 1) * 300;
                                    $duration:2000 + $i * 200;
                                    &:nth-child(#{$i}) {@include cross('animation-delay', '#{$delay}ms');@include cross('animation-duration', '#{$duration}ms');}
                                }
                            }
                        }
                        &#feature_icon__handlers {background-image:url('/static/img/bg_title_slide__handlers.jpg');@include background-behavior();
                            .line {fill:none;stroke:rgba(#fff,.2);stroke-width:5px;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:4500;stroke-dashoffset:4500;opacity:0;@include animation(line_show 9000ms infinite forwards cubic-bezier(0.83, 0, 0.17, 1));@include cross('animation-play-state','paused');will-change:will-change/* firefox ~42*/;will-change:auto;
                                @for $i from 1 through 6 {
                                    $delay:($i - 1) * 7000;
                                    $duration:7000 + $i * 200;
                                    &:nth-child(#{$i}) {@include cross('animation-delay', '#{$delay}ms');}
                                    &:nth-child(#{$i+1}) {@include cross('animation-delay', '#{$delay}ms');}
                                }
                            }
                        }
                        &#feature_icon__partners {
                            circle {stroke-width:0px;fill:#fff;opacity:.4;filter: url(#blur__15);@include animation(lights_move 15000ms ease-in 0s infinite alternate both paused);will-change:will-change/* firefox ~42*/;will-change:auto;
                                &:nth-child(1) {@include cross('transform','rotate(47deg) translate(-10%, 0)');@include cross('animation-direction', 'alternate-reverse');filter: url(#blur__15);opacity:.2;}
                                &:nth-child(2) {@include cross('animation-delay', '900ms');@include cross('transform','rotate(220deg) translate(-50%, 20%)');filter: url(#blur__35);opacity:.2;}
                                &:nth-child(3) {@include cross('animation-direction', 'alternate-reverse');@include cross('transform','rotate(54deg) translate(10%, 40%)');filter: url(#blur__10);opacity:.3;}
                                &:nth-child(4) {@include cross('transform','rotate(89deg) translate(40%, 50%)');filter: url(#blur__5);opacity: .6;}
                                &:nth-child(5) {@include cross('animation-delay', '100ms');@include cross('animation-direction', 'alternate-reverse');@include cross('transform','rotate(135deg) translate(40%, 50%)');filter: url(#blur__25);opacity: .3;}
                                &:nth-child(6) {@include cross('transform','rotate(12deg) translate(-35%, 20%)');filter: url(#blur__2);opacity: .1;}
                                &:nth-child(7) {@include cross('animation-delay', '250ms');@include cross('transform','rotate(326deg) translate(-10%, -50%)');filter: url(#blur__5);opacity: .05;}
                                &:nth-child(8) {@include cross('animation-delay', '500ms');@include cross('animation-direction', 'alternate-reverse');@include cross('transform','rotate(189deg) translate(-25%, 50%)');filter: url(#blur__5);opacity: .4;}
                                &:nth-child(9) {@include cross('transform','rotate(27deg) translate(25%, -20%)');filter: url(#blur__2);opacity: .1;}
                            }
                        }
                    }
                }
                .feature_text {display:inline-block;vertical-align:middle;position:relative;@include cross('flex', '2 1 auto');z-index:6;
                    h2 {@include calc('font-size', '36px + 3vw + 3vh');padding-bottom:.5em;letter-spacing:-.05em;}
                    h3 {font-size: 36px;font-weight: bold;padding-bottom: .3em;font-style: italic;}
                }

                &.__left_side {
                    .feature_text {padding-left:35vw;}
                }
                &.__right_side {
                    .feature_text {padding-right:35vw;}
                }
            }

            &.__in_viewport {
                .container {
                    .feature_icon {
                        svg {
                            &#feature_icon__structure {
                                polyline {@include cross('animation-play-state','running');}
                            }
                            &#feature_icon__feeds {
                                g {@include cross('animation-play-state','running');}
                            }
                            &#feature_icon__wave {
                                .wave {@include cross('animation-play-state','running');}
                            }
                            &#feature_icon__cogs {
                                .cog {@include cross('animation-play-state','running');}
                            }
                            &#feature_icon__rocket {
                                path.rocket__star_line {@include cross('animation-play-state','running');}
                                g {
                                    &.rocket__fire_big {@include cross('animation-play-state','running');}
                                    &.rocket__fire_small {@include cross('animation-play-state','running');}
                                    &.rocket__main {@include cross('animation-play-state','running');}
                                }
                            }
                            &#feature_icon__templates {
                                .square {@include cross('animation-play-state','running');}
                            }
                            &#feature_icon__handlers {
                                .line {@include cross('animation-play-state','running');}
                            }
                            &#feature_icon__partners {
                                circle {@include cross('animation-play-state','running');}
                            }
                        }
                    }
                }
            }

            &.slide__header {position:relative;margin:auto;@include box-sizing(border-box);background-color:#fff;
                #logo_wrapper {position: absolute;width: 100%;top: 50%;left: 50%;@include translate(-50%, -50%);text-align:center;@include selectable(none, none, none);
                    #logo__svg {display:block;overflow:visible;position:relative;width:100%;@include cross('transform', 'translate3d(0%, 0%, 0)');@include cross('backface-visibility', 'hidden');z-index:1;
                        #layout {
                            * {fill:#fff;@include transition(all 300ms cubic-bezier(.56,.05,.57,.96));opacity:0;@include cross('transform-origin', 'center');
                                @for $i from 1 through 7 {
                                    $delay:($i - 1) * 100;
                                    &:nth-child(#{$i}) {@include cross('transition-delay', '#{$delay}ms');}
                                }
                            }
            
                            .from_left {@include cross('transform', 'translate(-10%, 0) scale(2)');}
                            .from_right {@include cross('transform', 'translate(10%, 0) scale(2)');@include cross('transform-origin', '0 50%');}
                            .from_top {@include cross('transform', 'translate(0, -10%) scale(2)');@include cross('transform-origin', '0 50%');}
                            .from_bottom {@include cross('transform', 'translate(0, 10%) scale(2)');}
                        }
                        #bg_lay {fill:url(#logo_bg_gradient);}
                        #symbols {
                            * {fill:#fff;opacity:0;@include cross('transform', 'translate(150%, -150%) scale(5)');@include transition(all 600ms cubic-bezier(.56,.05,.57,.96));@include filter('blur',40);@include cross('transform-origin', 'center');
                                @for $i from 1 through 5 {
                                    $delay:800 + ($i - 1) * 150;
                                    &:nth-child(#{$i}) {@include cross('transition-delay', '#{$delay}ms');}
                                }
                            }
                        }
                        #animated {
                            #bend {fill:#fff;stroke:#fff;stroke-width:2;@include transition(all 300ms cubic-bezier(.56,.05,.57,.96));@include cross('transition-delay', '300ms');opacity:1;@include cross('transform', 'translate(0, -10%) scale(2)');@include cross('transform-origin', '0 50%');}
                        }
                    }
                    #tagline {position: relative;color: #00a9ff;@include calc('font-size', '16px + 1.5vw + 1.5vh');padding: 0 10vw 0 20vw;font-weight: bold;margin-top: -10vmin;@include translate(0,50vh);opacity:0;@include transition(all 400ms cubic-bezier(.56,.05,.57,.96));z-index: 1;}
            
                    &.active {
                        #logo__svg {
                            #layout {
                                * {opacity:1;@include cross('transform', 'translate(0, 0) scale(1)');}
                            }
                            #symbols {
                                * {opacity:1;@include scale(1);@include filter('blur',0);}
                            }
                            #animated {
                                #bend {@include cross('transform', 'translate(0, 0) scale(1)');@include animation(swing 400ms forwards cubic-bezier(0.250, 0.460, 0.450, 0.940));@include cross('animation-delay', '2500ms');}
                            }
                        }
                        #tagline {@include translate(0,0);opacity:1;@include cross('transition-delay', '2500ms');}
                    }
                }
            }

            &#slide__structure {@include gradient('left', (#240b36 0%), '', (#c31432 100%));
                .feature_icon {
                    &:after {content:'';position:absolute;top:0;left:0;right:0;bottom:0;z-index:1;@include cross('transform-origin', '52% 23%');@include animation(backdrop_blur 4s cubic-bezier(.56,.05,.57,.96) .6s infinite);@include cross('animation-play-state','paused');}
                }

                &.__in_viewport {
                    .feature_icon {
                        &:after {@include cross('animation-play-state','running');}
                    }
                }
            }
            &#slide__handlers {
                .feature_text {color:#fff;}
            }
            &#slide__instruments {
                .feature_text {color:#fff;
                    ul {position:relative;z-index:2;
                        li {padding-right:50px;
                            &:last-child {padding:0;}
                        }
                    }
                }
            }
            &#slide__trial  {
                .form_wrapper {margin-top:30px;text-align:center;}
            }
            &#slide__partners  {@include gradient('left', (#243B55 0%), '', (#141E30 100%));
                .centered__inner {padding-bottom:90px;}
                .feature_text {text-align: right;
                    .flex_row {
                        & > * {display:block;@include cross('flex', '0 0 50%');}
                        h2 {padding-right: 10vw;}
                        .logos_list {
                            li {display:inline-block;width:150px;height:auto;float: left;padding: 10px;border: 1px solid rgba(255,255,255,.2);margin: 0 10px 10px 0;@include border-radius(10px);
                                img {width:100%;height:auto;}
                            }
                        }
                    }
                }
            }
        }
    }

    /* ADMIN PANEL */
    &#adminpanel_content {background-color:lighten($d-dgray, 75%);padding-left:140px;
        .header {position:fixed;top:0;left:0;bottom:0;background-color:$d-dgray;color:#e4eaf1;z-index:9;
            .section__content {
                .logo {
                    a {display:block;position:relative;margin:auto;border-bottom:20px solid lighten($d-dgray, 75%);
                        #logo {display:block;width:100px;height:auto;background-color:lighten($d-dgray, 75%);
                            * {fill:#004c73;}
                        }
                    }
                    &.__loading {
                        a {
                            #logo {
                                * {@include animation(logo_loading 1000ms infinite forwards cubic-bezier(0.250, 0.460, 0.450, 0.940));
                                    @for $i from 1 through 7 {
                                        $delay:($i - 1) * 400;
                                        &:nth-child(#{$i}) {@include cross('animation-delay', '#{$delay}ms');}
                                    }
                                }
                            }
                        }
                    }
                }
                .box {position:relative;color:#525c67;@include transition( (color 200ms cubic-bezier(.56,.05,.57,.96), background-color 200ms cubic-bezier(.56,.05,.57,.96)) );text-align:center;
                    label {padding:10px 20px;cursor:pointer;
                        .rticon {color:inherit;width:50px;height:50px;font-size:32px;text-align:center;line-height:60px;
                            &:after {content:'\E197'}

                            &.website_box__icon  {
                                &:after {content:'\E372'}
                            }
                            &.login_box__icon  {
                                &:after {content:'\E624'}
                            }
                        }
                    }

                    .box__dropdown {display:block;position:absolute;left:unset;right:200%;top:-10px;background-color:#fff;@include transition( (transform 0ms cubic-bezier(.56,.05,.57,.96), opacity 0ms cubic-bezier(.56,.05,.57,.96)) );opacity:0;@include translate3d (30px, 0 , 0);@include box-shadow(-2px 5px 15px -5px rgba(0,0,0,0.5));
                        &:before {content:'';position:absolute;top:30px;left:-15px;width:30px;height:30px;background-color:inherit;@include rotate(45deg);}
                        .box__dropdown_inner {@include calc('max-height', '100vh - 75px');overflow:auto;}
                        .dropdown__item {text-align:left;
                            a {padding:15px 20px;display:block;position:relative;min-width:200px;
                                .rticon {margin:0 5px 0 0;}

                                .all_icon {
                                    &:after {content:'\E156'}
                                }
                                .profile_icon {
                                    &:after {content:'\E624'}
                                }
                                .billing_icon {
                                    &:after {content:'\E038'}
                                }
                                .exit_icon {
                                    &:after {content:'\E389'}
                                }
                                .text {}
                                &.goto {}

                                &:hover {background-color:rgba(#000,.05);z-index:1;}
                            }
                        }
                    }

                    &:hover, &.hover {background-color:$d-yellow;color:#000;
                        .box__dropdown {display:block;opacity:1;@include translate3d (0px, 0 , 0);left:100%;right:unset;@include cross('transition-duration', '300ms');z-index:1002;}
                    }

                    &.login_box  {
                        &:after {content:'';width:80%;display:block;position: relative;top: 10px;margin:0px auto 20px auto;height:1px;background-color:rgba(#fff,.1);}
                    }
                }

                .menu_sidebar {
                    .navbar {position:relative;width:auto;
                        .navbar__list {
                            li {text-align:center;color:#525c67;@include transition( (color 200ms cubic-bezier(.56,.05,.57,.96), background-color 200ms cubic-bezier(.56,.05,.57,.96)) );
                                a {color:inherit;display:block;padding:5px 0;
                                    .rticon {color:inherit;width:50px;height:50px;font-size:24px;text-align:center;line-height:60px;
                                        &:after {content:'\E197'}

                                        &.icon_pages {
                                            &:after {content:'\E511'}
                                        }
                                        &.icon_files {
                                            &:after {content:'\E139'}
                                        }
                                        &.icon_feeds {
                                            &:after {content:'\E115'}
                                        }
                                        &.icon_config {
                                            &:after {content:'\E119'}
                                        }
                                        &.icon_team {
                                            &:after {content:'\E490'}
                                        }
                                        &.icon_settings {
                                            &:after {content:'\E137'}
                                        }
                                    }
                                    .text {font-size:0;opacity:0;}
                                }
                                &:hover, &.active {background-color:$d-yellow;color:#000;@include box-shadow(inset -6px 0 10px -10px rgba(#000,0.6));}
                            }
                        }
                    }
                }
            }
        }
        .main_content {padding:40px 40px 40px 0;min-height:100vh;@include box-sizing(border-box);
            .section__content {
                h1#title {padding:20px 0;margin:-40px 0 20px 0;font-size:32px;color:#525c66;
                    .website_icon {margin-right:10px;
                        &:after {content:'\E371'}
                    }
                    a {display:block;font-size:16px;text-decoration:none;margin-left:40px;
                        .text {display:inline;border-bottom:1px solid rgba(#004c73,.2);@include transition(all 200ms cubic-bezier(.56,.05,.57,.96));}

                        .external_icon {margin: 0 5px;
                            &:after {content:'\E390'}
                        }
                        &:hover {
                            .text {border-bottom-color:transparent;}
                        }
                    }
                }
                h2 {color:#525c66;margin-bottom:20px;
                    a.goback {font-size: 16px;float: left;margin: 2px 5px 0 -35px;width: 30px;height: 30px;text-align: center;line-height: 30px;color:$d-gray;
                        span {
                            &:after {content:'\E222'}
                        }

                        &:hover {background-color:$d-yellow;color:#000;}
                    }
                }
                .filter_inside {position:relative;padding-right:310px;
                    #filter {position:absolute;width:300px;top:50%;right:0;@include translate(0, -50%);@include box-sizing(border-box);padding:0 0 0 40px;
                        .filter_icon {display: inline-block;position: absolute;left: 0;top: 50%;@include translate(0, -20%);color: rgba(#000,0.1);font-size: 28px;}
                        label {
                            .clear_icon {position: absolute;top: 50%;right: 0;font-size: 20px;@include translate(0, -10%);cursor:pointer;@include transition(all 300ms cubic-bezier(.56,.05,.57,.96));color:$d-blue;opacity:0;
                                &:hover {color:$d-yellow;}
                            }

                            input:not(:placeholder-shown) {
                                & ~ .clear_icon {opacity:1;z-index:1;}
                            }
                        }
                    }
                }
                .inline_buttons_panel {padding:10px 0;}
                .sites_panel {@include cross('flex-wrap', 'wrap');
                    .site_block {@include cross('flex', '2 1 auto');width:25%;padding-bottom:14%;position:relative;
                        .block__inner {position:absolute;top:0;left:0;right:20px;bottom:20px;background-color:#004c73;color:#fff;overflow:hidden;
                            .site {padding:20px 15px 15px 20px;display:block;cursor:pointer;
                                img {display:none;@include transition(all 300ms cubic-bezier(.56,.05,.57,.96));
                                    &[src] {display:block;position: absolute;top: 0;left: 0;width: 100%;}
                                }
                                figcaption {position:relative;z-index:1;
                                    a {color:#fff;background-color:$d-dgray;margin: 0 20px 0 0;font-size: 24px;padding: 0 8px;
                                        .external_icon {font-size: 18px;
                                            &:after {content:'\E223';}
                                        }
                                        &:hover {background-color:$d-yellow;color:$d-dgray;}
                                    }
                                    .text {display:inline;position:relative;font-size:24px;background-color:$d-dgray;@include box-shadow((-10px 0 0 $d-dgray, 10px 0 0 $d-dgray));}
                                }

                                &.add_new {text-align:center;border: 4px solid #bfd6e6;background-color: #fff;height: 100%;@include box-sizing(border-box);padding-top: 40px;
                                    .card_header {
                                        .rticon {font-size:48px;color: #bfd6e6;}
                                    }
                                }

                                &:hover {
                                    img {@include scale(1.1);}
                                }
                            }
                        }
                    }
                }
                .file-path {
                    li {margin: 0 10px 0 0;
                        &:after {display:none;}
                        .sidearrow_icon {vertical-align:2px;color: #ccc;
                            &:after {content:'\E601';display:block;@include rotate(90deg);}
                        }
                        &:last-child {
                            .sidearrow_icon {display:none;}
                        }
                    }
                }
                .file-list {
                    .pico_icon {font-size:16px;margin:0 10px 0 0;color:#b6bfca;}
                    .folder_icon {
                        &:after {content:'\E145';}
                    }
                    .file_icon {
                        &:after {content:'\E037';}
                    }
                }

                .avatar {width: 55px;vertical-align: middle;display: inline-block;margin: 0 20px 0 0;
                    .avatar__inner {width: inherit;padding-bottom: 100%;position: relative;
                        img {width: 100%;min-height: 100%;display: block;position: absolute;top: 50%;left: 50%;@include border-radius(15px);@include translate(-50%, -50%);}
                    }
                }
            }
        }
    }
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {margin:-#{$footer_height} auto 0;height:#{$footer_height};color:rgba(#fff,.2);padding: 0 25% 0 80px;position:relative;overflow:hidden;z-index:1;
    .container {display:table;width:100%;height:inherit;
        .row {display:table-cell;vertical-align:bottom;}
    }
    ul.list_inline {display:block;padding-bottom:15px;
        li {display:inline-block;padding:0 15px 0 0;
            &:after {content:'|';margin: 0 0 0 15px;color:rgba(#fff,.1);}
            &:last-child {padding:0;
                &:after {display:none;}
            }
            a {color:#fff;text-decoration:none;
                span {display:inline;border-bottom:1px solid rgba(#fff,.3);@include transition(all 300ms cubic-bezier(.56,.05,.57,.96));}
                &:hover {
                    span {border-bottom-color:transparent;}
                }
            }
        }
    }
    .copyright {}
    #design {display:block;width: 70px;position: absolute;bottom: -20px;right: 25%;margin: 0 -70px 0 0;
        a#design__link {display:block;cursor:pointer;text-decoration:none;
            svg#design__field {display:block;overflow:visible;shape-rendering:geometricPrecision;
                & > * {@include transition(all 300ms cubic-bezier(.56,.05,.57,.96));will-change:will-change/* firefox ~42*/;will-change:transform;}
                #design__shadow {stroke:rgba(255,255,255,.2);fill:transparent;}
                #design__label {stroke:rgba(#fff,.6);stroke-width: 1px;fill: #253c4e;}
                #design__text {fill:rgba(#fff,.6);}
            }

            &:hover {
                svg#design__field {
                    #design__shadow {@include cross('transform', 'rotate(3deg) translate(8%, -3%)');}
                    #design__label {@include cross('transform', 'translate(0, -10px)');}
                    #design__text {fill:rgba(#fff,1);@include cross('transform', 'translate(0, -10px)');}
                }
            }
        }
    }

    &.slide__footer {@include translate(0, 90px);opacity:0;@include transition(all 300ms cubic-bezier(.56,.05,.57,.96));min-height:unset!important;z-index:9;
        .container {padding:0!important;display:block!important;}
    }
}
    #app.partners {
        .footer.slide__footer {@include translate(0, 0);opacity:1;}
    }

@import 'mixins/native.scss';

@include keyframes(scroll_feed) {
    to {@include translate(0, -100%);}
}
@include keyframes(rotate_elem) {
    to {@include rotate(360deg);}
}
@include keyframes(logo_loading) {
    0% {opacity:1;}
    50% {opacity:0.7;}
    100% {opacity:1;}
}
@include keyframes(square_show) {
    0% {opacity:0;}
    100% {opacity:1;@include cross('transform', 'translate(0, 0)');}
}
@include keyframes(line_show) {
    0% {stroke-dashoffset:4500;opacity:0;}
    15% {stroke-dashoffset:4500;opacity:1;}
    85% {stroke-dashoffset:0;opacity:1;}
    100% {stroke-dashoffset:0;opacity:0;}
}
@include keyframes(swing) {
    0% {fill:#e0e0d1;opacity:1;@include cross('transform', 'rotate3d(1, 1, 0, 0deg)');@include cross('transform-origin', '40.3%');}
    100% {fill:$d-dgray;opacity:0.2;@include cross('transform', 'rotate3d(1, 1, 0, -180deg)');@include cross('transform-origin', '40.3%');}
}
@include keyframes(flight) {
    0% {@include cross('transform', 'translate(0,0) scale(1)');}
    20% {@include cross('transform', 'translate(-1.5%, -2.5%) scale(1)');}
    40% {@include cross('transform', 'translate(1%, -2.5%) scale(1.1)');}
    60% {@include cross('transform', 'translate(0.5%, 6%) scale(0.9)');}
    80% {@include cross('transform', 'translate(-3%, 6%) scale(0.8)');}
    100% {@include cross('transform', 'translate(0,0) scale(1)');}
}
@include keyframes(starline) {
    0% {@include cross('transform', 'translate(18%,-32%) scale(1)');}
    100% {@include cross('transform', 'translate(-180%, 320%) scale(1)');}
}
@include keyframes(wave) {
    to {@include cross('transform','translateX(-100%)');}
}

@include keyframes(zoom_fade_1) {
    0% {opacity:0;@include cross('transform','rotate(0deg) scale(1)');}
    5% {opacity:1;@include cross('transform','rotate(0deg) scale(1)');}
    20% {opacity:1;}
    25% {opacity:0;@include cross('transform','rotate(90deg) scale(3.3)');}
    100% {opacity:0;@include cross('transform','rotate(90deg) scale(3.3)');}
}

@include keyframes(zoom_fade_2) {
    0% {opacity:0;@include cross('transform','rotate(0deg) scale(1)');}
    5% {opacity:1;@include cross('transform','rotate(0deg) scale(1)');}
    20% {opacity:1;}
    25% {opacity:0;@include cross('transform','rotate(-90deg) scale(4.1)');}
    100% {opacity:0;@include cross('transform','rotate(-90deg) scale(4.1)');}
}
@include keyframes(zoom_fade_3) {
    0% {opacity:0;@include cross('transform','rotate(0deg) scale(1)');}
    5% {opacity:1;@include cross('transform','rotate(0deg) scale(1)');}
    20% {opacity:1;}
    25% {opacity:0;@include cross('transform','rotate(90deg) scale(3.7)');}
    100% {opacity:0;@include cross('transform','rotate(90deg) scale(3.7)');}
}
@include keyframes(zoom_fade_4) {
    0% {opacity:0;@include cross('transform','rotate(0deg) scale(1)');}
    5% {opacity:1;@include cross('transform','rotate(0deg) scale(1)');}
    20% {opacity:1;}
    25% {opacity:0;@include cross('transform','rotate(-90deg) scale(4.6)');}
    100% {opacity:0;@include cross('transform','rotate(-90deg) scale(4.6)');}
}
@include keyframes(zoom_fade_5) {
    0% {opacity:0;@include cross('transform','rotate(0deg) scale(1)');}
    5% {opacity:1;@include cross('transform','rotate(0deg) scale(1)');}
    20% {opacity:1;}
    25% {opacity:0;@include cross('transform','rotate(90deg) scale(5.6)');}
    100% {opacity:0;@include cross('transform','rotate(90deg) scale(5.6)');}
}
@include keyframes(backdrop_blur) {
    0% {@include cross('backdrop-filter','blur(0px)');}
    50% {@include cross('backdrop-filter','blur(0px)');}
    100% {@include cross('backdrop-filter','blur(10px)');}
}
@include keyframes(lights_move) {
    0% {@include cross('transform-origin', '50% 50%');}
    100% {@include cross('transform-origin', '55% 54%');}
}