* {text-rendering:optimizeLegibility;text-rendering:geometricPrecision;font-smooth:always;font-smoothing:antialiased;-moz-font-smoothing:antialiased;-webkit-font-smoothing:antialiased;-webkit-font-smoothing:subpixel-antialiased;outline:none;}

::selection {
    background:rgba(#000,.4); /* WebKit/Blink Browsers */
}
::-moz-selection {
    background:rgba(#000,.4); /* Gecko Browsers */
}

html {height:100%;
    body {font:15px/21px "Open Sans", Arial, sans-serif;height:100%;
        article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display:block;}
        #app {position:relative;width:100%;min-height:100%;height:auto !important;height:100%;z-index:1;
            &.overlaid {@include filter(blur, 5);@include transition(transform .2s ease);}
        }

        & > iframe {display:none;}
    }
}
    
h1, h2, h3, h4 {font:36px/1.2 "Open Sans", Arial, sans-serif;display:block;}
    h2 {font-size:28px;font-weight:900;
        &.section__title {text-align:center;padding:20px 0;font-size:240%;position:relative;z-index:1;
            &:before, &:after {content:'—';margin:0 .3em;}
        }
    }
    h3 {font-size:24px;font-weight:normal;}

strong {font-weight:bold;}
em, .italic {font-style:italic;}
sub {font-size:60%;vertical-align:top;line-height:1.5em;}

q {display:block;position:relative;color:#777;font:24px/1.5em Georgia, "Times New Roman", Times, serif;margin:0 30%;padding:20px 0 35px 0;
    &:before, &:after {display:block;font-size:3em;width:45px;margin-top:-7px;color:#ddd;}
        &:before {content:'\000AB';float:left;margin-left:-45px;}
        &:after {content:'\000BB';float:right;margin-right:-45px;text-align:right;}
    .legend {position:absolute;font-style:italic;font-size:.5em;top:100%;right:0;margin-top:-35px;
        &:before {content:'\02014\000A0';}
    }
}

blockquote {font:22px/1.2 "Open Sans", Arial, sans-serif;font-style:italic;color:#777;margin:10px 50px 1.5em;padding:0;
    &.quote__textblock {padding:40px 15vw;max-width:1300px;margin:auto;@include box-sizing(border-box);}
}

p {padding-bottom:15px;
    &.ps {border-top:1px solid rgba(#000, .3);padding-top:5px;padding-left:20px;padding-right:20px;margin-left:-20px;margin-right:-20px;font-size:80%;}
    &:empty {display:none;}
}

a {font-size:1em;color:#06c;outline:none;text-decoration:underline;cursor:pointer;
    &.action, &.action:visited {color:#06c;text-decoration:none;border-bottom:1px dashed #06c;}
    &.text {text-decoration:none;display:inline-block;
        span.text {display:inline;@include transition(all 0.2s ease-in-out);border-bottom:1px solid rgba(#06c, .6);}
        &:hover {
            span.text {border-bottom-color:transparent!important;}
        }
    }
    &:hover, &:visited:hover {text-decoration:none;border-bottom-color:transparent;}
}

.alignleft {float:left;clear:left;}
.aligncenter {margin:auto;clear:both;display:block;}
.alignright {float:right;clear:right;}

.clear {clear:both;}

.textcenter {text-align:center!important;}
.textleft {text-align:left!important;}
.textright {text-align:right!important;}

.flex_row {@include crossProp('display', 'flex');@include cross('flex-wrap', 'nowrap');@include cross('flex-direction', 'row');-ms-flex-pack:center;@include cross('justify-content', 'center');-ms-flex-line-pack:center;@include cross('align-content', 'center');-ms-flex-align:center;@include cross('align-items', 'center');}
.flex_col {@include crossProp('display', 'flex');display:flex;@include cross('flex-wrap', 'nowrap');@include cross('flex-direction', 'column');-webkit-justify-content:center;-ms-flex-pack:center;@include cross('justify-content', 'center');-ms-flex-line-pack:center;@include cross('align-content', 'center');-ms-flex-align:center;@include cross('align-items', 'center');}

.lblue {color:$d-lblue;}
.dblue {color:$d-blue;}
.gblue {color:$d-gblue;}
.lgreen {color:$d-lgreen;}
.dgreen {color:$d-dgreen;}
.gray {color:$d-gray;}
.red {color:$d-red;fill:$d-red;}
.purple {color:$d-purple;}
.brown {color:$d-brown;}
.orange {color:$d-orange;}
.yellow {color:$d-yellow;}
.turquoise {color:$d-turquoise;}

.inactive, *:disabled {@include selectable(none, none, none);}
.hidden {display:none!important;}

.centered__outer {display:table;width:100%;height:100%;
    &.__absolute {position:absolute;top:0;left:0;right:0;bottom:0;}
    .centered__inner {display:table-cell;vertical-align:middle; }
    .centered__inner:has(.centered__inner + img.set) {display:none!important;}
}

/* ANIMATION */
.animated {@include animated();}

/* INPUTS */
label {display:block;position:relative;overflow:hidden;@include box-sizing(border-box);}
    input.hidden_box {position:absolute;@include translate(-999px, -999px);opacity:0;visibility:hidden;width:0;height:0;max-width:0;max-height:0;}
    .form_label {margin-bottom:20px;overflow:visible;position:relative;
        &.__margin {margin-left:20px;position:relative;
            & > * {position:relative;}
        }
        &.__inline {display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:-moz-flexbox;display:flex;@include cross('flex-wrap', 'wrap');justify-content:-webkit-flex-start;justify-content:-ms-flex-start;justify-content:-moz-flex-start;justify-content:flex-start;
            & > * {position:relative;display:inline-block;vertical-align:bottom;@include cross('flex', '1 0');margin-left:-2px;
                &:first-child {margin-left:0;}
                &.__prevail {@include cross('flex', '1 1 auto');}
            }
        }
    }

@-webkit-keyframes autofill {
    to {color:#eee;background-color:transparent;}
}
@keyframes autofill {
    to {color:#eee;background-color:transparent;}
}

input {outline:none;
    &:focus {outline:none;}
    &::-webkit-input-placeholder {color:transparent;opacity:0;}
    &:-moz-placeholder {color:transparent;opacity:0;}
    &::-moz-placeholder {color:transparent;opacity:0;}
    &:-ms-input-placeholder {color:transparent;opacity:0;}
    
    &[type=number] {
        &::-webkit-outer-spin-button {-webkit-appearance:none;margin:0;}
        &::-webkit-inner-spin-button {-webkit-appearance:none;margin:0;}
    }

    &.unpromted {
        &::-webkit-input-placeholder {color:#B9B9B9;opacity:1;}
        &:-moz-placeholder {color:#B9B9B9;opacity:1;}
        &::-moz-placeholder {color:#B9B9B9;opacity:1;}
        &:-ms-input-placeholder {color:#B9B9B9;opacity:1;}
    }

    &:-moz-autofill {background-color:transparent;}
    &:-webkit-autofill {background-color:transparent;@include cross('animation-name', 'autofill');@include cross('animation-fill-mode', 'both');}
}
textarea {outline:none;overflow-x:hidden;
    &:focus {outline:none;}
    &::-webkit-input-placeholder {color:transparent;opacity:0;}
    &:-moz-placeholder {color:transparent;opacity:0;}
    &::-moz-placeholder {color:transparent;opacity:0;}
    &:-ms-input-placeholder {color:transparent;opacity:0;}

    &.unpromted {
        &::-webkit-input-placeholder {color:#B9B9B9;opacity:1;}
        &:-moz-placeholder {color:#B9B9B9;opacity:1;}
        &::-moz-placeholder {color:#B9B9B9;opacity:1;}
        &:-ms-input-placeholder {color:#B9B9B9;opacity:1;}
    }
}

.textfield, .textblock {display:inline-block;position:relative;color:#eee;width:100%;font:18px/1.2 Arial,Helvetica,sans-serif;padding:13px 0 0 10px;min-height:42px;@include box-sizing(border-box);border:2px solid rgba(#fff,0.3);background-color:transparent;@include transition(all 0.2s ease-in-out);outline:none;

    &:focus {border-color:#fff;}
    &:invalid, &.invalid {border-color:$d-red;}
    &:disabled {color:rgba(#fff,0.3);border-color:rgba(#fff,0.1);cursor:not-allowed;}

    option {color:#000!important}

    &:not(.unprompted) {
        & + .placeholder {position:absolute;left:0px;font:18px/21px "Open Sans", Arial, sans-serif;padding:10px 0px 0px 11px;color:rgba(#fff,0.6);@include transition(all 0.2s ease-in-out);@include selectable(none, none, none);@include cross('transform-origin', '1em 0');@include hidetext();white-space:nowrap;@include calc('max-width', '100% - 50px');z-index:0;}
        
        &:focus, &.not_empty {z-index:1;
            & + .placeholder {@include scale(.6);padding-top:5px;padding-left:9px;overflow:visible;cursor:text;}
        }
        &:-moz-autofill + .placeholder, &:-webkit-autofill + .placeholder {@include scale(.6);overflow:visible;cursor:text;}

        &.lightfield {border-width:0;border-bottom:2px solid rgba(#fff,0.3)!important;padding-left:0;
            & + .placeholder {padding-left:0;@include cross('transform-origin', '0 0');}

            & ~ hr.lightfield_line {display:block;position:absolute;bottom:0;left:0;border:none;clear:both;height:2px;width:100%;background-color:transparent;margin:0;@include selectable(none, none, none);z-index:1;
                &:before, &:after {content:'';position:absolute;top:0;border-bottom:2px solid;border-color:#fff;width:0%;@include transition(width 0.3s cubic-bezier(.88,.2,.48,.49));}
                &:before {left:50%}
                &:after {right:50%}
            }

            &:focus, &.focus {
                & ~ hr.lightfield_line {
                    &:before, &:after {width:50%;}
                }
            }
            &:invalid:not(:placeholder-shown) {
                &:before, &:after {width:50%;border-color:$d-red;}
            }

            &:valid:not(:placeholder-shown) {
                &:before, &:after {width:50%;border-color:$d-lgreen;}
            }
        }
    }

    &.textblock {min-height:70px;resize:none;
        &.autoresizable {min-height:2.2em;height:2.2em;resize:vertical;padding-bottom:0;}
    }
    &:not([placeholder]) {padding-top:0;}
}

label.checkbox__block {display:block;position:relative;padding:0 0 0 45px;min-height:20px;line-height:25px;cursor:pointer;
    .checkbox__icon {display:block;cursor:pointer;position:absolute;width:40px;height:20px;top:50%;margin-top:-10px;left:0;@include box-shadow(inset 0 0 0 1px $d-gray);@include transition(all 0.2s ease-in-out);@include border-radius(100px);
        &:after {content:'';position:absolute;width:12px;height:12px;background-color:$d-gray;top:4px;left:4px;@include transition(all 0.2s ease-in-out);@include border-radius(100px);}
    }
    &:hover {
        .checkbox__icon {@include box-shadow(inset 0 0 0 1px #333);
            &:after {background-color:#333;}
        }
    }
    .checkbox__text {
        .checkbox__text_a {display:inline;}
        .checkbox__text_b, & > em.semichecked {display:none;}
        em {color:#aaa;}
        user-select:none;
    }

    .checkbox__input:checked {
        & + .checkbox__icon {@include box-shadow(inset 0 0 0 1px $d-lblue);
            &:after {background-color:$d-lblue;left:24px;}
        }
        & ~ .checkbox__text {
            .checkbox__text_a {display:none;}
            .checkbox__text_b {display:inline;}
        }
    }
    .checkbox__input.semichecked, .checkbox__input.semichecked:hover {
        & + .checkbox__icon {@include box-shadow(inset 0 0 0 1px #333);
            &:after {background-color:#333;left:14px;}
        }
        & ~ .checkbox__text {
            em {display:inline;}
        }
    }
}

/* BUTTONS */
.button_wrapper {position:relative;@include cross('perspective', '800px');}

.buttonfield, input[type="button"], button[type="button"], input[type="submit"] {position:relative;display:inline-block;margin:0;background-color:transparent;border:none;white-space:nowrap;text-decoration:none;cursor:pointer;vertical-align:baseline;@include cross ('user-select', 'none');@include cross('transform','translateZ(0)');@include cross('transform-style', 'preserve-3d');-moz-osx-font-smoothing:grayscale;color:#323237;background:#fff;font:16px/50px "Open Sans", Arial, sans-serif;letter-spacing:1px;padding:0px;@include transition(all 500ms linear);text-transform:uppercase;min-width:200px;
    
    &:after, &:before {text-transform:uppercase;width:100%;height:100%;position:absolute;left:0;line-height:50px;}

    &:after {top:-98%; /* should be -100% but there's a gap in Chrome Version 34.0.1847.131 */color:#adadaf;background:#323237;content:attr(data-back);@include cross('transform', 'rotateX(90deg)');@include cross('transform-origin', '0% 100%');font-size:36px;line-height:40px;}
	
	&:before {top:100%;background:$d-yellow;color:#a33a3a;content:attr(data-fail);@include cross('transform', 'rotateX(-90deg)');@include cross('transform-origin', '0% 0%');}

    &:hover {@include cross('transform', 'rotateX(-90deg) translateY(100%)');@include cross('transform-origin', '50% 100%');}
    &.__fail  {background:#fff;@include cross('transform', 'rotateX(90deg) translateY(-100%)');@include cross('transform-origin', '50% 0%');}

    /* &:active {;} */
    &:disabled, &:disabled:hover {background-color:#F5F6F6!important;color:#53585d;@include box-shadow(inset 0 -4px 0 0 rgba(0, 0, 0, 0.15));cursor:default;}
}

/* SHOW PASSWORD BUTTON */
label.header_show_password {position:absolute;right:0px;bottom:0px;width:36px;height:42px;margin:0!important;padding:0!important;cursor:pointer;z-index:2;
    span.rticon {width:34px;height:42px;line-height:2.5;text-align:center;font-size:18px;color:rgba(#fff, .5);@include transition(all 0.2s ease-in-out);
        &:hover {color:#fff;}
        &:after {content:'\E053';}
    }
    input:checked + span.rticon:after {content:'\E052';}
}

/* ERROR BUBBLES */
.validation_msg {position:relative;text-align:left;z-index:9;
    &:before {content:attr(title);position:absolute;bottom:100%;left:0;@include border-radius(10px);@include box-shadow(0 10px 25px rgba(#000,.15));background-color:#fff;padding:15px;margin:0 0 20px -25px;}
    &:after {content:'';position:absolute;bottom:100%;left:0;width:0;height:0;border-style:solid;border-width:0 15px 25px 0;border-color:transparent #fff transparent transparent;@include rotate(360deg);margin:0 0 0 -24px;}

    &.kind_required, &.kind_minlength, &.kind_Date {color:$d-red;}
}

/* LANGUAGE TOGGLER */
.front_toggle_language {position:relative;float:right;
    .toggle_language__button {display:block;@include transition(all 0.2s ease-in-out);background:none;border:none;outline:none;text-align:left;color:#eee;padding:7px 10px;white-space:nowrap;text-decoration:none;overflow:hidden;@include box-sizing(border-box);cursor:pointer;line-height:46px;
        span.icon {display:inline-block;position:relative;width:25px;height:25px;@include transition(all 0.2s ease-in-out);@include background-behavior();@include border-radius(100px);@include box-shadow(0 0 0 1px #fff);vertical-align:-7px;z-index:1;}

        span.text {display:none;}

        &.__de-DE {
            span.icon {background-image:url(/static/img/lang_de.png);}
            & + .toggle_language__form .toggle_language__switcher.__de-DE {font-weight:bold;color:#fff;@include selectable(none, none, none);}
        }
        &.__en-US {
            span.icon {background-image:url(/static/img/lang_en.png);}
            & + .toggle_language__form .toggle_language__switcher.__en-US {font-weight:bold;color:#fff;@include selectable(none, none, none);}
        }
        &.__ru-RU {
            span.icon {background-image:url(/static/img/lang_ru.png);}
            & + .toggle_language__form .toggle_language__switcher.__ru-RU {font-weight:bold;color:#fff;@include selectable(none, none, none);}
        }
    }
    .toggle_language__form {position:absolute;bottom:100%;right:0%;background-color:#32373c;@include box-shadow(0 3px 5px rgba(#000,.2));opacity:0;@include transition( (opacity 0.2s ease-in-out, transform 0s ease-in-out) );@include cross('transition-delay', '.2s, .2s');@include scale(0);
        .toggle_language__scroll {
            &:before {content:'';display:block;width:12px;height:12px;position:absolute;bottom:-6px;right:16px;@include rotate(45deg);background-color:transparent;@include transition(all 0.2s ease-in-out);}
            .toggle_language__switcher {display:block;color:rgba(240,245,250,.7);background:none;border:none;outline:none;font-size:15px;line-height:40px;padding:7px 10px;text-align:left;@include box-sizing(border-box);white-space:nowrap;width:100%;cursor:pointer;@include transition(all 0.2s ease-in-out);
                span.icon {display:inline-block;width:15px;height:15px;position:relative;@include background-behavior();@include border-radius(100px);vertical-align:text-top;margin:0 5px 0 0;@include box-shadow(0 0 0 1px rgba(240,245,250,.4));}

                &.__de-DE {
                    span.icon {background-image:url(/static/img/lang_de.png);}
                }
                &.__en-US {
                    span.icon {background-image:url(/static/img/lang_en.png);}
                }
                &.__ru-RU {
                    span.icon {background-image:url(/static/img/lang_ru.png);}
                }
        
                &:hover {background-color:$d-red;}
            }
        }
    }

    &:hover, &.hover {z-index:5;
        .toggle_language__button {background-color:$d-red;}
        .toggle_language__form {opacity:1;@include scale(1);@include cross('transition-delay', '0s, 0s');
            .toggle_language__scroll {
                &:before {background-color:$d-red;}
            }
        }
    }
}

/* POPUPS */
@-webkit-keyframes fadeInUp {
    from {opacity:0;@include cross('transform', 'translate3d(0, 100%, 0)');}
    to {opacity:1;@include cross('transform', 'none');}
}

@keyframes fadeInUp {
    from {opacity:0;@include cross('transform', 'translate3d(0, 100%, 0)');}
    to {opacity:1;@include cross('transform', 'none');}
}

@-webkit-keyframes fadeOutDown {
    from {opacity:1;}
    to {opacity:0;@include cross('transform', 'translate3d(0, 100%, 0)');}
}
@keyframes fadeOutDown {
    from {opacity:1;}
    to {opacity:0;@include cross('transform', 'translate3d(0, 100%, 0)');}
}
#popup {position:fixed;bottom:0;left:0;right:0;height:0;z-index:9999;
    .popup__box {display:block;color:#fff;position:absolute;padding:15px 60px 15px 10px;font-weight:bold;text-align:center;@include box-sizing(border-box);width:100%;@include transition(all 0.4s ease-in-out);bottom:0;z-index:100;cursor:pointer;@include cross('animation-timing-function', 'cubic-bezier(.56,.05,.57,.96)');@include cross('animation-duration', '1500ms');@include cross('animation-fill-mode', 'both');opacity:0;@include cross('transform', 'translate3d(0, 100%, 0)');

        &.fadeInUp {@include cross('animation-name', 'fadeInUp');}
        &.fadeOutDown {@include cross('animation-name', 'fadeOutDown');@include selectable(none, none, none);}
        
        a {color:inherit}

        del.popup__close {padding:0;box-shadow:none;background-color:transparent;color:inherit;position:absolute;top:0;right:0;width:50px;height:100%;line-height:50px;text-decoration:none;border-left:1px solid rgba(255,255,255,.3);}

        &.popup_state__neutral {background-color:rgba(#fff,.75);color:#000;}
        &.popup_state__warning {background-color:$d-red;}
    }
}