/* FLASH-MESSAGES */
@-webkit-keyframes fadeInUp {
    from {opacity:0;@include cross('transform', ':translate3d(0, 100%, 0)');}
    to {opacity:1;-webkit-transform:none;transform:none;}
}

@keyframes fadeInUp {
    from {opacity:0;@include cross('transform', ':translate3d(0, 100%, 0)');}
    to {opacity:1;-webkit-transform:none;transform:none;}
}

@-webkit-keyframes fadeOutDown {
    from {opacity:1;}
    to {opacity:0;@include cross('transform', ':translate3d(0, 100%, 0)');}
}
@keyframes fadeOutDown {
    from {opacity:1;}
    to {opacity:0;@include cross('transform', ':translate3d(0, 100%, 0)');}
}

.animated {
    &.fadeInUp {@include cross('animation-name', 'fadeInUp');}
    &.fadeOutDown {@include cross('animation-name', 'fadeOutDown');}
}

#flash_messages {height:0;
    .alert {display:block;position:relative;max-width:30%;min-width:400px;margin:auto;padding:15px;font-weight:bold;text-align:center;@include box-sizing(border-box);@include transition(all 0.4s ease-in-out);@include border-radius(10px);@include box-shadow(0 10px 25px rgba(0,0,0,.15));background-color:#fff;top:25px;z-index:100;
        
        a {color:inherit}

        button.close {padding:0;margin:0 -7px 0 0;box-shadow:none;background-color:transparent;color:inherit;
            
            &:before {display:none}
            .rticon {
                &:after {content:'\E611';color:inherit;text-shadow:none;font-size:28px;}
            }
        }

        &.alert_error {color:$d-red}
    }
}