/* H fonts */
@font-face {
    font-family: 'Qanelas';
    src: url('/static/font/Qanelas-ThinItalic.eot');
    src: local('Qanelas Thin Italic'), local('Qanelas-ThinItalic'),
        url('/static/font/Qanelas-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('/static/font/Qanelas-ThinItalic.woff2') format('woff2'),
        url('/static/font/Qanelas-ThinItalic.woff') format('woff'),
        url('/static/font/Qanelas-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Qanelas';
    src: url('/static/font/Qanelas-SemiBoldItalic.eot');
    src: local('Qanelas SemiBold Italic'), local('Qanelas-SemiBoldItalic'),
        url('/static/font/Qanelas-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/static/font/Qanelas-SemiBoldItalic.woff2') format('woff2'),
        url('/static/font/Qanelas-SemiBoldItalic.woff') format('woff'),
        url('/static/font/Qanelas-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Qanelas';
    src: url('/static/font/Qanelas-Bold.eot');
    src: local('Qanelas Bold'), local('Qanelas-Bold'),
        url('/static/font/Qanelas-Bold.eot?#iefix') format('embedded-opentype'),
        url('/static/font/Qanelas-Bold.woff2') format('woff2'),
        url('/static/font/Qanelas-Bold.woff') format('woff'),
        url('/static/font/Qanelas-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Qanelas';
    src: url('/static/font/Qanelas-Regular.eot');
    src: local('Qanelas Regular'), local('Qanelas-Regular'),
        url('/static/font/Qanelas-Regular.eot?#iefix') format('embedded-opentype'),
        url('/static/font/Qanelas-Regular.woff2') format('woff2'),
        url('/static/font/Qanelas-Regular.woff') format('woff'),
        url('/static/font/Qanelas-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Qanelas';
    src: url('/static/font/Qanelas-RegularItalic.eot');
    src: local('Qanelas Regular Italic'), local('Qanelas-RegularItalic'),
        url('/static/font/Qanelas-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('/static/font/Qanelas-RegularItalic.woff2') format('woff2'),
        url('/static/font/Qanelas-RegularItalic.woff') format('woff'),
        url('/static/font/Qanelas-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Qanelas';
    src: url('/static/font/Qanelas-HeavyItalic.eot');
    src: local('Qanelas Heavy Italic'), local('Qanelas-HeavyItalic'),
        url('/static/font/Qanelas-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('/static/font/Qanelas-HeavyItalic.woff2') format('woff2'),
        url('/static/font/Qanelas-HeavyItalic.woff') format('woff'),
        url('/static/font/Qanelas-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Qanelas';
    src: url('/static/font/Qanelas-Heavy.eot');
    src: local('Qanelas Heavy'), local('Qanelas-Heavy'),
        url('/static/font/Qanelas-Heavy.eot?#iefix') format('embedded-opentype'),
        url('/static/font/Qanelas-Heavy.woff2') format('woff2'),
        url('/static/font/Qanelas-Heavy.woff') format('woff'),
        url('/static/font/Qanelas-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Qanelas';
    src: url('/static/font/Qanelas-Medium.eot');
    src: local('Qanelas Medium'), local('Qanelas-Medium'),
        url('/static/font/Qanelas-Medium.eot?#iefix') format('embedded-opentype'),
        url('/static/font/Qanelas-Medium.woff2') format('woff2'),
        url('/static/font/Qanelas-Medium.woff') format('woff'),
        url('/static/font/Qanelas-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Qanelas';
    src: url('/static/font/Qanelas-UltraLight.eot');
    src: local('Qanelas UltraLight'), local('Qanelas-UltraLight'),
        url('/static/font/Qanelas-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('/static/font/Qanelas-UltraLight.woff2') format('woff2'),
        url('/static/font/Qanelas-UltraLight.woff') format('woff'),
        url('/static/font/Qanelas-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Qanelas';
    src: url('/static/font/Qanelas-LightItalic.eot');
    src: local('Qanelas Light Italic'), local('Qanelas-LightItalic'),
        url('/static/font/Qanelas-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('/static/font/Qanelas-LightItalic.woff2') format('woff2'),
        url('/static/font/Qanelas-LightItalic.woff') format('woff'),
        url('/static/font/Qanelas-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Qanelas';
    src: url('/static/font/Qanelas-MediumItalic.eot');
    src: local('Qanelas Medium Italic'), local('Qanelas-MediumItalic'),
        url('/static/font/Qanelas-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('/static/font/Qanelas-MediumItalic.woff2') format('woff2'),
        url('/static/font/Qanelas-MediumItalic.woff') format('woff'),
        url('/static/font/Qanelas-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Qanelas';
    src: url('/static/font/Qanelas-Thin.eot');
    src: local('Qanelas Thin'), local('Qanelas-Thin'),
        url('/static/font/Qanelas-Thin.eot?#iefix') format('embedded-opentype'),
        url('/static/font/Qanelas-Thin.woff2') format('woff2'),
        url('/static/font/Qanelas-Thin.woff') format('woff'),
        url('/static/font/Qanelas-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Qanelas';
    src: url('/static/font/Qanelas-Black.eot');
    src: local('Qanelas Black'), local('Qanelas-Black'),
        url('/static/font/Qanelas-Black.eot?#iefix') format('embedded-opentype'),
        url('/static/font/Qanelas-Black.woff2') format('woff2'),
        url('/static/font/Qanelas-Black.woff') format('woff'),
        url('/static/font/Qanelas-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Qanelas';
    src: url('/static/font/Qanelas-BoldItalic.eot');
    src: local('Qanelas Bold Italic'), local('Qanelas-BoldItalic'),
        url('/static/font/Qanelas-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/static/font/Qanelas-BoldItalic.woff2') format('woff2'),
        url('/static/font/Qanelas-BoldItalic.woff') format('woff'),
        url('/static/font/Qanelas-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Qanelas';
    src: url('/static/font/Qanelas-UltraLightItalic.eot');
    src: local('Qanelas UltraLight Italic'), local('Qanelas-UltraLightItalic'),
        url('/static/font/Qanelas-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('/static/font/Qanelas-UltraLightItalic.woff2') format('woff2'),
        url('/static/font/Qanelas-UltraLightItalic.woff') format('woff'),
        url('/static/font/Qanelas-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Qanelas';
    src: url('/static/font/Qanelas-ExtraBoldItalic.eot');
    src: local('Qanelas ExtraBold Italic'), local('Qanelas-ExtraBoldItalic'),
        url('/static/font/Qanelas-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/static/font/Qanelas-ExtraBoldItalic.woff2') format('woff2'),
        url('/static/font/Qanelas-ExtraBoldItalic.woff') format('woff'),
        url('/static/font/Qanelas-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Qanelas';
    src: url('/static/font/Qanelas-Light.eot');
    src: local('Qanelas Light'), local('Qanelas-Light'),
        url('/static/font/Qanelas-Light.eot?#iefix') format('embedded-opentype'),
        url('/static/font/Qanelas-Light.woff2') format('woff2'),
        url('/static/font/Qanelas-Light.woff') format('woff'),
        url('/static/font/Qanelas-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Qanelas';
    src: url('/static/font/Qanelas-ExtraBold.eot');
    src: local('Qanelas ExtraBold'), local('Qanelas-ExtraBold'),
        url('/static/font/Qanelas-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('/static/font/Qanelas-ExtraBold.woff2') format('woff2'),
        url('/static/font/Qanelas-ExtraBold.woff') format('woff'),
        url('/static/font/Qanelas-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Qanelas';
    src: url('/static/font/Qanelas-BlackItalic.eot');
    src: local('Qanelas Black Italic'), local('Qanelas-BlackItalic'),
        url('/static/font/Qanelas-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('/static/font/Qanelas-BlackItalic.woff2') format('woff2'),
        url('/static/font/Qanelas-BlackItalic.woff') format('woff'),
        url('/static/font/Qanelas-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Qanelas';
    src: url('/static/font/Qanelas-SemiBold.eot');
    src: local('Qanelas SemiBold'), local('Qanelas-SemiBold'),
        url('/static/font/Qanelas-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/static/font/Qanelas-SemiBold.woff2') format('woff2'),
        url('/static/font/Qanelas-SemiBold.woff') format('woff'),
        url('/static/font/Qanelas-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

/* BODY fonts*/
@font-face {
    font-family:'Open Sans';
    font-style:normal;
    font-weight:300;
    src:local('Open Sans Light'),
        local('OpenSans-Light'),
        url('/static/font/OpenSans-Light.woff') format('woff');
}
@font-face {
    font-family:'Open Sans';
    font-style:normal;
    font-weight:400;
    src:local('Open Sans'),
        local('OpenSans'),
        url('/static/font/OpenSans.woff') format('woff');
}
@font-face {
    font-family:'Open Sans';
    font-style:normal;
    font-weight:600;
    src:local('Open Sans Semibold'),
        local('OpenSans-Semibold'),
        url('/static/font/OpenSans-Semibold.woff') format('woff');
}
@font-face {
    font-family:'Open Sans';
    font-style:italic;
    font-weight:300;
    src:local('Open Sans Light Italic'),
        local('OpenSansLight-Italic'),
        url('/static/font/OpenSansLight-Italic.woff') format('woff');
}
@font-face {
    font-family:'Open Sans';
    font-style:italic;
    font-weight:400;
    src:local('Open Sans Italic'),
        local('OpenSans-Italic'),
        url('/static/font/OpenSans-Italic.woff') format('woff');
}
@font-face {
    font-family:'Open Sans';
    font-style:italic;
    font-weight:600;
    src:local('Open Sans Semibold Italic'),
        local('OpenSans-SemiboldItalic'),
        url('/static/font/OpenSans-SemiboldItalic.woff') format('woff');
}

/* ICONS fonts*/
@font-face {
    font-family:'RTicon Regular';
    src:url('/static/font/rticon.eot?#iefix') format('embedded-opentype'),
        url('/static/font/rticon.woff2') format('woff2'),
        url('/static/font/rticon.woff') format('woff'),
        url('/static/font/rticon.ttf') format('truetype'),
        url('/static/font/rticon.svg#rticon') format('svg')
}

.rticon, .ui-icon, .fm_icon, .ui-button-icon, .ui-dialog-titlebar-close {position:relative;top:1px;display:inline-block;font-family:'RTicon Regular'!important;text-decoration:inherit;vertical-align:middle;text-decoration:none;font-style:normal;font-weight:normal;line-height:1;speak:none;text-rendering:optimizeLegibility;text-rendering:geometricPrecision;font-smooth:always;@include cross('font-smoothing', 'antialiased');-webkit-font-smoothing:subpixel-antialiased;-moz-osx-font-smoothing:grayscale}