@media all and (max-width:1440px) {
}

@media all and (max-width:1024px) {

}

@media only screen and (max-width:980px),
       only screen and (min-device-width:320px) and (max-device-width:480px) and (min-device-pixel-ratio:2),
       only screen and (min-device-width:320px) and (max-device-width:568px) and (min-device-pixel-ratio:2),
       only screen and (min-device-width:375px) and (max-device-width:667px) and (min-device-pixel-ratio:2),
       only screen and (min-device-width:414px) and (max-device-width:736px) and (min-device-pixel-ratio:3),
       screen and (device-width:320px) and (device-height:640px) and (device-pixel-ratio:2),
       screen and (device-width:320px) and (device-height:640px) and (device-pixel-ratio:3),
       screen and (device-width:360px) and (device-height:640px) and (device-pixel-ratio:3),
       only screen and (min-device-width:768px) and (max-device-width:1024px) and (min-device-pixel-ratio:1),
       only screen and (min-device-width:768px) and (max-device-width:1024px) and (min-device-pixel-ratio:1),
       only screen and (min-device-width:768px) and (max-device-width:1024px) and (min-device-pixel-ratio:2)
{
    .form_label {
        &.__inline {@include cross('flex-wrap', 'wrap');
            & > * {@include cross('flex', '0 0 100%');padding-right:0;}
        }
    }
    main.content {
        &#adminpanel_content {padding-left:110px;
            .header {
                .section__content {
                    .logo {
                        a {
                            #logo {width:66px;}
                        }
                    }
                    .box {
                        label {padding: 10px 8px;}
                    }
                }
            }
        }
    }

}