[data-scrollbar] {display:block;position:relative;max-height:100vh;}

.scroll-content {@include cross('transform','translate3d(0,0,0)');}

.scrollbar-track {position:absolute;opacity:0;z-index:1;background:rgba(222, 222, 222, .75);@include cross('user-select','none');@include transition(opacity 0.5s 0.5s ease-out);
	&.show, &:hover {opacity:1;@include cross('transition-delay','0s');}
}

.scrollbar-track-x {bottom:0;left:0;width:100%;height:8px;}
.scrollbar-track-y {top:0;right:0;width:8px;height:100%;}
.scrollbar-thumb {position:absolute;top:0;left:0;width:8px;height:8px;background:rgba(#000, .5);@include border-radius(4px);}