<template>
  <layout active_tab="courses">
    <template v-slot:header>
      <h2>
        <router-link
            :to="{name: 'courses', params: { site: current_site_id }}"
            class="goback" title="Назад к курсам">
          <i class="material-icons">arrow_back_ios</i>
        </router-link>
        Настройка курса<span v-if="course.name"> «{{ course.name }}»</span>
      </h2>
    </template>
    <div class="page_router">

      <div class="card">
        <div class="card-body">
          <form action="" method="post" @submit="saveCourse">
            <div class="form-group">
              <label class="bmd-label-floating">Название</label>
              <input v-model="course.name" class="form-control" placeholder="Название" type="text">
            </div>

            <div class="form-group">
              <label class="bmd-label-floating">Видимость курса</label>
              <select class="form-control" name="type">
                <option value="all">Публичный курс со страницей видимой в поисковых системах</option>
                <option value="nogoogle">Публичный курс с видимой страницей, скрытый от поисковых систем</option>
                <option value="secret">Публичная страница курса видна только вашим студентам</option>
                <option value="hide">Публичная страница видна только вам</option>
              </select>
            </div>

            <div class="form-group">
              <label>Описание</label>
              <div class="form-group">
                <label class="bmd-label-floating">Это описание выводится на странице курса видимому ученику</label>
                <textarea v-model="course.description" class="form-control" rows="5"></textarea>
              </div>
            </div>

            <button :disabled="is_saving" class="btn btn-primary pull-right" type="submit">
              <span class="rticon save_icon"></span>
              <span v-if="is_saving" class="loader"></span>
              <span class="text">Сохранить</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </layout>
</template>

<script lang="ts" src="./edit.ts"></script>
