<template>
  <layout active_tab="courses">
    <template v-slot:header>
      <h2>Курсы
        <router-link
            v-if="current_site_id"
            :to="{name: 'course_new', params: { site: current_site_id }}"
            class="option_button m-b-10" title="Добавить курс">
          <i class="material-icons">add</i>
        </router-link>
      </h2>
    </template>
    <div class="page_router">


      <div class="table-responsive table--no-card m-b-30">
        <table class="table table-borderless table-striped table-earning">
          <thead>
          <tr>
            <th width="10">#</th>
            <th>Название</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="course in courses">
            <td>
              {{ course.id }}
            </td>
            <td>
              <router-link :to="{name: 'course_units', params: { site: current_site_id, course: course.id }}">
                {{ course.name }}
              </router-link>
            </td>
            <td align="right">
              <router-link
                  :to="{name: 'course', params: { course: course.id, site: current_site_id }}"
                  class="option_button" title="Настройки">
                <i class="material-icons">settings_suggest</i>
                Настроить
              </router-link>
              <a class="option_button" title="Удалить"  @click="deleteList(course)">
                <i class="material-icons">delete</i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </layout>
</template>

<script lang="ts" src="./index.ts"></script>
