<template>
  <layout active_tab="courses">
    <template v-slot:header>
      <h2>
        <router-link
            :to="{name: 'courses', params: { site: current_site_id }}"
            class="goback" title="Назад к списку курсов">
          <i class="material-icons">arrow_back_ios</i>
        </router-link>
        Содержимое курса<span v-if="course.name"> «{{ course.name }}»</span>
        <router-link
            v-if="current_site_id"
            :to="{name: 'course_unit_new', params: { site: current_site_id, course: course.id }}"
            class="option_button m-b-10" title="Добавить материал">
          <i class="material-icons">add</i>
        </router-link>
      </h2>
    </template>
    <div class="page_router">
      <div class="table-responsive table--no-card m-b-30">
        <table class="table table-borderless table-striped table-earning table-hover">
          <thead>
          <tr>
            <th>Название</th>
            <th>Тип</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="course_unit in course_units">
            <td>{{ course_unit.name }}</td>
            <td>{{ course_unit.type }}</td>
            <td align="right">
              <router-link
                  :to="{name: 'course_unit', params: { course: course.id, site: current_site_id, id:course_unit.id }}"
                  class="option_button" title="Настройки">
                <i class="material-icons">settings_suggest</i>
                Настроить
              </router-link>
              <a class="option_button" title="Удалить" @click="delete_course_unit($event, course_unit)">
                <i class="material-icons">delete</i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </layout>
</template>

<script lang="ts" src="./units.ts"></script>
