<template>
  <layout active_tab="courses">
    <template v-slot:header>
      <h2>
        <router-link
            v-if="course"
            :to="{name: 'course_units', params: { site: current_site_id, course: course.id }}"
            class="goback" title="Назад к материалам курсов">
          <i class="material-icons">arrow_back_ios</i>
        </router-link>
        <template v-if="!course_unit.id && course">
          Добавление материала в курс &laquo;{{ course.name }}&raquo;
        </template>
        <template v-if="course_unit.id">
          Материал &laquo;{{ course_unit.name }}&raquo;
        </template>
      </h2>
    </template>

    <div class="page_router">
      <div class="card">
        <form action="#" type="post" @submit="save_course_unit">
          <div v-if="course" class="card-body">
            <div class="form_group">
              <div class="form-check">
                <label class="form-check-label">
                  <input v-model="course_unit_public" class="form-check-input" type="checkbox">
                  <span class="form-check-sign"><span class="check"></span></span>
                  <template v-if="course_unit_public">Опубликовано</template>
                  <template v-else>Скрыто</template>
                </label>
              </div>
            </div>

            <div class="form-group">
              <label class="bmd-label-floating">Название</label>
              <input v-model="course_unit.name" class="form-control" placeholder="Название" type="text">
            </div>

            <div class="form-group">
              <label class="bmd-label-floating">Описание</label>
              <div class="form-group">
                <editor
                    v-model="course_unit.description"
                    :init="{
                        height: 500,
                        menubar: false,
                        images_upload_handler: tinymce_image_upload,
                        language: 'ru',
                        plugins: [
                        'advlist autolink lists link image charmap print preview anchor',
                        'searchreplace visualblocks code fullscreen autoresize',
                        'insertdatetime media table paste code help wordcount quickbars'
                        ],
                        // toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist checklist | forecolor backcolor casechange permanentpen formatpainter removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media pageembed template link anchor codesample | a11ycheck ltr rtl | showcomments addcomment',

                        quickbars_selection_toolbar: 'bold italic underline strikethrough | quicklink h2 h3 blockquote quickimage quicktable | backcolor link anchor | pagebreak | ',
                        toolbar:
                          'undo redo | alignleft aligncenter alignright alignjustify |\
                          forecolor fontselect fontsizeselect formatselect | outdent indent |\
                          numlist bullist checklist | anchor pageembed insertfile image media |\
                          pagebreak   | removeformat | code | fullscreen'
                      }"
                    api-key="0991toukexl9f31dwk72sx3moapg05s8hnxbvewoi57w8i8p"
                />
              </div>
            </div>

            <div class="form-group">
              <label class="bmd-label-floating">Тип материала</label>
              <select v-model="course_unit.type" class="form-control" name="type">
                <option value="content">Контент</option>
                <option value="file_preview">Отобразить файл (PDF / PPTX / DOC)</option>
                <option value="web_url">Отобразить страницу по ссылке</option>
                <option value="video">Видео</option>
                <option value="iframe">Iframe</option>
                <option value="test">Тест</option>
                <option value="vote">Опрос</option>
                <option value="work">Задание</option>
                <option value="call">Созвон</option>
              </select>
            </div>

            <template v-if="course_unit.type === 'file_preview'">
              <div class="row">
                <div class="col-md-11">
                  <div class="form-group">
                    <input v-model="course_unit.content" class="form-control"
                           placeholder="Поддерживаемые файлы: PDF, PPTX, DOCX" type="text">
                    <span
                        class="placeholder">Выберете файл, который будет показан ученикам в виде онлайн-просмотра</span>
                    <a v-if="course_unit.content"
                       :href="`https://s${current_site_id}.tcdn.site/${course_unit.content}`"
                       class="field_link"
                       target="_blank">
                      <i class="material-icons">link</i>
                    </a>
                  </div>
                </div>
                <div class="col-md-1">
                  <label class="btn btn-primary pull-right" for="file-uploader-content">

                    <span class="text"><i class="material-icons">cloud_upload</i> Загрузить</span>
                    <input id="file-uploader-content" accept=".pptx, .docx, .pdf" name="file"
                           style="display: none;" type="file" @change="onFilesSelected">
                  </label>
                </div>
              </div>

            </template>
            <template v-if="course_unit.type === 'content'">
              <div class="form-group">
                <editor
                    v-model="course_unit.content"
                    :init="{
                        height: 500,
                        menubar: false,
                        images_upload_handler: tinymce_image_upload,
                        language: 'ru',
                        plugins: [
                        'advlist autolink lists link image charmap print preview anchor',
                        'searchreplace visualblocks code fullscreen autoresize',
                        'insertdatetime media table paste code help wordcount quickbars'
                        ],
                        // toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist checklist | forecolor backcolor casechange permanentpen formatpainter removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media pageembed template link anchor codesample | a11ycheck ltr rtl | showcomments addcomment',

                        quickbars_selection_toolbar: 'bold italic underline strikethrough | quicklink h2 h3 blockquote quickimage quicktable | backcolor link anchor | pagebreak | ',
                        toolbar:
                          'undo redo | alignleft aligncenter alignright alignjustify |\
                          forecolor fontselect fontsizeselect formatselect | outdent indent |\
                          numlist bullist checklist | anchor pageembed insertfile image media |\
                          pagebreak   | removeformat | code | fullscreen'
                      }"
                    api-key="0991toukexl9f31dwk72sx3moapg05s8hnxbvewoi57w8i8p"
                />
              </div>
            </template>

            <template v-if="course_unit.type === 'video'">
              <div class="form-group">
                <label class="bmd-label-floating">Ссылка на видео (YouTube, Vimeo, VK)</label>
                <input v-model="course_unit.content" class="form-control" placeholder="Название" type="text">
              </div>
              <div class="form-group">
                <label class="bmd-label-floating">Название</label>
                <input v-model="course_unit.name" class="form-control" placeholder="Название" type="text">
              </div>
            </template>

            <div class="form-group">
              <button :disabled="is_saving" class="btn btn-primary pull-right" type="submit">
                <span class="rticon save_icon"></span>
                <span v-if="is_saving" class="loader"></span>
                <span class="text">Сохранить</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </layout>
</template>

<style>

</style>
<script lang="ts" src="./unit.edit.ts"></script>
