<template>
  <layout>
    <div v-if="feed_edit" aria-hidden="true" aria-labelledby="feed_filter_title" class="modal fade showmodal show"
         role="dialog" tabindex="-1">
      <div class="modal_dialog modal-lg" role="document">
        <div class="modal_content">
          <div class="modal_header">
            <h5 id="feed_filter_title" class="modal_title">Настройки фильтра {{ feed_edit_key }}</h5>
            <button aria-label="Close" class="close" data-dismiss="modal" type="button"
                    @click="close_filter()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal_body form_group">
            <div class="table-responsive">
              {{ feed_edit_data.fields }}
              <table v-if="feed_edit_feed && feed_edit_feed.fields && feed_edit_feed.fields.length && feed_edit_data"
                     class="table table-top-campaign">
                <thead>
                <tr>
                  <th width="30">&nbsp;</th>
                  <th width="160">Поле</th>
                  <th>Значение</th>
                  <th width="130">Тип</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="field in edited_filter_fields">
                  <td>
                    <label class="switch">
                      <input v-model="field.on" class="switch_input" type="checkbox"
                             @change="change_active_filter(field)">
                      <span class="switch_label"></span>
                      <span class="switch_handle"></span>
                    </label>
                  </td>
                  <td>{{ field.title }}</td>
                  <td>
                    <label>
                      <input v-if="field.on && field.type == 'number'"
                             v-model="feed_edit_data.filter[field.key]" :placeholder="field.key"
                             class="textfield lightfield"
                             type="number">
                      <input v-if="field.on && field.type != 'number'"
                             v-model="feed_edit_data.filter[field.key]" :placeholder="field.key"
                             class="textfield lightfield"
                             type="text">
                      <hr v-if="field.on" class="lightfield_line">
                    </label>
                  </td>
                  <td style="text-align: center">
                    <template v-if="field.type=='text'">
                      <span class="bg-flat-color-1 text-light">{{ field.type }}</span>
                      Поиск
                    </template>
                    <template v-else>
                      <span class="bg-flat-color-1 text-light">{{ field.type }}</span>
                      Фильтр
                    </template>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal_footer">
            <button class="buttonfield __secondary" type="button" @click="close_filter()">
              <span class="text">Закрыть</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="page_router">
      <h2>
        <router-link
            :to="{name: 'pages', params: { site: current_site_id }}"
            class="goback" title="Назад к страницам"><span class="rticon"></span>
        </router-link>
        Настройки страницы<span v-if="page.name"> &laquo;{{ page.name }}&raquo;</span>
      </h2>
      <div v-if="is_loaded" class="card">
        <div class="card-body">
          <div class="form_group">
            <label class="switch">
              <input v-model="page_public" class="switch_input" type="checkbox">
              <span class="switch_label"></span>
              <span class="switch_handle"></span>
            </label>
            <template v-if="page_public">Страница опубликована</template>
            <template v-else>Страница скрыта</template>
          </div>

          <div class="form_group">
            <label>
              <input id="page_name" v-model="page.name" class="textfield lightfield" placeholder="Название" type="text"><span
                class="placeholder">Название</span>
              <hr class="lightfield_line">
            </label>
          </div>

          <!--                <div class="form_group">-->
          <!--                    <label for="page_link">Ссылка</label>-->
          <!--                    <input class="textfield lightfield" id="page_link"  v-model="page.link" type="text">-->
          <!--                </div>-->

          <div class="form_group">
            <div class="form_label __inline">
              <div class="col __side">
                <label class="switch __toggle">
                  <input v-model="expert_mode" class="switch_input" type="checkbox"
                         @change="expert_deactivate">
                  <span class="switch_label"></span>
                  <span class="switch_handle"></span>

                </label>
                Эксперт
              </div>
              <div v-if="expert_mode" class="col __main">
                <label>
                  <select v-model="page.feed" class="textfield lightfield" name="select">
                    <option>Отключено</option>
                    <option v-for="feed in feeds" :value="feed.key">{{ feed.name }}</option>
                  </select><span class="placeholder">Выберете список</span>
                  <hr class="lightfield_line">
                </label>
              </div>
            </div>
          </div>

          <div class="form_group">
            <div class="form_label __inline">
              <div class="col __side">
                <div class="subst_to_field">/</div>
              </div>
              <div class="col __main">
                <input id="page_link" v-model="page.url" :disabled="page.parent == 0" class="textfield lightfield"
                       placeholder="Ссылка"
                       type="text"><span class="placeholder">Ссылка</span>
                <hr class="lightfield_line">
              </div>
            </div>
            <em v-if="expert_mode" class="help-block"><span v-text="'{feed_key}'"></span> – Ключ списка <span
                v-text="'{page_num}'"></span> – Номер страницы</em>
          </div>

          <div class="form_group">
            <label>Содержание страницы</label>
            <ace-page :event_name="'page_content_change'" :options="{}" :value="page.content">page.content
            </ace-page>
          </div>

          <div v-for="(feed_data, key) in feed_settings" class="form_group __multilevel __hierarchical">
            <div class="form_label">
              <div class="col">
                <h5>Выберете список для динамического элемента <span class="bg-flat-color-1 text-light">{{ key }}</span>
                </h5>
                <button class="buttonfield __secondary delete" @click="delete_feed_key(key)">
                  <span class="text">×</span>
                </button>
                <label>
                  <select v-model="feed_data.feed" class="textfield lightfield selectfield" name="select">
                    <option>Отключено</option>
                    <option v-for="feed in feeds" :value="feed.key">{{ feed.name }}</option>
                  </select><span class="placeholder">Список</span>
                  <hr class="lightfield_line">
                </label>
              </div>
            </div>

            <div class="form_label __inline">
              <div class="col">
                <div>
                  <template v-if="!!feed_data.filter && Object.keys(feed_data.filter).length">
                    Фильтр {{ Object.keys(feed_data.filter).length }} полей
                  </template>
                  <template v-else>
                    Фильтр не установлен
                  </template>
                </div>

                <button class="buttonfield"
                        @click="set_up_filter(key, feed_data)">
                  <span class="text">Настроить фильтр</span>
                </button>
              </div>
              <div class="col">
                <label>
                  <input v-model="feed_data.page" class="textfield lightfield"
                         pattern="(\d{1,2}|\{page_num\})"
                         placeholder="Номер страницы"
                         title="Укажите номер страницы или {page_num} для передачи номера страницы из URL"
                         type="text"><span class="placeholder">Номер страницы</span>
                  <hr class="lightfield_line">
                </label>
              </div>
              <div class="col">
                <label>
                  <input v-model="feed_data.per_page" class="textfield lightfield" max="1000" min="0" placeholder="На странице"
                         type="number"><span class="placeholder">На странице</span>
                  <hr class="lightfield_line">
                </label>
              </div>
              <div class="col">
                <label>
                  <select v-model="feed_data.sort" class="textfield lightfield selectfield" name="select">
                    <option :value="null">Отключено</option>
                    <option v-for="feed_field in feed_fields(feed_data.feed)" v-if="feed_data.feed"
                            :value="feed_field">{{ feed_field }}
                    </option>
                  </select><span class="placeholder">Сортировка</span>
                  <hr class="lightfield_line">
                </label>
              </div>
            </div>

            <div class="form_label __inline">
              <div class="col">
                <label>
                  <input v-model="feed_data.pager_links" class="textfield lightfield" max="100" min="0" placeholder="Ссылок в пейджере"
                         type="number"><span class="placeholder">Ссылок в пейджере</span>
                  <hr class="lightfield_line">
                </label>
              </div>
              <div class="col __prevail">
                <label>
                  <input v-model="feed_data.pager_before" :disabled="!Number(feed_data.pager_links)" class="textfield lightfield"
                         placeholder="До URL"
                         type="text"><span class="placeholder">До URL</span>
                  <hr class="lightfield_line">
                </label>
              </div>
              <div class="col">
                <label>
                  <input v-model="feed_data.pager_after" :disabled="!Number(feed_data.pager_links)" class="textfield lightfield"
                         placeholder="После URL"
                         type="text"><span class="placeholder">После URL</span>
                  <hr class="lightfield_line">
                </label>
              </div>
              <div class="col">
                <label>
                  <input v-model="feed_data.pager_first" :disabled="!Number(feed_data.pager_links)" class="textfield lightfield"
                         placeholder="URL первой страницы"
                         type="text"><span class="placeholder">URL первой страницы</span>
                  <hr class="lightfield_line">
                </label>
              </div>
            </div>
          </div>

          <div class="form_group">
            <label class="inline_with_button">
              <input id="new_feed_key" v-model="new_feed_key" class="textfield lightfield" placeholder="Электронная почта"
                     type="text"><span class="placeholder">Новый динамический элемент</span>
              <hr class="lightfield_line">
            </label>
            <button class="buttonfield" @click="add_page_feed"><span class="text">Добавить</span></button>
          </div>

          <div class="form_group">
            <label>Параметры страницы</label>
            <nav class="inline_buttons_panel">
              <div class="nav nav-tabs" role="tablist">
                <button
                    :class="{'option_button': 1, active: !view_tab}"
                    title="Редактор" @click="view_tab=false"><span class="rticon editor_icon"></span>
                </button>
                <button
                    :class="{'option_button': 1, active: view_tab}"
                    title="Просмотр" @click="view_tab=true"><span class="rticon view_icon"></span>
                </button>
              </div>
            </nav>
            <div v-if="view_tab">
              <json-view :data="page_settings" root-key="config" v-on:selected="select_json_item"/>
            </div>
            <ace v-else :event_name="'page_settings_change'" :options="{}" :value="page.settings">page
              settings
            </ace>
          </div>

          <div class="form_group">
            <div class="form_label">
              <label class="switch">
                <input v-model="handler_active" class="switch_input" type="checkbox"
                       @change="handler_deactivate">
                <span class="switch_label"></span>
                <span class="switch_handle"></span>

              </label>
              <template v-if="handler_active">Обработчик активен</template>
              <template v-else>Обработчик выключен</template>
            </div>

            <ace v-if="handler_active" :event_name="'page_handler_change'" :options="{mode: 'javascript'}"
                 :value="page.handler">page settings
            </ace>

          </div>

          <div>
            <button id="payment-button" class="buttonfield" type="submit"
                    @click="savePage">
              <span class="rticon save_icon"></span>
              <span v-if="page.disabled" class="text">Сохранить</span>
              <span v-if="!page.disabled" class="text">Опубликовать</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div id="json_item_modal" :class="{modal:1, fade: 1, show: !!modal_show}" role="dialog" tabindex="-1">
      <div class="modal_dialog modal-lg" role="document">
        <div class="modal_content">
          <div class="modal_header">
            <h5 id="largeModalLabel" class="modal_title">Редактор настроек</h5>
            <button aria-label="Close" class="close" data-dismiss="modal" type="button" @click="modal_show=false">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal_body">

            <div class="form_group">
              <label>
                                <textarea id="json_item_content" v-model="edited_content"
                                          class="textblock" placeholder="Content…"
                                          rows="7"></textarea><span
                  class="placeholder">{{ edited_key }}</span>
              </label>
            </div>
          </div>
          <div class="modal_footer">
            <button class="buttonfield" data-dismiss="modal" type="button" @click="save_json_item">
              <span class="text">Сохранить</span>
            </button>
            <button class="buttonfield __secondary" type="button" @click="modal_show=false">
              <span class="text">Закрыть</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </layout>
</template>

<script lang="ts" src="./edit.ts"></script>
