<template>
  <layout>
    <div class="page_router">
      <h2 class="filter_inside">Структура сайта
        <div id="filter">
          <span class="rticon filter_icon"></span>
          <label>
            <input id="filter_field" v-model="filter_text" class="textfield lightfield" name="filter_field"
                   placeholder="Фильтр"
                   type="text">
            <span class="placeholder">Фильтр</span>
            <hr class="lightfield_line">
            <del class="rticon clear_icon" @click="filter_text='' && this.filter_pages()"></del>
          </label>
        </div>
      </h2>

      <div class="fields_body">
        <div class="fields_list">
          <tree
              :data="router_data"
              :space="0"
              cross-tree="cross-tree"
              draggable="!1 ? 'draggable' : 'false'">
            <div slot-scope="{data, store}">
              <template v-if="!data.isDragPlaceHolder && !data.hide">
                      <span
                          v-if="data.children && data.children.length"
                          class="rticon folder_icon" @click="store.toggleOpen(data)"></span>

                <label class="switch">
                  <input :checked="!data.disable" class="switch_input" type="checkbox">
                  <span class="switch_label"></span>
                  <span class="switch_handle"></span>
                </label>
                <span>{{ data.name }}</span>
                <span class="route_edit">
                  <button class="option_button" title="Добавить" type="button" @click="createSubPage(data)">
                      <span class="rticon add_icon"></span>
                  </button>
                  <router-link
                      v-if="current_site_id"
                      :to="{name: 'page', params: { page: data.id, site: current_site_id }}"
                      class="option_button" title="Настройки">
                      <span class="rticon settings_icon"></span>
                  </router-link>
                  <button class="option_button" title="Удалить" type="button" @click="deletePage(data)">
                      <span class="rticon delete_icon"></span></button>
              </span>
              </template>
            </div>
          </tree>
        </div>
      </div>

    </div>
  </layout>
</template>

<script lang="ts" src="./index.ts"></script>
