* {text-rendering:optimizeLegibility;text-rendering:geometricPrecision;font-smooth:always;font-smoothing:antialiased;-moz-font-smoothing:antialiased;-webkit-font-smoothing:antialiased;-webkit-font-smoothing:subpixel-antialiased;outline:none;}

::selection {
    background:rgba(#000,.4); /* WebKit/Blink Browsers */
}
::-moz-selection {
    background:rgba(#000,.4); /* Gecko Browsers */
}

html {height:100%;
    body {font:15px/21px "Open Sans", Arial, sans-serif;height:100%;
        article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display:block;}
        #app {position:relative;width:100%;min-height:100%;height:auto !important;height:100%;z-index:1;
            &.overlaid {@include filter(blur, 5);@include transition(transform .2s ease);}
        }

        & > iframe {display:none;}
    }
}

h1, h2, h3, h4 {font:36px/1.2 "Open Sans", Arial, sans-serif;display:block;}
    h2 {font-size:28px;font-weight:900;
        &.section__title {text-align:center;padding:20px 0;font-size:240%;position:relative;z-index:1;
            &:before, &:after {content:'—';margin:0 .3em;}
        }
    }
    h3 {font-size:24px;font-weight:normal;}

strong {font-weight:bold;}
em, .italic {font-style:italic;}
sub {font-size:60%;vertical-align:top;line-height:1.5em;}

q {display:block;position:relative;color:#777;font:24px/1.5em Georgia, "Times New Roman", Times, serif;margin:0 30%;padding:20px 0 35px 0;
    &:before, &:after {display:block;font-size:3em;width:45px;margin-top:-7px;color:#ddd;}
        &:before {content:'\000AB';float:left;margin-left:-45px;}
        &:after {content:'\000BB';float:right;margin-right:-45px;text-align:right;}
    .legend {position:absolute;font-style:italic;font-size:.5em;top:100%;right:0;margin-top:-35px;
        &:before {content:'\02014\000A0';}
    }
}

blockquote {font:22px/1.2 "Open Sans", Arial, sans-serif;font-style:italic;color:#777;margin:10px 50px 1.5em;padding:0;
    &.quote__textblock {padding:40px 15vw;max-width:1300px;margin:auto;@include box-sizing(border-box);}
}

p {padding-bottom:15px;
    &.ps {border-top:1px solid rgba(#000, .3);padding-top:5px;padding-left:20px;padding-right:20px;margin-left:-20px;margin-right:-20px;font-size:80%;}
    &:empty {display:none;}
}

a {font-size:1em;color:#06c;outline:none;text-decoration:underline;cursor:pointer;
    &.action, &.action:visited {color:#06c;text-decoration:none;border-bottom:1px dashed #06c;}
    &.text {text-decoration:none;display:inline-block;
        span.text {display:inline;@include transition(all 0.2s ease-in-out);border-bottom:1px solid rgba(#06c, .6);}
        &:hover {
            span.text {border-bottom-color:transparent!important;}
        }
    }
    &:hover, &:visited:hover {text-decoration:none;border-bottom-color:transparent;}
}

.alignleft {float:left;clear:left;}
.aligncenter {margin:auto;clear:both;display:block;}
.alignright {float:right;clear:right;}

.clear {clear:both;}

.textcenter {text-align:center!important;}
.textleft {text-align:left!important;}
.textright {text-align:right!important;}

.flex_row {@include crossProp('display', 'flex');@include cross('flex-wrap', 'nowrap');@include cross('flex-direction', 'row');-ms-flex-pack:center;@include cross('justify-content', 'center');-ms-flex-line-pack:center;@include cross('align-content', 'center');-ms-flex-align:center;@include cross('align-items', 'center');}
.flex_col {@include crossProp('display', 'flex');display:flex;@include cross('flex-wrap', 'nowrap');@include cross('flex-direction', 'column');-webkit-justify-content:center;-ms-flex-pack:center;@include cross('justify-content', 'center');-ms-flex-line-pack:center;@include cross('align-content', 'center');-ms-flex-align:center;@include cross('align-items', 'center');}

.lblue {color:$d-lblue;}
.dblue {color:$d-blue;}
.gblue {color:$d-gblue;}
.lgreen {color:$d-lgreen;}
.dgreen {color:$d-dgreen;}
.gray {color:$d-gray;}
.red {color:$d-red;fill:$d-red;}
.purple {color:$d-purple;}
.brown {color:$d-brown;}
.orange {color:$d-orange;}
.yellow {color:$d-yellow;}
.turquoise {color:$d-turquoise;}

.inactive, *:disabled {@include selectable(none, none, none);}
.hidden {display:none!important;}

.centered__outer {display:table;width:100%;height:100%;
    &.__absolute {position:absolute;top:0;left:0;right:0;bottom:0;}
    .centered__inner {display:table-cell;vertical-align:middle; }
    .centered__inner:has(.centered__inner + img.set) {display:none!important;}
}

table {display:table;table-layout:fixed;clear:both;min-width:600px;overflow:hidden;width: 100%;
    &.stretch_width {width:100%;}
    tr {display:table-row;background-color:rgba(#000,0.05);
        th {display:table-cell;padding:10px;vertical-align:top;@include box-sizing(border-box);text-overflow:ellipsis;text-align:left;
            &:first-child:empty {width: 40px;}
        }

        &:nth-child(even) {background-color:transparent}
    }

    thead {display:table-header-group;
        tr {background-color:#273340;color:#fff;
            td {position:relative;padding-right:28px;
                a {color:#fff;display:block;white-space:nowrap;text-overflow:ellipsis;}
                span.rticon {position:absolute;right:5px;width:16px;height:12px;font-size:12px;opacity:.35;line-height:12px;text-align:center;
                    &.arr_top {top:8px;
                        &:after {content:'\e601'}
                    }
                    &.arr_bottom {top:unset;bottom:8px;
                        &:after {content:'\e602'}
                    }
                }
                &.desc {
                    span.rticon {
                        &.arr_top {opacity:1}
                        &.arr_bottom {opacity:.6}
                    }
                }
                &.asc {
                    span.rticon {
                        &.arr_top {opacity:.6}
                        &.arr_bottom {opacity:1}
                    }
                }
            }
        }
    }
    tbody {display:table-row-group;
        td {padding:10px;word-break:break-word;}
    }
    tfoot {display:table-footer-group;
        tr {background-color:transparent;font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif;color:rgba(#000, .4);
            td {border-top:1px solid #666;}
        }
    }
}

/* ANIMATION */
.animated {@include animated();}

/* INPUTS */
label {display:block;position:relative;overflow:hidden;@include box-sizing(border-box);}
    input.hidden_box {position:absolute;@include translate(-999px, -999px);opacity:0;visibility:hidden;width:0;height:0;max-width:0;max-height:0;}
    .form_label {margin-bottom:20px;overflow:visible;position:relative;
        &.__margin {margin-left:20px;position:relative;
            & > * {position:relative;}
        }
        &.__inline {@include crossProp('display', 'flex');@include cross('flex-wrap', 'nowrap');@include cross('justify-content', 'flex-start');-ms-flex-align:flex-end;@include cross('align-items', 'flex-end');
            .form_label {margin-bottom:0;}
            & > * {position:relative;display:inline-block;vertical-align:bottom;@include cross('flex', '1 0');padding-right:10px;
                &:last-child {padding-right:0;}
                &.__prevail {@include cross('flex', '1 1 auto');}
                &.__main {@include cross('flex', '6 1 auto');}
                &.__side {@include cross('flex', '0 6 auto');line-height:45px;z-index:1;}
                .subst_to_field {min-width: 40px;background-color: #ebebeb;text-align: center;border-bottom: 2px solid #ddd;font: 18px/1.5 Arial,Helvetica,sans-serif;padding: 13px 5px 0 5px;@include box-sizing(border-box);white-space:nowrap;}
            }
        }
    }
    .inline_with_button {margin-right:20%;
        & + .buttonfield {float:right;margin-top:-42px;@include calc('width', '20% - 10px');@include hidetext();}
    }

@-webkit-keyframes autofill {
    to {color:#bbb;background-color:transparent;}
}
@keyframes autofill {
    to {color:#bbb;background-color:transparent;}
}

input {outline:none;
    &:focus {outline:none;}
    &::-webkit-input-placeholder {color:transparent;opacity:0;}
    &:-moz-placeholder {color:transparent;opacity:0;}
    &::-moz-placeholder {color:transparent;opacity:0;}
    &:-ms-input-placeholder {color:transparent;opacity:0;}

    &[type=number] {
        &::-webkit-outer-spin-button {-webkit-appearance:none;margin:0;}
        &::-webkit-inner-spin-button {-webkit-appearance:none;margin:0;}
    }

    &.unpromted {
        &::-webkit-input-placeholder {color:#bbb;opacity:1;}
        &:-moz-placeholder {color:#bbb;opacity:1;}
        &::-moz-placeholder {color:#bbb;opacity:1;}
        &:-ms-input-placeholder {color:#bbb;opacity:1;}
    }

    &:-moz-autofill {background-color:transparent;}
    &:-webkit-autofill {background-color:transparent;@include cross('animation-name', 'autofill');@include cross('animation-fill-mode', 'both');}
}
textarea {outline:none;overflow-x:hidden;
    &:focus {outline:none;}
    &::-webkit-input-placeholder {color:transparent;opacity:0;}
    &:-moz-placeholder {color:transparent;opacity:0;}
    &::-moz-placeholder {color:transparent;opacity:0;}
    &:-ms-input-placeholder {color:transparent;opacity:0;}

    &.unpromted {
        &::-webkit-input-placeholder {color:#bbb;opacity:1;}
        &:-moz-placeholder {color:#bbb;opacity:1;}
        &::-moz-placeholder {color:#bbb;opacity:1;}
        &:-ms-input-placeholder {color:#bbb;opacity:1;}
    }
}

.textfield, .textblock {display:inline-block;position:relative;color:#5f5f5f;width:100%;font:18px/1.2 Arial,Helvetica,sans-serif;padding:13px 0 0 10px;min-height:42px;@include box-sizing(border-box);border:2px solid #bfd6e6;border-width:0 0 2px 0;background-color:transparent;@include transition(all 0.2s ease-in-out);outline:none;

    &:focus {border-color:$d-yellow;color:#000;}
    &:invalid, &.invalid {border-color:$d-red;}
    &:disabled {color:#777;border-color:#bbb;cursor:not-allowed;}

    option {color:#000!important}

    &:not(.unprompted) {
        & + .placeholder {position:absolute;left:0px;font:18px/21px "Open Sans", Arial, sans-serif;padding:10px 0px 0px 11px;color:#bbb;@include transition(all 0.2s ease-in-out);@include selectable(none, none, none);@include cross('transform-origin', '0 0');@include hidetext();white-space:nowrap;@include calc('max-width', '100% - 50px');z-index:1;}

        &:focus, &:not(:placeholder-shown) {z-index:1;
            & + .placeholder {@include scale(.6);padding-top:5px;padding-left:9px;overflow:visible;cursor:text;}
        }
        &:-moz-autofill + .placeholder, &:-webkit-autofill + .placeholder {@include scale(.6);overflow:visible;cursor:text;}

        &.lightfield {border-width:0;border-bottom:2px solid #bfd6e6!important;padding-left:0;
            & + .placeholder {padding-left:0;@include cross('transform-origin', '0 0');}

            & ~ hr.lightfield_line {display:block;position:absolute;bottom:0;left:0;border:none;clear:both;height:2px;width:100%;background-color:transparent;margin:0;@include selectable(none, none, none);z-index:1;
                &:before, &:after {content:'';position:absolute;top:0;border-bottom:2px solid;border-color:$d-yellow;width:0%;@include transition(width 0.3s cubic-bezier(.88,.2,.48,.49));}
                &:before {left:50%}
                &:after {right:50%}
            }

            &:disabled {
                & ~ hr.lightfield_line {
                    &:before, &:after {width:50%;border-color:#ddd;}
                }
            }

            &:focus, &.focus {
                & ~ hr.lightfield_line {
                    &:before, &:after {width:50%;}
                }
            }
            &:invalid:not(:placeholder-shown) {
                &:before, &:after {width:50%;border-color:$d-red;}
            }

            &:valid:not(:placeholder-shown) {
                &:before, &:after {width:50%;border-color:$d-lgreen;}
            }
        }
    }

    &.textblock {min-height:70px;resize:none;border-width:2px;
        &.autoresizable {min-height:2.2em;height:2.2em;resize:vertical;padding-bottom:0;}
    }
    &:not([placeholder]) {padding-top:0;}
}
.selectfield {padding-left:0;padding-top:13px!important;cursor:pointer;
    & + .placeholder {padding-left:0!important;@include cross('transform-origin', '0 0');}
}


.form_group {margin-bottom:25px;
    &.__multilevel {background-color: #fff;padding: 10px;border-bottom: 1px solid #ccc;border-right: 1px solid #e6e6e6;
        .buttonfield.delete {position: absolute;top: 0;left: 100%;font-size: 32px;padding: 0 10px;margin: -10px 0 0 10px;}
    }
    &.__hierarchical {}

    &:empty {display:none}
}

@include keyframes(swing_checkbox) {
    0% {@include cross('transform', 'rotate3d(-1, 1, 0, 0deg)');@include cross('transform-origin', '50%');}
    100% {@include cross('transform', 'rotate3d(-1, 1, 0, -180deg)');@include cross('transform-origin', '50%');}
}

label.switch {display:inline-block;position:relative;cursor:pointer;vertical-align: middle;margin:0 10px 0 0;
    .switch_input {visibility:hidden;position:relative;margin: 0;display: block;width: 24px;height: 24px;z-index:3}
    span {display:block;position:absolute;top:0;left:0;right:0;bottom:0;z-index:1;
        &.switch_label {margin:2px;
            &:before, &:after {content:'';position:absolute;top:0;left:0;right:0;bottom:0;opacity:0;@include cross('clip-path', 'polygon(0 0, 0% 100%, 100% 0)');background-color:rgba(#000,.2);@include transition(all 400ms cubic-bezier(.56,.05,.57,.96));}
                &:before {background-color:lighten($d-yellow, 30%);}
                &:after {background-color:#bfd6e6;@include cross('transform', 'rotate3d(-1, 1, 0, 0deg)');}


        }
        &.switch_handle {border:2px solid #7a9db5;@include transition(all 400ms cubic-bezier(.56,.05,.57,.96));}
    }

    &:hover {
        span.switch_label {
            &:before, &:after {opacity:1;}
        }
    }

    .switch_input:checked {
        & ~ span {
            &.switch_label {
                &:before, &:after {opacity:1;}
                &:before {background-color:lighten($d-yellow, 30%);}
                &:after {@include cross('transform', 'rotate3d(-1, 1, 0, -180deg)');background-color:$d-yellow;}
            }
            &.switch_handle {border-color:$d-yellow;}
        }
    }

    &.__toggle {overflow:visible;
        &:before {content:'';display:block;position:absolute;@include calc('width','100vw - 165px');height: 60px;top: -20px;left: -15px;background-color: #d0e6f1;z-index:-1}
    }
}

/* BUTTONS */
@include keyframes(rotate) {
    0% {@include rotate(0deg)}
    100% {@include rotate(360deg)}
}

.buttonfield {position:relative;display:inline-block;margin:0;background-color:transparent;border:none;white-space:nowrap;text-decoration:none;cursor:pointer;vertical-align:baseline;@include cross('user-select', 'none');@include cross('transform','translateZ(0)');@include cross('transform-style', 'preserve-3d');-moz-osx-font-smoothing:grayscale;font:16px/1.25 "Open Sans", Arial, sans-serif;letter-spacing:.08em;text-transform:uppercase;padding:11px 40px;background: $d-blue;color: white;@include transition(background-color .6s ease);overflow: hidden;@include box-sizing(border-box);

    &:after {content: "";position: absolute;width: 0;height: 0;top: 50%;left: 50%;@include cross('transform-style', 'flat');@include translate3d(-50%,-50%,0);background:$d-yellow;@include border-radius(100%);@include transition((width .3s ease, height .3s ease));}

    & > * {position:relative;z-index:1;}

    span.rticon:first-child {margin: 0 8px 0 0;}
    span.rticon:last-child {margin: 0 0 0 8px;}

    span.loader {position: absolute;right:6px;top: 50%;margin-top: -14px;width: 24px;height: 24px;border: 2px solid rgba(#fff,.4);border-left-color: transparent;border-right-color: transparent;@include border-radius(50%);@include animation(rotate 0.8s linear infinite);
        & + span.text {@include transition(all 0.2s ease-in-out);}
    }

    &:focus, &:hover {
        background: darken($d-blue,15%);
    }
    &:active {
        &:after {width:350px;height:350px;}
    }

    &.__secondary {background:#999;
        &:focus, &:hover {
            background: darken(#999,15%);
        }
    }

    &.__fail  {background:#fff;@include cross('transform', 'rotateX(90deg) translateY(-100%)');@include cross('transform-origin', '50% 0%');}

    /* &:active {;} */
    &:disabled, &:disabled:hover {background-color:#444!important;cursor:default;@include selectable(none, none, none);}
}

.option_button {display:inline-block;position:relative;margin:0 10px 0 0;@include cross('user-select', 'none');text-align:center;background:#b6bfca;border:none;padding:8px;width:40px;height:40px;color:#fff;@include box-sizing(border-box);@include cross('transform','translateZ(0)');@include cross('transform-style', 'preserve-3d');vertical-align:middle;cursor:pointer;font-size:24px;@include transition(background-color .6s ease);overflow:hidden;text-decoration:none;cursor:pointer;

    &:after {content: "";position: absolute;width: 0;height: 0;top: 50%;left: 50%;@include cross('transform-style', 'flat');@include translate3d(-50%,-50%,0);background:$d-blue;@include border-radius(100%);@include transition((width .3s ease, height .3s ease));}

    .rticon {vertical-align:0;z-index:1;
        &:after {display: inline-block;vertical-align: bottom;line-height: 35px;}
    }

    &:focus, &:hover {
        background: darken(#b6bfca,15%);
    }
    &:active {
        &:after {width:60px;height:60px;}
    }

    @at-root {
        .rticon {
            &.add_icon {
                &:after {content:'\002B';}
            }
            &.settings_icon {
                &:after {content:'\E137';}
            }
            &.delete_icon {
                &:after {content:'\E017';}
            }
            &.import_icon {
                &:after {content:'\E365';}
            }
            &.export_icon {
                &:after {content:'\E364';}
            }
            &.invite_icon {
                &:after {content:'\E007';}
            }
            &.ban_icon {
                &:after {content:'\E064';}
            }
            &.editor_icon {
                &:after {content:'\E119';}
            }
            &.view_icon {
                &:after {content:'\E028';}
            }
            &.edit_icon {
                &:after {content:'\270F';}
            }
            &.save_icon {
                &:after {content:'\E444';}
            }
            &.download_icon {
                &:after {content:'\E182';}
            }
            &.upload_icon {
                &:after {content:'\E364';}
            }
            &.ftp_icon {
                &:after {content:'\E131';}
            }
            &.filter_icon {
                &:after {content:'\E028';}
            }
            &.clear_icon {
                &:after {content:'\E257';}
            }
        }
    }
    &.active {background-color:$d-yellow;color:#000;}
}

.custom_button {display:inline-block;position:relative;margin:0 30px 0 0;background-color:transparent;white-space:nowrap;text-decoration:none;cursor:pointer;vertical-align:baseline;@include cross('user-select', 'none');@include cross('transform','translateZ(0)');@include cross('transform-style', 'preserve-3d');-moz-osx-font-smoothing:grayscale;font:24px/1.25 "Open Sans", Arial, sans-serif;letter-spacing:.01em;text-transform:uppercase;padding:11px 40px;color: white;border:2px dashed #fff;@include transition(all .6s ease);@include box-sizing(border-box);@include border-radius(30px);@include box-shadow(none);text-shadow:-1px -1px 0 rgba(#000,0.3), -1px -1px 2px rgba(#000,0.3);
    &.__colored {background-color:#fff;color:#222;text-shadow:1px 1px 0 rgba(#fff,0.3), 1px 1px 2px rgba(#fff,0.3)}

    &:hover {border-color:transparent;background-color:$d-blue;@include box-shadow( (inset 0 30px 40px -40px #fff, 0 10px 20px -10px #000) );
        &.__colored {background-color:$d-yellow;}
    }
}

.ace_editor {font: 14px/1.5 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace!important;}

/* SHOW PASSWORD BUTTON */
label.header_show_password {position:absolute;right:0px;bottom:0px;width:36px;height:42px;margin:0!important;padding:0!important;cursor:pointer;z-index:2;
    span.rticon {width:34px;height:42px;line-height:2.5;text-align:center;font-size:18px;color:rgba(#fff, .5);@include transition(all 0.2s ease-in-out);
        &:hover {color:#fff;}
        &:after {content:'\E053';}
    }
    input:checked + span.rticon:after {content:'\E052';}
}

/* ERROR BUBBLES */
.validation_msg {position:relative;text-align:left;z-index:9;
    &:before {content:attr(title);position:absolute;bottom:100%;left:0;@include border-radius(10px);@include box-shadow(0 10px 25px rgba(#000,.15));background-color:#fff;padding:15px;margin:0 0 20px -25px;}
    &:after {content:'';position:absolute;bottom:100%;left:0;width:0;height:0;border-style:solid;border-width:0 15px 25px 0;border-color:transparent #fff transparent transparent;@include rotate(360deg);margin:0 0 0 -24px;}

    &.kind_required, &.kind_minlength, &.kind_Date {color:$d-red;}
}

/* LANGUAGE TOGGLER */
.front_toggle_language {position:relative;float:right;
    .toggle_language__button {display:block;@include transition(all 0.2s ease-in-out);background:none;border:none;outline:none;text-align:left;color:#eee;padding:7px 10px;white-space:nowrap;text-decoration:none;overflow:hidden;@include box-sizing(border-box);cursor:pointer;line-height:46px;
        span.icon {display:inline-block;position:relative;width:25px;height:25px;@include transition(all 0.2s ease-in-out);@include background-behavior();@include border-radius(100px);@include box-shadow(0 0 0 1px #fff);vertical-align:-7px;z-index:1;}

        span.text {display:none;}

        &.__de-DE {
            span.icon {background-image:url(/static/img/lang_de.png);}
            & + .toggle_language__form .toggle_language__switcher.__de-DE {font-weight:bold;color:#fff;@include selectable(none, none, none);}
        }
        &.__en-US {
            span.icon {background-image:url(/static/img/lang_en.png);}
            & + .toggle_language__form .toggle_language__switcher.__en-US {font-weight:bold;color:#fff;@include selectable(none, none, none);}
        }
        &.__ru-RU {
            span.icon {background-image:url(/static/img/lang_ru.png);}
            & + .toggle_language__form .toggle_language__switcher.__ru-RU {font-weight:bold;color:#fff;@include selectable(none, none, none);}
        }
    }
    .toggle_language__form {position:absolute;bottom:100%;right:0%;background-color:#32373c;@include box-shadow(0 3px 5px rgba(#000,.2));opacity:0;@include transition( (opacity 0.2s ease-in-out, transform 0s ease-in-out) );@include cross('transition-delay', '.2s, .2s');@include scale(0);
        .toggle_language__scroll {
            &:before {content:'';display:block;width:12px;height:12px;position:absolute;bottom:-6px;right:16px;@include rotate(45deg);background-color:transparent;@include transition(all 0.2s ease-in-out);}
            .toggle_language__switcher {display:block;color:rgba(240,245,250,.7);background:none;border:none;outline:none;font-size:15px;line-height:40px;padding:7px 10px;text-align:left;@include box-sizing(border-box);white-space:nowrap;width:100%;cursor:pointer;@include transition(all 0.2s ease-in-out);
                span.icon {display:inline-block;width:15px;height:15px;position:relative;@include background-behavior();@include border-radius(100px);vertical-align:text-top;margin:0 5px 0 0;@include box-shadow(0 0 0 1px rgba(240,245,250,.4));}

                &.__de-DE {
                    span.icon {background-image:url(/static/img/lang_de.png);}
                }
                &.__en-US {
                    span.icon {background-image:url(/static/img/lang_en.png);}
                }
                &.__ru-RU {
                    span.icon {background-image:url(/static/img/lang_ru.png);}
                }

                &:hover {background-color:$d-red;}
            }
        }
    }

    &:hover, &.hover {z-index:5;
        .toggle_language__button {background-color:$d-red;}
        .toggle_language__form {opacity:1;@include scale(1);@include cross('transition-delay', '0s, 0s');
            .toggle_language__scroll {
                &:before {background-color:$d-red;}
            }
        }
    }
}

.tree {padding:10px 0 0 20px;
    .tree-node {
        .folder_icon {color:$d-yellow;vertical-align: middle;margin: 0 25px 0 -40px;cursor:pointer;
            &:after {content:'\E629';vertical-align: -2px;}
        }
        &.open {
            .tree-node-children {border-left:1px solid #eee;margin-left:16px;}
            & > .tree-node-inner-back > .tree-node-inner > div > .folder_icon {color:#d6dade;
                &:after {content:'\E632';}
            }
        }
        .tree-node-inner-back {padding:4px 4px 4px 15px!important;background-color:#fbfbfb;margin-bottom:5px!important;
            .tree-node-inner {line-height:40px;
                .route_edit {float:right;
                    .option_button {vertical-align:top;}
                }
            }
        }
    }
}

.dragover {@include border-radius(0px!important);margin-top: 24px;border: 8px dotted $d-yellow;background-color: transparent!important;@include cross('height','calc(100vh - 165px)!important');display: table!important; width: 100%;@include box-sizing(border-box);
    .draghelper {display: table-cell;vertical-align: middle;text-align: center;font-size: 48px;}
}

/* POPUPS */
.modal  {@include cross('perspective', '1300px');position: fixed;top: 0!important;left: 0;right: 0;bottom: 0;z-index: 999;visibility: hidden;@include transition(all 0.3s);@include selectable(none, none, none);background-color: rgba(#115e79, .25)!important;
    .modal_dialog {position: fixed;top: 50%;left: 50%;width: 50%;max-width: 630px;min-width: 320px;height: auto;z-index: 2000;@include cross('backface-visibility', 'hidden');@include cross('transform', 'translateX(-50%) translateY(-50%)');
        .modal_content {@include cross('transform-style', 'preserve-3d');@include cross('transform', 'rotateX(-60deg)');@include cross('transform-origin', '50% 0');@include transition(all 0.3s);opacity: 0;background-color:#fff;@include box-sizing(border-box);padding:40px;
            .modal_header {margin: -40px -40px 20px -40px;padding: 20px 40px;background-color:#004c73;position: relative;
                .modal_title {font-size: 24px;color: #fff;}
                .close {position: absolute;top: 50%;right: 0;border: none;background-color: transparent;font-size: 48px;color: #fff;margin: -30px 0 0 0;line-height: 61px;padding: 0 16px;cursor: pointer;@include transition(color 300ms cubic-bezier(.56,.05,.57,.96));
                    &:hover {color:$d-yellow}
                }
            }
            .modal_body {max-height: 80vh;overflow: auto;}
            .table {min-width:unset}
        }
        .modal_footer {text-align:right;
            .buttonfield:first-child:not(:only-child) {float:left;}
        }
    }

    &.show {visibility:visible;@include selectable();
        .modal_dialog {
            .modal_content {@include cross('transform', 'rotateX(0deg)');opacity: 1;}
        }
    }
}

/* TECH FORMS */
.tech_wrapper {min-height:100vh;
    .tech_form {display:inline-block;position:relative;margin:auto;text-align:center;background-color:#fff;color:#222;padding:0px 50px 30px 50px;width:400px;max-width:100vw;@include box-sizing(border-box);
        & > .router-link-active:first-child {display: block;width: 100px;margin:-145px auto 90px auto;@include box-shadow(0 0 0 10px #fff);
            #logo {background-color:#fff;display:block;
                & > * {fill:#004c73;
                    &:nth-child(1) {opacity:0.5;}
                    &:nth-child(2) {opacity:0.9;}
                    &:nth-child(3) {opacity:0.3;}
                    &:nth-child(4) {opacity:0.4;}
                    &:nth-child(5) {opacity:0.2;}
                    &:nth-child(6) {opacity:0.7;}
                    &:nth-child(7) {opacity:0.9;}
                }
            }
        }
        h2 {padding-top:0;margin-bottom:50px;color:$d-blue;}
        .side_link {color:#bfd6e6;}

        &.legal_form {width:900px}
        .legal_article {text-align:left;
            h2 {text-align:center;}
            li {padding-left:20px;padding-bottom:5px;}
            & > ul {
                & > li {padding-top:20px;}
            }
            ol {counter-reset: ol_1;list-style-position:outside;
                li {counter-increment: ol_1;
                    &:before {content:counter(ol_1)'. '}
                }
                ol {counter-reset: ol_2;
                    li {counter-increment: ol_2;
                        &:before {content:counter(ol_1)'.'counter(ol_2)'. '}
                    }
                    ol {counter-reset: ol_3;
                        li {counter-increment: ol_3;
                            &:before {content:counter(ol_1)'.'counter(ol_2)'.'counter(ol_3)'. '}
                        }
                        ol {counter-reset: ol_4;
                            li {counter-increment: ol_4;
                                &:before {content:counter(ol_1)'.'counter(ol_2)'.'counter(ol_3)'.'counter(ol_4)'. '}
                            }
                        }
                    }
                }
                ul {list-style:lower-latin inside;
                    & > li {
                        &:before {display:none;}
                    }
                }
            }
        }
    }
}
.terms .tech_wrapper, .prices .tech_wrapper {padding-top: 200px;padding-bottom: 100px;}

/* PRELOADER */
// name duration timing-function delay iteration-count direction fill-mode play-state;
@include keyframes(move_left) {
    from {@include translate(0, 0);}
    to {@include translate(-50px, 0);}
}
@include keyframes(move_right) {
    from {@include translate(0, 0);}
    to {@include translate(50px, 0);}
}
@include keyframes(move_top) {
    from {@include translate(0, 0);}
    to {@include translate(0, -50px);}
}
@include keyframes(move_bottom) {
    from {@include translate(0, 0);}
    to {@include translate(0, 50px);}
}

#preloader {position:fixed;top:0;right:0;bottom:0;left:100px;@include cross('backdrop-filter', 'blur(5px)');background-color:rgba(#000, 0.15);z-index:9999;
    #preloader__lay {display:inline-block;width:140px;height:140px;position:relative;
        .preloader__point {display:block;position:absolute;width:40px;height:40px;background-color:#fff;top:0;left:0;
            &:nth-child(8) {background-color:$d-yellow}
            &:nth-child(3), &:nth-child(7) {background-color:$d-blue}
        }
        &.__to_end {
            .preloader__point {
                &:nth-child(1) {@include animation(move_bottom 300ms cubic-bezier(0.83, 0, 0.17, 1) 3500ms 1 normal both running);margin-left:0;margin-top:0;}
                &:nth-child(2) {@include animation(move_right 300ms cubic-bezier(0.83, 0, 0.17, 1) 0ms 1 normal both running);margin-left:50px;margin-top:0;}
                &:nth-child(3) {@include animation(move_bottom 300ms cubic-bezier(0.83, 0, 0.17, 1) 3000ms 1 normal both running);margin-left:0;margin-top:50px;}
                &:nth-child(4) {@include animation(move_top 300ms cubic-bezier(0.83, 0, 0.17, 1) 500ms 1 normal both running);margin-left:50px;margin-top:50px;}
                &:nth-child(5) {@include animation(move_left 300ms cubic-bezier(0.83, 0, 0.17, 1) 1000ms 1 normal both running);margin-left:100px;margin-top:50px;}
                &:nth-child(6) {@include animation(move_right 300ms cubic-bezier(0.83, 0, 0.17, 1) 2500ms 1 normal both running);margin-left:0;margin-top:100px;}
                &:nth-child(7) {@include animation(move_right 300ms cubic-bezier(0.83, 0, 0.17, 1) 2000ms 1 normal both running);margin-left:50px;margin-top:100px;}
                &:nth-child(8) {@include animation(move_top 300ms cubic-bezier(0.83, 0, 0.17, 1) 1500ms 1 normal both running);margin-left:100px;margin-top:100px;}
            }
        }

        &.__to_start {
            .preloader__point {@include translate(0, 0);
                &:nth-child(1) {@include animation(move_right 300ms cubic-bezier(0.83, 0, 0.17, 1) 1000ms 1 normal both running);margin-left:0;margin-top:50px;}
                &:nth-child(2) {@include animation(move_bottom 300ms cubic-bezier(0.83, 0, 0.17, 1) 3500ms 1 normal both running);margin-left:100px;margin-top:0;}
                &:nth-child(3) {@include animation(move_top 300ms cubic-bezier(0.83, 0, 0.17, 1) 1500ms 1 normal both running);margin-left:0;margin-top:100px;}
                &:nth-child(4) {@include animation(move_left 300ms cubic-bezier(0.83, 0, 0.17, 1) 0ms 1 normal both running);margin-left:50px;margin-top:0;}
                &:nth-child(5) {@include animation(move_top 300ms cubic-bezier(0.83, 0, 0.17, 1) 500ms 1 normal both running);margin-left:50px;margin-top:50px;}
                &:nth-child(6) {@include animation(move_left 300ms cubic-bezier(0.83, 0, 0.17, 1) 2000ms 1 normal both running);margin-left:50px;margin-top:100px;}
                &:nth-child(7) {@include animation(move_left 300ms cubic-bezier(0.83, 0, 0.17, 1) 2500ms 1 normal both running);margin-left:100px;margin-top:100px;}
                &:nth-child(8) {@include animation(move_bottom 300ms cubic-bezier(0.83, 0, 0.17, 1) 3000ms 1 normal both running);margin-left:100px;margin-top:50px;}
            }
        }
    }
}
