/* BODY fonts*/
@font-face {
    font-family:'Open Sans';
    font-style:normal;
    font-weight:300;
    src:local('Open Sans Light'),
        local('OpenSans-Light'),
        url('/static/font/OpenSans-Light.woff') format('woff');
}
@font-face {
    font-family:'Open Sans';
    font-style:normal;
    font-weight:400;
    src:local('Open Sans'),
        local('OpenSans'),
        url('/static/font/OpenSans.woff') format('woff');
}
@font-face {
    font-family:'Open Sans';
    font-style:normal;
    font-weight:600;
    src:local('Open Sans Semibold'),
        local('OpenSans-Semibold'),
        url('/static/font/OpenSans-Semibold.woff') format('woff');
}
@font-face {
    font-family:'Open Sans';
    font-style:italic;
    font-weight:300;
    src:local('Open Sans Light Italic'),
        local('OpenSansLight-Italic'),
        url('/static/font/OpenSansLight-Italic.woff') format('woff');
}
@font-face {
    font-family:'Open Sans';
    font-style:italic;
    font-weight:400;
    src:local('Open Sans Italic'),
        local('OpenSans-Italic'),
        url('/static/font/OpenSans-Italic.woff') format('woff');
}
@font-face {
    font-family:'Open Sans';
    font-style:italic;
    font-weight:600;
    src:local('Open Sans Semibold Italic'),
        local('OpenSans-SemiboldItalic'),
        url('/static/font/OpenSans-SemiboldItalic.woff') format('woff');
}

/* ICONS fonts*/
@font-face {
    font-family:'RTicon Regular';
    src:url('/static/font/rticon.eot?#iefix') format('embedded-opentype'),
        url('/static/font/rticon.woff2') format('woff2'),
        url('/static/font/rticon.woff') format('woff'),
        url('/static/font/rticon.ttf') format('truetype'),
        url('/static/font/rticon.svg#rticon') format('svg')
}

.rticon, .ui-icon, .fm_icon, .ui-button-icon, .ui-dialog-titlebar-close {position:relative;top:1px;display:inline-block;font-family:'RTicon Regular'!important;text-decoration:inherit;vertical-align:middle;text-decoration:none;font-style:normal;font-weight:normal;line-height:1;speak:none;text-rendering:optimizeLegibility;text-rendering:geometricPrecision;font-smooth:always;@include cross('font-smoothing', 'antialiased');-webkit-font-smoothing:subpixel-antialiased;-moz-osx-font-smoothing:grayscale}