.table_actions {float:left;padding:0 0 10px 0;width:100%;text-align:right;
    .actions_line {float:left;}
    .list_table_filters {display:inline-block;padding-top:10px;
        .form_label {display:inline-block;width:260px;vertical-align:text-top;margin-bottom:0;@include box-sizing(border-box);
            #text_filter {padding-right:42px;
                &.not_empty ~ .text_filter_icon {display:block;}
            }
            .text_filter_icon {display:none;position:absolute;top:0;bottom:0;right:0;font-size:24px;text-align:center;color:#333;width:42px;line-height:42px;@include transition(all 0.2s ease-in-out);cursor:pointer;z-index:1;
                &:after {content:'\E257'}

                &:hover {color:$d-red;}
            }
        }
    }
}

.table_wrapper {overflow-x:auto;overflow-y:auto;clear:both;}

.table {display:table;table-layout:fixed;clear:both;min-width:600px;overflow:hidden;
    &.stretch_width {width:100%;}
    .tr {display:table-row;background-color:rgba(0,0,0,0.05);
        .td {display:table-cell;padding:10px;vertical-align:top;@include box-sizing(border-box);text-overflow:ellipsis;
            &.td__select {padding:10px 0 0 4px;width:45px;
                .checkbox__block {@include scale(0.8)}
            }
        }

        &:nth-child(even) {background-color:transparent}
    }
    .list_select_check, .list_select_check_all {width:30px;
        label.checkbox__block {display:inline-block;padding:0 0 0 20px;min-height:10px;
            .checkbox__icon {width:20px;height:10px;margin-top:-5px;@include border-radius(0);
                &:after {width:6px;height:6px;top:2px;left:2px;@include border-radius(0);}
            }
        
            .checkbox__input:checked {
                & + .checkbox__icon {
                    &:after {left:12px;}
                }
            }
            .checkbox__input.semichecked, .checkbox__input.semichecked:hover {
                & + .checkbox__icon {@include box-shadow(inset 0 0 0 1px #666);
                    &:after {background-color:#666;left:7px;}
                }
                & ~ .checkbox__text {
                    em {display:inline}
                }
            }
        }
    }

    .table_header {display:table-header-group;
        .tr {background-color:#000;color:#fff;font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
            .td {position:relative;padding-right:28px;
                a {color:#fff;display:block;white-space:nowrap;text-overflow:ellipsis;}
                span.rticon {position:absolute;right:5px;width:16px;height:12px;font-size:12px;opacity:.35;line-height:12px;text-align:center;
                    &.arr_top {top:8px;
                        &:after {content:'\e601'}
                    }
                    &.arr_bottom {top:unset;bottom:8px;
                        &:after {content:'\e602'}
                    }
                }
                &.desc {
                    span.rticon {
                        &.arr_top {opacity:1}
                        &.arr_bottom {opacity:.6}
                    }
                }
                &.asc {
                    span.rticon {
                        &.arr_top {opacity:.6}
                        &.arr_bottom {opacity:1}
                    }
                }
            }
        }
    }
    .table_body {display:table-row-group;}
    .table_footer {display:table-footer-group;
        .tr {background-color:transparent;font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif;color:rgba(#000, .4);
            .td {border-top:1px solid #666;}
        }
    }
}
#pagination {padding:40px 0;display:table;width:100%;line-height:40px;
    .list_table_counter {text-align:right;color:#666;float:right;clear:right;padding:0 0 0 40px;}
    .list_table_pagination {
        .list_table_pagination_page_link {display:inline-block;width:40px;min-height:40px;text-align:center;background-color:$d-yellow;
            a {display:block;width:inherit;height:inherit;padding:0 10px;@include box-sizing(border-box);@include box-shadow(inset 0 0 1px rgba(#000,.5));background-color:#fff;}
        }
    }
}