@media all and (max-width:1600px) {
    #app[class]:not(.header) .navbar #nav_layout #nav_layout__generated {overflow:auto;scroll-behavior: smooth;}
}

@media all and (max-width:1440px) {
}

@media all and (max-width:1024px) {
    .navbar #nav_layout #nav_layout__generated .generated_block:not([data-slide="header"]) {display:none}
    .footer.slide__footer {font-size:14px;
        .container {display: table!important;}
    }

    @media (orientation:portrait) {
        main.content #scroll_wrapper .slide {
            &.slide__header #logo_wrapper #tagline {@include calc('font-size', '10px + 1vw + 1vh');margin-top:-5vmin;}
            .container {padding:25px;
                &.__left_side .feature_text,
                &.__right_side .feature_text {padding-left:0;padding-right:0;}

                .feature_icon svg {width:auto;height:100%;}
                .feature_text {padding-top: 100px;
                    h2 {word-break: break-all;}
                }
            }

            &#slide__instruments .feature_text {
                ul {@include cross('flex-wrap', 'wrap');
                    li {padding-right:0;}
                }
            }
            &#slide__partners .feature_text {
                .flex_row {@include cross('flex-wrap', 'wrap');
                    h2 {@include cross('flex', '0 2 100%');padding-right:0;text-align:center;}
                }
            }
        }
    }
}

@media only screen and (max-width:980px),
       only screen and (min-device-width:320px) and (max-device-width:480px) and (min-device-pixel-ratio:2),
       only screen and (min-device-width:320px) and (max-device-width:568px) and (min-device-pixel-ratio:2),
       only screen and (min-device-width:375px) and (max-device-width:667px) and (min-device-pixel-ratio:2),
       only screen and (min-device-width:414px) and (max-device-width:736px) and (min-device-pixel-ratio:3),
       screen and (device-width:320px) and (device-height:640px) and (device-pixel-ratio:2),
       screen and (device-width:320px) and (device-height:640px) and (device-pixel-ratio:3),
       screen and (device-width:360px) and (device-height:640px) and (device-pixel-ratio:3),
       only screen and (min-device-width:768px) and (max-device-width:1024px) and (min-device-pixel-ratio:1),
       only screen and (min-device-width:768px) and (max-device-width:1024px) and (min-device-pixel-ratio:1),
       only screen and (min-device-width:768px) and (max-device-width:1024px) and (min-device-pixel-ratio:2)
{
    label {
        &.switch {
            &.__toggle {
                &:before {display:none;}
            }
        }
    }
    .inline_with_button {margin-right:0;
        & + .buttonfield {float:none;margin-top:10px;width:100%;}
    }
    .buttonfield {padding:11px;width:100%;text-align:left;
        .rticon {display:none;}
        .text {display:block;@include hidetext();max-width: 175px;}
    }
    .form_label {
        &.__inline {@include cross('flex-wrap', 'wrap');
            & > * {@include cross('flex', '0 0 100%!important');padding-right:0;
                .subst_to_field {display:none;}
            }
        }
    }
    .custom_button {margin:0 0 20px 0;white-space: normal;}

    #preloader {left:65px;
        #preloader__lay {@include scale(.5);}
    }

    .navbar {
        #nav_layout {
            #nav_layout__generated {overflow:auto;
                .generated_block {
                    a.header_link {max-width:unset;}
                }
            }
        }
    }
    main.content {
        &#adminpanel_content {padding-left:105px;
            .ui__menu {display:block;}
            .ace_editor {margin-left: -40px;margin-right: -10px;}
            .main_content {padding: 40px 10px 40px 0;
                .section__content {
                    .filter_inside {padding-right:0;
                        #filter {position:relative;width:100%;top:0;@include translate(0, 0);margin-top: 10px;}
                    }
                    .sites_panel {
                        .site_block {width:100%;padding-bottom: 61%;
                            .block__inner {
                                .site {
                                    figcaption {
                                        .text {}
                                    }
                                    &.add_new {padding-top:20px;}
                                }
                            }
                        }
                    }
                }
            }

            .header {
                .section__content {
                    .logo {
                        a {
                            #logo {width:66px;}
                        }
                    }
                    .box {
                        label {padding: 10px 8px;}
                    }
                }
            }
        }

        #scroll_wrapper .slide {
            &#slide__partners .feature_text {
                h2 {}
            }
        }
    }

    .tech_wrapper {padding:190px 0 0 0;
        .centered__inner {vertical-align:top;}
    }
    .terms .tech_wrapper, .prices .tech_wrapper {padding-bottom:160px;}

    $footer_height:130px;
    .footer {margin:-#{$footer_height} auto 0;height:#{$footer_height};padding: 0 25% 0 10px;}
}