// Colors
$d-gray:     #9ea7a7;
$d-dgray:    #273340;
$d-gblue:    #a7c7e5;
$d-turquoise:#75d5d0;
$d-lblue:    #38ccf5;
$d-blue:     #0f7bc3;
$d-purple:   #8043a2;
$d-brown:    #8d4a32;
$d-red:      #FF2057;
$d-pink:     #FF7497;
$d-orange:   #ff7d32;
$d-yellow:   #ffc846;
$d-lgreen:   #b1d451;
$d-dgreen:   #4dbd61;

//Vars
$ie7_inline_hack: inline;
@mixin float_hack($side) {
    float:$side;
}

// Properties
@mixin transition($transition) {
    -webkit-transition:$transition;
       -moz-transition:$transition;
        -ms-transition:$transition;
         -o-transition:$transition;
            transition:$transition;
}

@mixin border-radius($radius) {
    -webkit-border-radius:$radius;
       -moz-border-radius:$radius;
        -ms-border-radius:$radius;
         -o-border-radius:$radius;
            border-radius:$radius;
}

@mixin box-sizing($sizing) {
    -webkit-box-sizing:$sizing;
       -moz-box-sizing:$sizing;
         -o-box-sizing:$sizing;
            box-sizing:$sizing;
}

@mixin box-shadow($shadow...) {
    -webkit-box-shadow:$shadow;
       -moz-box-shadow:$shadow;
            box-shadow:$shadow;
}

@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
            transform: $transforms;
}
    // rotate
    @mixin rotate ($rotate) {
        @include transform(rotate(#{$rotate}));
    }
    
    // scale
    @mixin scale($scale) {
        @include transform(scale($scale));
    } 
    // translate
    @mixin translate ($x, $y) {
        @include transform(translate($x, $y));
    }
    // translate3D
    @mixin translate3d ($x: 0, $y: 0, $z: 0) {
        @include transform(translate3d(#{$x}, #{$y}, #{$z}));
    }
    // skew
    @mixin skew ($x, $y) {
        @include transform(skew(#{$x}, #{$y}));
    }

@mixin filter($type,$amount: 0) {
    $filterIE: "progid:DXImageTransform.Microsoft.#{$type}(PixelRadius='#{$amount}')";
    filter: url(#{$static_path}/img/filter.svg##{$type}#{$amount});
    filter: #{$filterIE};
    -webkit-filter: #{$type+unquote('(#{$amount}px)')};
       -moz-filter: #{$type+unquote('(#{$amount}px)')};
        -ms-filter: #{$type+unquote('(#{$amount}px)')};
         -o-filter: #{$type+unquote('(#{$amount}px)')};
            filter: #{$type+unquote('(#{$amount}px)')};
}

@mixin calc($property, $expression) {
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: expression(#{$expression});
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -o-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin cross($property, $expression) {
  -webkit-#{$property}: #{$expression};
  -moz-#{$property}:    #{$expression};
  -ms-#{$property}:     #{$expression};
  -o-#{$property}:      #{$expression};
  #{$property}:         #{$expression};
}

@mixin crossProp($property, $expression) {
    #{$property}: -webkit-#{$expression};
    #{$property}:    -moz-#{$expression};
    #{$property}:     -ms-#{$expression};
    #{$property}:      -o-#{$expression};
    #{$property}:         #{$expression};
}
  
@mixin gradient($direction, $fromColor, $middlecolors, $toColor) {
    $gradtype: 'linear';
    $crossdir: 'left';
    $defaultdir: 'to right';
    $IEdir: '1';
    @if $middlecolors != '' {
        $middlecolors: $middlecolors+',';
    }
    
    @if $direction == 'left' {
        $gradtype: 'linear';
        $crossdir: 'left';
        $defaultdir: 'to right';
        $IEdir: '1';
    } @else if $direction == 'top' {
        $gradtype: 'linear';
        $crossdir: 'top';
        $defaultdir: 'to bottom';
        $IEdir: '0';
    } @else if $direction == 'diagonalTop' {
        $gradtype: 'linear';
        $crossdir: '-45deg';
        $defaultdir: '135deg';
        $IEdir: '1';
    } @else if $direction == 'diagonalBottom' {
        $gradtype: 'linear';
        $crossdir: '45deg';
        $defaultdir: '45deg';
        $IEdir: '1';
    } @else if $direction == 'radial' {
        $gradtype: 'radial';
        $crossdir: 'center, ellipse cover';
        $defaultdir: 'ellipse at center';
        $IEdir: '1';
    }
    background:#{$fromColor};
    background-image: -webkit-#{$gradtype}-gradient(#{$crossdir}, $fromColor, #{$middlecolors} $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:    -moz-#{$gradtype}-gradient(#{$crossdir}, $fromColor, #{$middlecolors} $toColor); /* FF3.6 */
    background-image:     -ms-#{$gradtype}-gradient(#{$crossdir}, $fromColor, #{$middlecolors} $toColor); /* IE10 */
    background-image:      -o-#{$gradtype}-gradient(#{$crossdir}, $fromColor, #{$middlecolors} $toColor); /* Opera 11.10+ */
    background-image:         #{$gradtype}-gradient(#{$defaultdir}, $fromColor, #{$middlecolors} $toColor);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=#{$IEdir},StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}
/* SHORTCODE: @include gradient('GradientType', (firstColor 0%), 'Colors_in_the_middle', (lastColor 100%)); */

@mixin selectable($select:text, $event:all, $touch:auto) {
    -webkit-user-select:$select;
    -moz-user-select:$select;
    -ms-user-select:$select;
    user-select:$select;
    pointer-events:$event;
    -webkit-touch-action:$touch;
    -moz-touch-action:$touch;
    -ms-touch-action:$touch;
    touch-action:$touch;
}

@mixin column($count:auto, $width:auto, $gap:normal, $rule:none) {
    -moz-column-count:           $count;
    -webkit-column-count:        $count;
    -o-column-count:             $count;
    column-count:                $count;
    -moz-column-width:           $width;
    -webkit-column-width:        $width;
    -o-column-width:             $width;
    column-width:                $width;
    -moz-column-gap:             $gap;
    -webkit-column-gap:          $gap;
    -o-column-gap:               $gap;
    column-gap:                  $gap;
    -moz-column-rule:            $rule;
    -webkit-column-rule:         $rule;
    -o-column-rule:              $rule;
    column-rule:                 $rule;
}

// Shortcodes
@mixin hidetext() {
    text-overflow:-o-ellipsis-lastline;
                text-overflow:ellipsis;
                       overflow:hidden;
}

@mixin truncat($i) {
    display:block;
    @include crossProp('display', 'box');
    text-overflow:-o-ellipsis-lastline;
    text-overflow:ellipsis;
    overflow:hidden;
    @include cross('line-clamp', $i);
    @include cross('box-orient', 'vertical');
    @include calc('max-height', '1.3em * '$i);
    line-height:1.3em;
}

@mixin ab_full_size() {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

@mixin background-behavior() {
    background-origin:border-box;
    background-attachment:scroll;
    background-repeat:no-repeat;
    background-clip:border-box;
    background-position:center;
    background-size:cover;
}

@mixin animated() {
    -webkit-animation-duration:1.5s;
    -webkit-animation-fill-mode:both;
    animation-duration:1.5s;
    animation-fill-mode:both;
}

// animate with prefixes
// name duration timing-function delay iteration-count direction fill-mode play-state;
// @include animation(NAME DURATION REPEAT DIRECTION TIMING, NAME DURATION REPEAT DIRECTION TIMING);
// like @include animation(splash 1s normal forwards ease-in-out);
@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }

    -webkit-animation: $animations;
    -moz-animation: $animations;
    -o-animation: $animations;
    animation: $animations;
}

// animation keyframes
// @include keyframes(ANIMATIONNAME) {
//   0% { ATTRIBUTE: VALUE; ATTRIBUTE: VALUE; }
//   50% { ATTRIBUTE: VALUE; ATTRIBUTE: VALUE; }
//   100% { ATTRIBUTE: VALUE; ATTRIBUTE: VALUE; }
// }
@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

//Vars
$header_height:50vh;
$footer_height:90px;
$aspect16_9: "(device-aspect-ratio: 16/9)";