<template>
  <layout active_tab="settings">
    <div class="page_router">
      <h2>Настройки сайта</h2>
      <div class="card">
        <div class="card-body">

          <div v-if="site_settings.uses_cdn" class="form_group">
            <label class="control_label" for="site_domain">Кэш CDN</label>
            <button class="buttonfield" @click="purge_cdn">
              <span class="rticon delete_icon"></span>
              <span class="text">Удалить кэш CDN</span>
            </button>
          </div>

          <div class="form_group">
            <label class="control_label">
              <select v-model="site_settings.tariff" class="form_control textfield lightfield selectfield">
                <option value="demo">Демо</option>
                <option value="basic">Базовый</option>
                <option value="pro">Профессиональный</option>
              </select><span class="placeholder">Тариф</span>
              <hr class="lightfield_line">
            </label>
          </div>

          <div class="form_group">
            <label class="control_label">
              <input id="site_name" v-model="site_settings.name" class="form_control textfield lightfield" placeholder="Название сайта"
                     type="text"><span class="placeholder">Название сайта</span>
              <hr class="lightfield_line">
            </label>
          </div>

          <div class="form_group">
            <label class="control_label">
              <input id="site_domain" v-model="site_settings.domain" class="form_control textfield lightfield"
                     placeholder="Основной домен" type="text"><span class="placeholder">Основной домен</span>
              <hr class="lightfield_line">
            </label>
          </div>

          <div class="form_group">
            <label class="control_label">
              <select id="www_settings" v-model="site_settings.www_redirect"
                      class="form_control textfield lightfield selectfield">
                <option value="">Отображать с WWW и без</option>
                <option value="without_www">Редирект c www.{{ site_settings.domain }} на
                  {{ site_settings.domain }}
                </option>
                <option value="only_www">Редирект c {{ site_settings.domain }} на
                  www.{{ site_settings.domain }}
                </option>
              </select><span class="placeholder">Отображение сайта на домене www.{{ site_settings.domain }}</span>
              <hr class="lightfield_line">
            </label>
          </div>

          <div class="form_group">
            <label class="control_label">
              <select id="slash_redirect" v-model="site_settings.slash_redirect"
                      class="form_control textfield lightfield selectfield">
                <option value="">Отображать с / и без /</option>
                <option value="only_slash">Редирект c /path на /path/</option>
                <option value="slash_dots">Редирект c /path на /path/ (если нет расширения)</option>
                <option value="without_slash">Редирект c /path/ на /path</option>
              </select><span class="placeholder">Редирект для слешей в конце пути</span>
              <hr class="lightfield_line">
            </label>
          </div>

          <div class="form_group">
            <label class="switch">
              <input v-model="site_settings.has_certificate" class="switch_input" type="checkbox"
                     @change="certificate_deactivate">
              <span class="switch_label"></span>
              <span class="switch_handle"></span>
            </label>
            <template v-if="site_settings.has_certificate">
              Сертификат от <a href="https://letsencrypt.org" target="_blank">Let’s Encrypt</a>
            </template>
            <template v-else>Сертификат для отображения сайта по <span class="bg-flat-color-1 text-light">HTTPS</span>
            </template>
            <span v-if="site_settings.has_certificate && !site_settings.certificate"
                  class="ml-2 dots_blink"><i class="fa fa-truck"
                                                                                        title="Идёт получение сертификата"></i> Идёт процесс настройки сертификата<span>.</span><span>.</span><span>.</span></span>
          </div>

          <div class="form_group">
            <label class="control_label">
              <select id="https_redirect" v-model="site_settings.https_redirect"
                      :disabled="!site_settings.certificate"
                      class="form_control textfield lightfield selectfield">
                <option value="">Отображать HTTPS и HTTP</option>
                <option value="only_https">Редирект c http://{{ site_settings.domain }} на
                  https://{{ site_settings.domain }}
                </option>
              </select><span class="placeholder">Отображение сайта по адресу https://{{ site_settings.domain }}</span>
              <hr class="lightfield_line">
            </label>
          </div>

          <div>
            <button id="payment-button" class="buttonfield" type="button" @click="saveSite">
              <span class="rticon save_icon"></span>
              <span v-if="is_saving" id="payment-button-sending" class="loader"></span>
              <span id="payment-button-amount" class="text">Сохранить</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </layout>
</template>

<style>
@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

.dots_blink span {
  font-size: 17px;
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.dots_blink span:nth-child(2) {
  animation-delay: .2s;
}

.dots_blink span:nth-child(3) {
  animation-delay: .4s;
}
</style>
<script lang="ts" src="./main.ts"></script>
