<template>
    <layout>
        <div class="page_router">
            <h2>Добро пожаловать!</h2>
            <div class="card">
                <div class="card-body">
                    <p>Используйте все возможности LMS</p>
                </div>
            </div>
        </div>
    </layout>
</template>

<script lang="ts" src="./welcome.ts"></script>
