<template>
  <div>
    <layout v-if="user" :show_menu="false">
      <div class="container">
        <div class="container-fluid">
          <div class="row">
            <div v-for="site in sites" class="col-lg-4 col-md-6 col-sm-6">
              <div class="card card-stats">
                <router-link :to="{name: 'site', params: { site: site.id }}"
                             class="card-header card-header-success">
                  <h3 class="card-title">{{ site.name }}</h3>
                </router-link>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">link</i>
                    <a :href="'http://' + site.domain" target="_blank" title="Перейти к сайту">
                      {{ site.domain }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </layout>
    <template v-if="!user">
      <div class="wrapper wrapper-full-page">
        <div class=" login-page header-filter" filter-color="black"
             style="background-image: url('../../assets/splash.jpeg'); background-size: cover; background-position: top center;">
          <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
                <form action="" class="form" method="post" @submit="signIn">
                  <div class="card card-login">
                    <div class="card-header card-header-rose text-center">
                      <h4 class="card-title">Login</h4>

                      <div class="social-line">
                        <p>Новейшие космические разработки</p>
                      </div>
                    </div>
                    <div class="card-body ">
                      <p class="card-description text-center">в онлайн образовании</p>
                      <span class="bmd-form-group">
                  </span>
                      <span class="bmd-form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">email</i>
                        </span>
                      </div>
                      <input v-model="user_email" class="form-control" placeholder="Email..." type="email">
                    </div>
                  </span>
                      <span class="bmd-form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">lock_outline</i>
                        </span>
                      </div>
                      <input v-model="user_password" class="form-control" placeholder="Password..." type="password">
                    </div>
                  </span>
                    </div>
                    <div class="card-footer justify-content-center">
                      <button class="btn btn-primary pull-right" type="submit">Вход</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <form v-if="0" class="form-signin" method="post" @submit="signIn">
        <p>Новейшие космические разработки <br>в онлайн образовании</p>
        <label class="sr-only" for="inputEmail">Email</label>
        <input id="inputEmail" v-model="user_email" autofocus class="form-control" placeholder="Email" required
               type="email">
        <label class="sr-only" for="inputPassword">Пароль</label>
        <input id="inputPassword" v-model="user_password" class="form-control" placeholder="Пароль" required
               type="password">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Вход</button>

        <p class="mt-5 mb-3 text-muted">
          <svg clip-rule="evenodd" fill-rule="evenodd" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M7.902 14c-1.722-1.39-2.902-3.968-2.902-6.037 0-3.094 2.158-4.89 4.187-4.961.841-.013 1.729.199 2.394.57-.175-1.278-.747-2.259-1.344-2.958l1.367-.614c.283.407.572 1.129.761 1.979.383-.695.848-1.262 1.475-1.628.669-.391 1.778-.412 2.518-.272-.187.658-.577 1.513-1.491 2.075-.562.345-1.467.522-2.384.453.042.283.073.574.087.867.682-.364 1.44-.484 2.243-.472 2.029.071 4.187 1.867 4.187 4.961 0 2.069-1.18 4.647-2.902 6.037h6.902v2h-19.5c-.276 0-.5.224-.5.5s.224.5.5.5h19.5v2h-18.5c-.828 0-1.5.672-1.5 1.5s.672 1.5 1.5 1.5h18.5v2h-18.5c-1.932 0-3.5-1.568-3.5-3.5 0-.83.29-1.593.773-2.193-.476-.455-.773-1.097-.773-1.807 0-1.38 1.12-2.5 2.5-2.5h4.402zm15.098 7h-18v-1h18v1zm-12.624-15.6c-1.643 1.229-2.035 3.45-.42 6.6-.755-.402-2.37-2.047-2.352-3.945.016-1.676 1.413-2.73 2.772-2.655z"/>
          </svg>
        </p>
      </form>
    </template>
  </div>
</template>
<script lang="ts" src="./home.ts"></script>
<style>
</style>
