<template>
    <main class="content tech_page">
        <article class="entry">
            <div class="centered__outer textcenter tech_wrapper">
                <div class="centered__inner">
                    <div id="register_form" class="tech_form">
                        <router-link title="Главная страница" to="/">
                            <svg id="logo" style="enable-background:new 0 0 100 100;" version="1.1" viewBox="0 0 100 100" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" y="0px">
                                <rect height="43" width="22" y="57"/>
                                <rect height="37" width="22" y="20"/>
                                <rect height="65" width="20" x="22" y="35"/>
                                <rect height="20" width="70"/>
                                <polygon points="70,0 70,20 78,28 78,35 100,35 100,0 "/>
                                <rect height="45" width="43" x="57" y="35"/>
                                <rect height="20" width="58" x="42" y="80"/>
                            </svg>
                        </router-link>
                        <h2><span class="rticon"></span>Создайте акаунт<br><small>и используйте все возможности платформы!</small></h2>
                        <form @submit="signUp">
                          <label class="form_label">
                            <input  id="enter_domain" name="login" class="textfield loginfield lightfield" tabindex="1001" placeholder="DOMAIN.lms.page" v-model="user_domain"><span class="placeholder">Домен на LMS.page</span><hr class="lightfield_line">
                          </label>
                            <label class="form_label">
                                <input type="email" id="enter_login" name="login" class="textfield loginfield lightfield" tabindex="1002" placeholder="Электронная почта" v-model="user_email"><span class="placeholder">Электронная почта</span><hr class="lightfield_line">
                            </label>
                            <label class="form_label" for="enter_password">
                                <label class="header_show_password">
                                    <input @change="show_password=!show_password" id="header_show_password" type="checkbox" class="hidden_box">
                                    <span class="rticon"></span>
                                </label>
                                <input :type="show_password ? 'text' : 'password'" id="enter_password" name="password" class="textfield lightfield" tabindex="1003" placeholder="Пароль" maxlength="32" v-model="user_password"><span class="placeholder">Пароль</span><hr class="lightfield_line">
                            </label>
                            <div class="form_label">
                                <button @click="signUp" :disabled="processing" type="button" class="buttonfield" tabindex="1003">
                                  <span class="text">Создать школу</span>
                                </button>
                            </div>
                            <router-link :to="{name: 'login' }" class="side_link">Вход</router-link>
                        </form>
                    </div>
                </div>
            </div>
        </article>

        <!-- Call to Action -->
        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <ul class="list_inline">
                        <li class="list_inline_item">
                            <router-link :to="{name: 'home' }"><span class="text">LMS</span></router-link>
                        </li>
                        <li class="list_inline_item">
                            <router-link :to="{name: 'tariffs' }"><span class="text">Тарифы</span></router-link>
                        </li>
                        <li class="list_inline_item">
                            <router-link :to="{name: 'terms' }"><span class="text">Пользовательское соглашение</span></router-link>
                        </li>
                        <li class="list_inline_item">
                            <a href="https://help.lms.space/" target="_blank"><span class="text">Документация</span></a>
                        </li>
                    </ul>
                    <p class="copyright">&copy; LMS 2020</p>
                    <div id="design">
                        <a id="design__link" href="https://redthread.studio/" target="_blank" title="Red Thread design" rel="author">
                            <svg id="design__field" version="1.2" baseProfile="tiny"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 70 100"
                                xml:space="preserve">
                            <polygon id="design__shadow" points="10,78 15,0 40.31,17.48 70,2 61.87,83.04 10,78 "/>
                            <polygon id="design__label" points="8,100 8,0 35,16 62,0 62,100 8,100 "/>
                            <path id="design__text"  d="M19.16,29.34v0.04c1.05,0.32,1.6,1.32,1.91,3.17c0.32,1.95,0.61,3.15,0.8,3.59h-1.64
                                c-0.21-0.42-0.48-1.76-0.76-3.51c-0.32-1.93-0.92-2.67-2.31-2.67h-0.63v6.17h-1.62V22.2c0.69-0.19,1.53-0.27,2.33-0.27
                                c1.41,0,2.46,0.29,3.19,1.01c0.69,0.71,0.99,1.66,0.99,2.77C21.43,27.51,20.59,28.69,19.16,29.34L19.16,29.34z M17.38,23.23
                                c-0.31,0-0.63,0.02-0.84,0.08v5.42h0.67c1.55,0,2.58-1.13,2.58-2.83C19.79,24.26,19.12,23.25,17.38,23.23L17.38,23.23z M29.24,31.21
                                h-4.72c0.02,3.11,1.24,3.78,2.42,3.78c0.69,0,1.28-0.17,1.68-0.4l0.25,1.2c-0.57,0.31-1.43,0.48-2.23,0.48c-2.44,0-3.7-1.99-3.7-5.1
                                c0-3.3,1.39-5.35,3.42-5.35c2.08,0,2.9,2.18,2.9,4.49C29.27,30.68,29.27,30.95,29.24,31.21L29.24,31.21z M26.2,27.07
                                c-1.05,0-1.6,1.55-1.66,2.94h3.17C27.75,27.97,26.98,27.07,26.2,27.07L26.2,27.07z M35.4,36.14l-0.1-1.28h-0.06
                                c-0.34,0.74-1.05,1.45-2.12,1.45c-1.72,0-2.96-1.87-2.96-5.21c0-3.61,1.49-5.29,3.06-5.29c0.73,0,1.45,0.36,1.85,1.22h0.04v-5.42
                                h1.6V33.7c0,0.69,0.06,1.85,0.08,2.44H35.4L35.4,36.14z M35.1,29.84c0-0.21,0-0.44-0.02-0.67c-0.1-1.05-0.73-1.97-1.51-1.97
                                c-1.34,0-1.81,1.87-1.81,3.9c0,2.14,0.55,3.86,1.72,3.86c0.5,0,1.2-0.27,1.55-1.74c0.04-0.19,0.06-0.42,0.06-0.67V29.84L35.1,29.84z
                                M16.77,45.72v6.03c0,1.32,0.48,1.68,1.07,1.68c0.25,0,0.46-0.02,0.65-0.06l0.06,1.24c-0.29,0.1-0.67,0.17-1.2,0.17
                                c-0.63,0-1.2-0.17-1.6-0.61c-0.4-0.46-0.61-1.15-0.61-2.56v-5.88h-1.24v-1.24h1.24v-2.23l1.62-0.46v2.69h1.95v1.24H16.77
                                L16.77,45.72z M24.77,54.64v-6.55c0-1.24-0.27-2.42-1.37-2.42c-0.76,0-1.32,0.55-1.57,1.62c-0.04,0.23-0.06,0.52-0.06,0.78v6.57
                                h-1.62V40.11h1.62v5.46h0.04c0.21-0.36,0.52-0.67,0.84-0.88c0.38-0.23,0.78-0.38,1.37-0.38c1.28,0,2.37,1.03,2.37,3.59v6.74H24.77
                                L24.77,54.64z M32.27,45.97c-1.03,0-1.78,0.95-1.95,2.12c-0.04,0.27-0.06,0.59-0.06,0.92v5.63h-1.62V47.1
                                c0-0.86-0.06-1.87-0.08-2.62H30l0.08,1.6h0.04c0.34-0.97,1.2-1.76,2.14-1.76c0.13,0,0.23,0.02,0.34,0.02v1.66
                                C32.5,45.97,32.39,45.97,32.27,45.97L32.27,45.97z M39.43,49.71H34.7c0.02,3.11,1.24,3.78,2.41,3.78c0.69,0,1.28-0.17,1.68-0.4
                                l0.25,1.2c-0.57,0.32-1.43,0.48-2.23,0.48c-2.44,0-3.7-1.99-3.7-5.1c0-3.3,1.39-5.35,3.42-5.35c2.08,0,2.9,2.18,2.9,4.49
                                C39.45,49.18,39.45,49.45,39.43,49.71L39.43,49.71z M36.38,45.57c-1.05,0-1.6,1.55-1.66,2.94h3.17
                                C37.94,46.47,37.16,45.57,36.38,45.57L36.38,45.57z M45.2,54.64l-0.1-1.07h-0.06c-0.44,0.78-1.15,1.24-2.02,1.24
                                c-1.36,0-2.41-1.15-2.41-2.9c0-2.54,2.04-3.67,4.33-3.7V47.9c0-1.36-0.34-2.31-1.62-2.31c-0.63,0-1.2,0.21-1.68,0.52l-0.36-1.13
                                c0.42-0.32,1.36-0.67,2.37-0.67c2.04,0,2.92,1.34,2.92,3.63v4.39c0,0.78,0,1.66,0.1,2.31H45.2L45.2,54.64z M44.97,49.39
                                c-0.84,0-2.79,0.15-2.79,2.35c0,1.32,0.67,1.81,1.24,1.81c0.71,0,1.32-0.52,1.51-1.53c0.04-0.19,0.04-0.4,0.04-0.57V49.39
                                L44.97,49.39z M53.64,54.64l-0.1-1.28h-0.06c-0.34,0.73-1.05,1.45-2.12,1.45c-1.72,0-2.96-1.87-2.96-5.21
                                c0-3.61,1.49-5.29,3.07-5.29c0.74,0,1.45,0.36,1.85,1.22h0.04v-5.42h1.6V52.2c0,0.69,0.06,1.85,0.08,2.44H53.64L53.64,54.64z
                                M53.35,48.34c0-0.21,0-0.44-0.02-0.67c-0.1-1.05-0.74-1.97-1.51-1.97c-1.34,0-1.81,1.87-1.81,3.91c0,2.14,0.55,3.86,1.72,3.86
                                c0.5,0,1.2-0.27,1.55-1.74c0.04-0.19,0.06-0.42,0.06-0.67V48.34L53.35,48.34z M19.61,73.14l-0.11-1.28h-0.06
                                c-0.34,0.74-1.05,1.45-2.12,1.45c-1.72,0-2.96-1.87-2.96-5.21c0-3.61,1.49-5.29,3.07-5.29c0.73,0,1.45,0.36,1.85,1.22h0.04v-5.42
                                h1.6V70.7c0,0.69,0.06,1.85,0.08,2.44H19.61L19.61,73.14z M19.31,66.84c0-0.21,0-0.44-0.02-0.67c-0.11-1.05-0.74-1.97-1.51-1.97
                                c-1.34,0-1.81,1.87-1.81,3.9c0,2.14,0.55,3.86,1.72,3.86c0.5,0,1.2-0.27,1.55-1.74c0.04-0.19,0.06-0.42,0.06-0.67V66.84L19.31,66.84
                                z M29.03,68.21h-4.72c0.02,3.11,1.24,3.78,2.41,3.78c0.69,0,1.28-0.17,1.68-0.4l0.25,1.2c-0.57,0.31-1.43,0.48-2.23,0.48
                                c-2.44,0-3.7-1.99-3.7-5.1c0-3.3,1.39-5.35,3.42-5.35c2.08,0,2.9,2.18,2.9,4.49C29.05,67.68,29.05,67.95,29.03,68.21L29.03,68.21z
                                M25.99,64.07c-1.05,0-1.6,1.55-1.66,2.94h3.17C27.54,64.97,26.77,64.07,25.99,64.07L25.99,64.07z M33.15,64.11
                                c-0.88,0-1.32,0.63-1.32,1.28c0,0.69,0.25,1.07,1.26,1.76c1.18,0.76,2.1,1.68,2.1,3.09c0,2.04-1.39,3.02-3.05,3.02
                                c-0.76,0-1.57-0.23-2.02-0.59l0.4-1.22c0.36,0.23,0.99,0.53,1.64,0.53c0.92,0,1.49-0.57,1.49-1.47c0-0.78-0.27-1.3-1.3-2
                                c-1.32-0.86-2.04-1.72-2.04-2.9c0-1.64,1.22-2.81,2.79-2.81c0.8,0,1.41,0.27,1.83,0.52l-0.44,1.22
                                C34.12,64.3,33.68,64.11,33.15,64.11L33.15,64.11z M37.62,61.4c-0.52,0-0.92-0.42-0.92-1.05c0-0.63,0.42-1.05,0.95-1.05
                                c0.59,0,0.97,0.42,0.97,1.05C38.63,60.98,38.23,61.4,37.62,61.4L37.62,61.4z M38.48,73.14h-1.62V62.98h1.62V73.14L38.48,73.14z
                                M46.86,66.15v5.69c0,2.67-0.34,3.67-1.01,4.41c-0.61,0.69-1.58,1.09-2.71,1.09c-0.86,0-1.7-0.21-2.23-0.5l0.38-1.26
                                c0.4,0.21,1.07,0.44,1.89,0.44c1.28,0,2.08-0.8,2.08-3.11v-1.03h-0.04c-0.36,0.8-1.09,1.24-1.95,1.24c-1.81,0-2.98-2.04-2.98-5.02
                                c0-3.74,1.7-5.29,3.19-5.29c1.09,0,1.6,0.71,1.89,1.32h0.04l0.08-1.15h1.45C46.92,63.69,46.86,64.59,46.86,66.15L46.86,66.15z
                                M45.27,66.48c0-0.25-0.02-0.52-0.08-0.74c-0.19-0.69-0.55-1.55-1.47-1.55c-1.18,0-1.81,1.58-1.81,3.82c0,2.6,0.82,3.78,1.81,3.78
                                c0.48,0,1.11-0.23,1.45-1.45c0.08-0.32,0.1-0.63,0.1-0.92V66.48L45.27,66.48z M53.31,73.14v-6.55c0-1.2-0.23-2.41-1.41-2.41
                                c-0.67,0-1.32,0.57-1.53,1.66c-0.04,0.25-0.06,0.57-0.06,0.9v6.4h-1.62V65.6c0-1.2-0.06-1.81-0.08-2.63h1.41l0.08,1.22h0.04
                                c0.44-0.82,1.26-1.39,2.33-1.39c1.41,0,2.46,1.05,2.46,3.51v6.82H53.31L53.31,73.14z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </main>
</template>

<style>
.form_label {
  width: 100%;
}
</style>
<script lang="ts" src="./signup.ts"></script>
