<template>
  <layout :show_menu="true">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="statistic__item">
            <h2 class="number">10,368</h2>
            <span class="desc">members online</span>
            <div class="icon">
              <i class="zmdi zmdi-account-o"></i>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="statistic__item">
            <h2 class="number">388,688</h2>
            <span class="desc">items sold</span>
            <div class="icon">
              <i class="zmdi zmdi-shopping-cart"></i>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="statistic__item">
            <h2 class="number">1,086</h2>
            <span class="desc">this week</span>
            <div class="icon">
              <i class="zmdi zmdi-calendar-note"></i>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="statistic__item">
            <h2 class="number">$1,060,386</h2>
            <span class="desc">total earnings</span>
            <div class="icon">
              <i class="zmdi zmdi-money"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </layout>
</template>

<script lang="ts" src="./site_info.ts"></script>
