<template>
    <main class="content tech_page terms">
        <article class="entry">
            <div class="centered__outer textcenter tech_wrapper">
                <div class="centered__inner">
                    <div id="register_form" class="tech_form legal_form">
                        <router-link title="Главная страница" to="/">
                            <svg id="logo" style="enable-background:new 0 0 100 100;" version="1.1" viewBox="0 0 100 100" x="0px"
                                     xml:space="preserve" xmlns="http://www.w3.org/2000/svg" y="0px">
                                <rect height="43" width="22" y="57"/>
                                <rect height="37" width="22" y="20"/>
                                <rect height="65" width="20" x="22" y="35"/>
                                <rect height="20" width="70"/>
                                <polygon points="70,0 70,20 78,28 78,35 100,35 100,0 "/>
                                <rect height="45" width="43" x="57" y="35"/>
                                <rect height="20" width="58" x="42" y="80"/>
                            </svg>
                        </router-link>
                        <article id="terms" class="legal_article">
                            <h2><span class="rticon"></span>Пользовательское соглашение</h2>
                            <h2><span class="rticon"></span>Terms of Service</h2>
                            <div class="row">
                                <p>Настоящее пользовательское соглашение (далее — Соглашение) в соответствии с положениями ст. 437
                                    ГК РФ является офертой ИП Левашова Александра Сергеевича, ОГРНИП 319774600617301 (далее —
                                    Администрация), и адресовано любому дееспособному лицу (далее — Пользователю) на изложенных ниже
                                    условиях.</p>
                                <p>Регистрация в специальной форме, размещенной по адресу:
                                    <router-link :to="{name: 'signup' }">https://lms.space/signup/</router-link>, является
                                    безусловным и безоговорочным принятием (акцептом) Пользователем условий данного Соглашения.
                                </p>
                            </div>

                            <div class="row">
                                <h3>Термины и определения</h3>
                                <br>
                                <br>
                                <p>Платформа — программный комплекс Администрации, расположенный по адресу
                                    <router-link :to="{name: 'home' }">https://lms.space/</router-link>
                                </p>
                                <p>Аккаунт — учетная запись Пользователя на Платформе.</p>
                                <p>Личный кабинет — раздел Платформы, с помощью которого Пользователь может реализовывать функционал
                                    Платформы, в том числе создавать Сайты.</p>
                                <p>Тариф — объем предоставляемых прав и услуг Пользователю.</p>

                                <ol>
                                    <li>Предмет
                                        <ol>
                                            <li>Администрация предоставляет неисключительную лицензию на использование
                                                Платформы, а также оказывает сопутствующие услуги.
                                            </li>
                                            <li>Пользователь использует Платформу согласно условиям Соглашения и выбранного
                                                Тарифа, а также уплачивает вознаграждение, если иное не предусмотрено Тарифом.
                                            </li>
                                        </ol>
                                    </li>
                                    <li>Общие положения
                                        <ol>
                                            <li>Для использования Платформы Пользователь проходит регистрацию по адресу <router-link :to="{name: 'home' }">https://lms.space/</router-link>
                                            </li>
                                            <li>После регистрации Пользователь получает уникальный Аккаунт и доступ в Личный
                                                кабинет.
                                            </li>
                                            <li>Все действия, совершаемые в Личном кабинете, считаются совершенными
                                                Пользователем лично.
                                            </li>
                                            <li>Пользователь самостоятельно несет ответственность за:
                                                <ul>
                                                    <li>Сохранность своего логина и пароля.</li>
                                                    <li>Последствия в случае утери и/или разглашения логина и пароля третьим
                                                        лицам.
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>Администрация не рекомендует Пользователю передавать третьим лицам данные
                                                своего Аккаунта. В случае передачи данных Аккаунта Пользователь должен ознакомить
                                                третьих лиц с Соглашением и несет всю ответственность за их действия.
                                            </li>
                                            <li>Платформа не предназначена и не может использоваться детьми в возрасте до 16
                                                лет. Проходя регистрацию, Пользователь гарантирует, что ему исполнилось 16 лет.
                                                Кроме того, если возраст Пользователя меньше 18 лет, он гарантирует, что у него есть
                                                согласие родителя или официального опекуна с данным Пользовательским соглашением.
                                            </li>
                                        </ol>
                                    </li>
                                    <li>Условия использования
                                        <ol>
                                            <li>Пользователь вправе использовать Платформу согласно Соглашению и действующему
                                                законодательству Российской Федерации.
                                            </li>
                                            <li>Администрация не обязана оказывать консультационную и техническую поддержку
                                                Пользователю.
                                            </li>
                                            <li>Платформа интегрирована с различными сервисами, в том числе с сервисами
                                                аналитики, платежей, рассылок, банка изображений. Платформа обеспечивает только
                                                возможность доступа к сервисам. Все вопросы, связанные с использованием сервиса,
                                                регулируются документами сервиса и решаются между владельцем сервиса и Пользователем
                                                самостоятельно.
                                            </li>
                                            <li>Платформа и услуги предоставляются на условиях «как есть».</li>
                                            <li>Пользователь принимает на себя все риски, связанные с использованием Платформы
                                                и услуг.
                                            </li>
                                            <li>Администрация не дает Пользователю никаких явно выраженных или предполагаемых
                                                гарантий в отношении Платформы и услуг, в том числе, не гарантирует (включая, но не
                                                ограничиваясь): пригодность для конкретных целей, безопасность и защищенность,
                                                точность, полноту, производительность, системную интеграцию, бесперебойное
                                                функционирование, отсутствие ошибок, исправление неполадок, отсутствие вирусов,
                                                законность использования на любых территориях за пределами Российской Федерации.
                                            </li>
                                            <li>Администрация не несет ответственности за:
                                                <ul>
                                                    <li>невозможность использования Платформы по причинам, не зависящим от
                                                        Администрации;
                                                    </li>
                                                    <li>любые действия и/или бездействия поставщиков услуг, сервисов, сетей,
                                                        программного обеспечения или оборудования;
                                                    </li>
                                                    <li>искажение, изменение, утрату Контента;</li>
                                                    <li>безопасность логина и/или пароля Пользователя;</li>
                                                    <li>несанкционированное и/или неправомерное использования третьими лицами
                                                        логина и/или пароля Пользователя;
                                                    </li>
                                                    <li>ущерб, который может быть нанесен любым устройствам и носителям
                                                        информации и/или программному обеспечению Пользователя в результате
                                                        использования Платформы и/или услуг;
                                                    </li>
                                                    <li>последствия передачи Сайтов между Аккаунтами.</li>
                                                </ul>
                                            </li>
                                        </ol>
                                    </li>
                                    <li>Интеллектуальная собственность
                                        <ol>
                                            <li>Администрация является правообладателем Платформы и ее составных частей (код,
                                                дизайн, базы данных).
                                            </li>
                                            <li>Неисключительная лицензия ограничена «правом на использование», и ни одно из
                                                положений Соглашения не означает передачи Пользователю исключительного права на
                                                Платформу.
                                            </li>
                                            <li>Неисключительная лицензия предоставляется на срок действия Соглашения на
                                                территорию всего мира без права выдачи сублицензий.
                                            </li>
                                            <li>Пользователь вправе с помощью Платформы:
                                                <ul>
                                                    <li>Создавать Сайты;</li>
                                                    <li>Изменять и дорабатывать Сайты;</li>
                                                    <li>Подключать доменное имя и различные сервисы к Сайтам.</li>
                                                </ul>
                                            </li>
                                            <li>Пользователь вправе использовать элементы Платформы.</li>
                                            <li>Права на программный код верстки Сайтов на Платформе, не принадлежат
                                                Администрации.
                                            </li>
                                            <li>Пользователь вправе изменять и дорабатывать Сайт только с помощью Платформы.
                                            </li>
                                            <li>Загружая Контент на Платформу, Пользователь предоставляет Администрации право
                                                на хранение и обработку Контента в целях исполнения Соглашения, в том числе для
                                                обеспечения корректной работы Платформы, отсутствия ее сбоев и прочее.
                                            </li>
                                            <li>Пользователь гарантирует, что Контент не нарушает права третьих лиц на
                                                результаты интеллектуальной деятельности и приравненные к ним средства
                                                индивидуализации, права на информацию, составляющую коммерческую тайну, не наносит
                                                вреда чести, деловой репутации и достоинству третьих лиц, не нарушает национальное и
                                                международное законодательство. Пользователь самостоятельно несет ответственность за
                                                размещенный на Платформе Контент.
                                            </li>
                                        </ol>
                                    </li>
                                    <li>Услуги
                                        <ol>
                                            <li>Администрация оказывает Пользователю услуги по:
                                                <ul>
                                                    <li>Сохранность своего логина и пароля.</li>
                                                    <li>предоставлению места на сервере для размещения Сайта.</li>
                                                </ul>
                                            </li>
                                            <li>Адрес субдомена генерируется Платформой автоматически. Пользователь вправе
                                                изменить адрес субдомена в Личном кабинете.
                                            </li>
                                            <li>Администрация не гарантирует сохранение за Пользователем адреса субдомена и
                                                вправе изъять его в одностороннем порядке.
                                            </li>
                                            <li>Администрация не дает никаких гарантий в отношении работоспособности и
                                                сохранности сервера, на котором предоставляется место для Сайта. Пользователь
                                                принимает на себя риски потери, связанные с перебоями в работе Сайта и потерей
                                                Контента.
                                            </li>
                                            <li>Администрация вправе отказать Пользователю в оказании услуги по предоставлению
                                                места на сервере для размещения Сайта в случае если Сайт создает высокую нагрузку на
                                                сервер и/или препятствует стабильной работе Платформы, и/или создает всякого рода
                                                угрозы Платформе, в том числе влекущие негативные последствия в той или иной форме
                                                для Платформы и/или Администрации.
                                            </li>
                                        </ol>
                                    </li>
                                    <li>Запрещенные действия<br>
                                        Пользователь не вправе:
                                        <ol>
                                            <li>Использовать Платформу способами, прямо не предусмотренными Соглашением.</li>
                                            <li>Изменять, настраивать, переводить или создавать производные продукты,
                                                основанные на Сайте и элементах, а также интегрировать Сайт или элементы в другие
                                                результаты интеллектуальной деятельности.
                                            </li>
                                            <li>Предпринимать попытки обойти технические ограничения, установленные
                                                Платформой.
                                            </li>
                                            <li>Декомпилировать, дизассемблировать, дешифровать и производить иные действия с
                                                исходным кодом Платформы.
                                            </li>
                                            <li>Экспортировать Сайт в нарушении положений Соглашения.</li>
                                            <li>Использовать Платформу и Сайт для публикации, распространения, хранения,
                                                передачи в любой форме Контента, который:
                                                <ul>
                                                    <li>является незаконным, вредоносным, угрожающим, клеветническим,
                                                        подстрекающим к насилию над каким-либо лицом или группой лиц, либо к
                                                        бесчеловечному обращению с животными, призывает к совершению противоправной
                                                        деятельности, в том числе разъясняет порядок применения взрывчатых веществ и
                                                        иного оружия, нарушает общепринятые правила приличия и морально-этические
                                                        нормы, содержит ненормативную лексику, пропагандирует ненависть и/или
                                                        дискриминацию, а также содержит негативные и критические высказывания,
                                                        касающиеся религии, политики, расовых, этнических, гендерных признаков,
                                                        личных качеств, способностей, сексуальной ориентации и внешнего вида третьих
                                                        лиц, содержит оскорбления в адрес конкретных лиц или организаций;
                                                    </li>
                                                    <li>может быть воспринят как пропаганда определенных политических и
                                                        религиозных взглядов, нетрадиционной сексуальной ориентации, насилия,
                                                        употребления наркотических средств, алкоголя и табакокурения;
                                                    </li>
                                                    <li>нарушает права несовершеннолетних лиц;</li>
                                                    <li>нарушает права третьих лиц на результаты интеллектуальной деятельности и
                                                        приравненные к ним средства индивидуализации, права на информацию,
                                                        составляющую коммерческую тайну, наносящего вред чести, деловой репутации и
                                                        достоинству третьих лиц, нарушающего национальное и международное
                                                        законодательство.
                                                    </li>
                                                    <li>содержит не разрешенную к разглашению информацию;</li>
                                                    <li>содержит вредоносное программное обеспечение (вирусы, черви, трояны или
                                                        другие компьютерные коды, файлы или программы), предназначенное для
                                                        нарушения, уничтожения либо ограничения функциональности любого
                                                        компьютерного или телекоммуникационного оборудования (их частей), для
                                                        осуществления несанкционированного доступа, для получения доступа к
                                                        коммерческим программным продуктам, путем предоставления серийных номеров
                                                        логинов, паролей, программ для их генерации и прочих средств для получения
                                                        несанкционированного доступа к платным ресурсам, а также размещения ссылок
                                                        на вышеуказанную информацию;
                                                    </li>
                                                    <li>представляет собой Спам, т.е. рассылку без согласия получателя сообщений
                                                        коммерческого и некоммерческого характера в форме (включая, но не
                                                        ограничиваясь): рекламы товаров, оборот которых запрещен или ограничен
                                                        согласно законодательству РФ; сообщений социального и/или
                                                        религиозно-мистического содержания с призывом о дальнейшем распространении
                                                        таких сообщений («писем счастья»); списков чужих адресов электронной почты;
                                                        схем «пирамид», многоуровневого (сетевого) маркетинга (MLM); реферальных
                                                        ссылок; систем Интернет-заработка и онлайн-бизнесов.;
                                                    </li>
                                                    <li>нарушает законодательство Российской Федерации, а также нормы
                                                        международного права;
                                                    </li>
                                                    <li>может использоваться для незаконного сбора, хранения и обработки
                                                        персональных данных других лиц;
                                                    </li>
                                                    <li>содержит рекламу и/или предложение на оказание услуг эротических
                                                        спа-салонов и иных подобных услуг.
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>Использовать Платформу и (или) Сайт для:
                                                <ul>
                                                    <li>Нарушения работы Платформы, в том числе размещения элементов,
                                                        затрудняющих обмен информацией в реальном времени, открывающих
                                                        дополнительные окна браузера, подменяющих функциональные элементы интерфейса
                                                        и т.п.
                                                    </li>
                                                    <li>Размещения ссылок на ресурсы, содержание которых противоречит
                                                        действующему законодательству РФ и нормам международного права.
                                                    </li>
                                                    <li>Распространения не соответствующих действительности сведений относительно
                                                        своей причастности к Администрации и /или ее партнерам.
                                                    </li>
                                                    <li>Содействия любым мероприятиям, направленным на нарушение ограничений и
                                                        запретов, налагаемых Соглашением, а также на нарушение норм действующего
                                                        законодательства.
                                                    </li>
                                                    <li>Создания и размещения сайтов микрофинансовых организаций, а также сайтов
                                                        любых других субъектов права, деятельностью которых является выдача кредитов
                                                        и/или займов любых видов, заключение договоров залога под выдачу денежных
                                                        средств, деятельность, сходная с деятельностью ломбардов, за исключением
                                                        кредитых организаций (банков) и ломбардов, имеющих соответствующую лицензию
                                                        и/или другие правоустанавливающие (разрешающие) документы. При этом
                                                        указанные документы Пользователь обязан разместить на сайте в свободном
                                                        доступе для ознакомления с ними.
                                                    </li>
                                                    <li>Создания страниц, используемых исключительно для автоматического
                                                        перенаправления на сторонние сайты.
                                                    </li>
                                                </ul>
                                            </li>
                                        </ol>
                                    </li>
                                    <li>Блокировка и удаление
                                        <ol>
                                            <li>Администрация вправе незамедлительно осуществить блокировку Сайта и/или
                                                аккаунта Пользователя в случае:
                                                <ul>
                                                    <li>Выявления нарушения Пользователем положений Соглашения;</li>
                                                    <li>Выявления нарушения Пользователем положений действующего законодательства
                                                        Российской Федерации;
                                                    </li>
                                                    <li>Получения от третьих лиц претензии о нарушении Пользователем их прав;
                                                    </li>
                                                    <li>Получения соответствующих требований от государственных органов.</li>
                                                </ul>
                                            </li>
                                            <li>Блокировка означает невозможность пользователей сети Интернет ознакомиться с
                                                содержанием Сайта.
                                            </li>
                                            <li>Пользователь обязуется самостоятельно предпринять все действия для прекращения
                                                нарушения.
                                            </li>
                                            <li>В случае блокировки в связи получением от третьих лиц претензии о нарушении
                                                Пользователем их прав, Пользователь вправе использовать в дальнейшем Сайт только при
                                                условии, что Администрация получила письменное уведомление от составителя жалобы,
                                                что спорная ситуация урегулирована и претензия со стороны третьих лиц о нарушении
                                                прав отсутствует.
                                            </li>
                                            <li>В случае получения требований от государственных органов, в том числе
                                                требований (уведомлений, претензий) Роскомнадзора, Администрация производит
                                                блокировку аккаунта Пользователя, допустившего нарушение. При этом разблокировка
                                                аккаунта не производится без получения Администрацией официального уведомления от
                                                вышеуказанных государственных органов, в том числе Роскомнадзора, об отсутствии
                                                каких-либо претензий и требований к Пользователю, чей аккаунт был заблокирован, а
                                                равно и к проектам, созданным (размещенным) указанным Пользователем.
                                            </li>
                                            <li>Администрация вправе отказать в доступе Пользователю и заблокировать Сайт,
                                                содержащий неявную рекламу товаров и услуг, запрещенных законодательством Российской
                                                Федерации, а также нормами международного права.
                                            </li>
                                            <li>В случае отказа прекратить нарушение или неоднократных блокировок Сайтов,
                                                Администрация вправе в одностороннем порядке удалить Аккаунт со всеми Сайтами,
                                                Контентом и данными.
                                            </li>
                                        </ol>
                                    </li>
                                    <li>Тарифы
                                        <ol>
                                            <li>Виды Тарифов доступны по ссылке https://lms.space/tarifs.</li>
                                            <li>Тарифы могут изменяться по одностороннему решению Администрации. Стоимость
                                                оплаченного периода при этом изменению не подлежит.
                                            </li>
                                            <li>После регистрации Пользователь вправе использовать Платформу на бесплатном
                                                Тарифе. Администрация может предоставить Пользователю пробный период на платном
                                                Тарифе.
                                            </li>
                                            <li>Для перехода на платный Тариф на постоянной основе Пользователь оплачивает его
                                                способами, предложенными функционалом Платформы. Переход между платными Тарифами
                                                возможен в случае оплаты стоимости нового Тарифа в полном объеме.
                                            </li>
                                            <li>Оплата Тарифа осуществляется на условиях cтопроцентной предоплаты.</li>
                                            <li>Датой оплаты является дата зачисления денежных средств на расчетный счет
                                                Администрации.
                                            </li>
                                            <li>Обязательства по оплате считаются неисполненными в случае возврата денежных
                                                средств по требованию платежной организации.
                                            </li>
                                            <li>Администрация не составляет счета-фактуры лицам, не являющимся
                                                налогоплательщиками налога на добавленную стоимость, и налогоплательщикам,
                                                освобожденным от исполнения обязанностей налогоплательщика, связанных с исчислением
                                                и уплатой налога.
                                            </li>
                                            <li>Неиспользование Пользователем услуг не освобождает Пользователя от их оплаты.
                                            </li>
                                            <li>0. По истечении срока действия Тарифа он автоматически продлевается на период,
                                                аналогичный предыдущему. Администрация осуществляет автоматическое списание
                                                соответствующей суммы с платежной карты Пользователя согласно действующим Тарифам.
                                            </li>
                                            <li>Пользователь вправе отменить функцию автоплатежа или уведомить Администрацию о
                                                нежелании продлевать платный Тариф не позднее чем за 3 (три) дня до окончания срока
                                                его действия.
                                            </li>
                                            <li>При переходе с платного Тарифа на бесплатный Тариф Пользователь обязан
                                                привести Личный кабинет в соответствии с условиями, на которых предоставляется
                                                бесплатный Тариф.
                                            </li>
                                            <li>При первой оплате Тарифа Пользователь дает Администрации и её партнёрам
                                                согласие на хранение информации о его платежной карте и соглашается с тем, что
                                                Администрация уполномочена взимать плату с платежной карты для:
                                                <ul>
                                                    <li>реализации функции автоплатежа;</li>
                                                    <li>списания иных платежей, связанных с Соглашением;</li>
                                                    <li>погашения задолженности Пользователя по Соглашению.</li>
                                                </ul>
                                            </li>
                                        </ol>
                                    </li>
                                    <li>Права Администрации
                                        <ol>
                                            <li>Изменять, дорабатывать и обновлять Платформу без согласия и уведомления
                                                Пользователя.
                                            </li>
                                            <li>Устанавливать любые ограничения на использование Платформы.</li>
                                            <li>Удалять Аккаунт Пользователя, который к моменту удаления в течение шести и
                                                более календарных месяцев:
                                                <ul>
                                                    <li>находится на бесплатном Тарифе</li>
                                                    <li>не используется Пользователем.</li>
                                                </ul>
                                            </li>
                                            <li>Направлять Пользователю сообщения, уведомления, запросы, сведения рекламного и
                                                информационного характера.
                                            </li>
                                            <li>Направлять Пользователю информацию о вебинарах, видео и другую информацию о
                                                Платформе.
                                            </li>
                                            <li>6. Получать доступ к Личному кабинету Пользователя для мониторинга работы
                                                Платформы.
                                            </li>
                                            <li>7. Проводить профилактические работы, влекущие приостановление работы
                                                Платформы.
                                            </li>
                                            <li>8. Возвращать Пользователю доступ к Аккаунту в случае его взлома, утери или смены
                                                логина/пароля при одновременном соблюдении следующих условий:
                                                <ul>
                                                    <li>Аккаунт использовался на условиях платного Тарифа.</li>
                                                    <li>Пользователь выполнил все обязательные действия, предусмотренные
                                                        инструкцией по возврату доступа, предоставляемой по запросу Пользователя.
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>9. Возвращать под управление первоначального Пользователя Сайт, переданный им на
                                                другой Аккаунт, в случае если:
                                                <ul>
                                                    <li>Аккаунт используется на условиях платного Тарифа</li>
                                                    <li>Администрация посчитает действия Пользователя — получателя Сайта
                                                        недобросовестными.
                                                    </li>
                                                </ul>
                                            </li>
                                        </ol>
                                    </li>
                                    <li>Персональные данные
                                        <ol>
                                            <li>Платформа выполняет обработку персональных данных Пользователя в целях
                                                исполнения Соглашения согласно требованиям, установленным Федеральным законом «О
                                                персональных данных» от 27.07.2006 N 152-ФЗ и и Общеевропейского регламента о
                                                персональных данных (General Data Protection Regulation, GDPR).
                                            </li>
                                            <li>Порядок обработки и защита персональных данных определяется Политикой в
                                                области обработки и защиты персональных данных, расположенной по адресу
                                                <router-link :to="{name: 'terms' }">https://lms.space/terms</router-link>
                                            </li>
                                            <li>Платформа не выполняет обработку персональных данных, собираемых Пользователем
                                                на Сайтах, и лишь предоставляет вычислительные мощности, которые могут
                                                использоваться Пользователем для сбора персональных данных.
                                            </li>
                                            <li>В случае осуществления Пользователем обработки персональных данных третьих
                                                лиц, Пользователь самостоятельно несет ответственность за соблюдение надлежащих мер
                                                по защите персональных данных согласно требованиям 152-ФЗ, и Общеевропейского
                                                регламента о персональных данных (General Data Protection Regulation, GDPR) и иных
                                                законов и подзаконных актов, в том числе в части получения соответствующих
                                                разрешений, размещения на Сайте необходимых документов и информации.
                                            </li>
                                        </ol>
                                    </li>
                                    <li>Ответственность
                                        <ol>
                                            <li>Администрация не несет ответственности за прямую или косвенную упущенную
                                                выгоду Пользователя.
                                            </li>
                                            <li>Ответственность Администрации по Соглашению не может превышать стоимости
                                                оплаченного Пользователем Тарифа.
                                            </li>
                                            <li>В случае предъявления Администрации претензий, требований и/или исков о
                                                нарушении прав третьих лиц, связанных с нарушением данных Пользователем гарантий,
                                                Пользователь принимает на себя обязательства по их урегулированию и возмещению
                                                ущерба Администрации в случае его возникновения.
                                            </li>
                                        </ol>
                                    </li>
                                    <li>Срок Соглашения
                                        <ol>
                                            <li>Соглашение действует с момент акцепта до момента удаления Аккаунта
                                                Пользователя.
                                            </li>
                                            <li>Аккаунт может быть удален:
                                                <ul>
                                                    <li>По заявке Пользователя</li>
                                                    <li>По основаниям, предусмотренным разделом 8.</li>
                                                </ul>
                                            </li>
                                            <li>В случае удаления Аккаунта с действующим платным Тарифом, лицензионная часть
                                                вознаграждения возврату не подлежит. Пользователь вправе потребовать возврата за
                                                оплаченный, но не оказанный период оказания услуг.
                                            </li>
                                        </ol>
                                    </li>
                                    <li>Разрешение споров и разногласий
                                        <ol>
                                            <li>Все споры или разногласия, возникающие между Сторонами в связи с исполнением
                                                Соглашения, разрешаются ими путем переговоров.
                                            </li>
                                            <li>При недостижении Сторонами соглашения, споры и разногласия подлежат разрешению
                                                в претензионном порядке. Срок ответа на претензию — 30 дней.
                                            </li>
                                            <li>При невозможности прийти к соглашению спор может быть передан на разрешение
                                                суда по месту нахождения Администрации.
                                            </li>
                                            <li>Применимым правом является право Российской Федерации.</li>
                                        </ol>
                                    </li>
                                    <li>Заключительные положения
                                        <ol>
                                            <li>Соглашение может быть изменено или дополнено Администрацией без уведомления
                                                Пользователя в любое время. Новая редакция Соглашения вступает в силу с момента ее
                                                размещения на Платформе.
                                            </li>
                                            <li>Продолжение использования Платформы после внесения изменений и/или дополнений
                                                в Соглашение означает принятие и согласие Пользователя с такими изменениями и/или
                                                дополнениями.
                                            </li>
                                            <li>Соглашение регулируется и толкуется в соответствии с законодательством
                                                Российской Федерации. Вопросы, не урегулированные Соглашением, подлежат разрешению в
                                                соответствии с законодательством РФ.
                                            </li>
                                            <li>В случае, если какое-либо из положений Соглашения окажется ничтожным в
                                                соответствии с законодательством Российской Федерации, остальные положения останутся
                                                в силе, а Соглашение будет исполняться Сторонами в полном объеме без учета такого
                                                положения.
                                            </li>
                                            <li>Настоящее Соглашение составлено на русском языке и может быть предоставлено
                                                Пользователю для ознакомления на английском языке. В случае расхождения
                                                русскоязычной версии Соглашения и версии Соглашения на ином языке, применяются
                                                положения русскоязычной версии Соглашения.
                                            </li>
                                        </ol>
                                    </li>
                                </ol>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </article>

        <!-- Call to Action -->
        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <ul class="list_inline">
                        <li class="list_inline_item">
                            <router-link :to="{name: 'home' }"><span class="text">LMS</span></router-link>
                        </li>
                        <li class="list_inline_item">
                            <router-link :to="{name: 'tariffs' }"><span class="text">Тарифы</span></router-link>
                        </li>
                        <li class="list_inline_item">
                            <router-link :to="{name: 'terms' }"><span class="text">Пользовательское соглашение</span></router-link>
                        </li>
                        <li class="list_inline_item">
                            <a href="https://help.lms.space/" target="_blank"><span class="text">Документация</span></a>
                        </li>
                    </ul>
                    <p class="copyright">&copy; LMS 2020</p>
                    <div id="design">
                        <a id="design__link" href="https://redthread.studio/" rel="author" target="_blank"
                             title="Red Thread design">
                            <svg id="design__field" baseProfile="tiny" version="1.2"
                                     viewBox="0 0 70 100" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                                     y="0px">
                                                        <polygon id="design__shadow" points="10,78 15,0 40.31,17.48 70,2 61.87,83.04 10,78 "/>
                                <polygon id="design__label" points="8,100 8,0 35,16 62,0 62,100 8,100 "/>
                                <path id="design__text" d="M19.16,29.34v0.04c1.05,0.32,1.6,1.32,1.91,3.17c0.32,1.95,0.61,3.15,0.8,3.59h-1.64
                                    c-0.21-0.42-0.48-1.76-0.76-3.51c-0.32-1.93-0.92-2.67-2.31-2.67h-0.63v6.17h-1.62V22.2c0.69-0.19,1.53-0.27,2.33-0.27
                                    c1.41,0,2.46,0.29,3.19,1.01c0.69,0.71,0.99,1.66,0.99,2.77C21.43,27.51,20.59,28.69,19.16,29.34L19.16,29.34z M17.38,23.23
                                    c-0.31,0-0.63,0.02-0.84,0.08v5.42h0.67c1.55,0,2.58-1.13,2.58-2.83C19.79,24.26,19.12,23.25,17.38,23.23L17.38,23.23z M29.24,31.21
                                    h-4.72c0.02,3.11,1.24,3.78,2.42,3.78c0.69,0,1.28-0.17,1.68-0.4l0.25,1.2c-0.57,0.31-1.43,0.48-2.23,0.48c-2.44,0-3.7-1.99-3.7-5.1
                                    c0-3.3,1.39-5.35,3.42-5.35c2.08,0,2.9,2.18,2.9,4.49C29.27,30.68,29.27,30.95,29.24,31.21L29.24,31.21z M26.2,27.07
                                    c-1.05,0-1.6,1.55-1.66,2.94h3.17C27.75,27.97,26.98,27.07,26.2,27.07L26.2,27.07z M35.4,36.14l-0.1-1.28h-0.06
                                    c-0.34,0.74-1.05,1.45-2.12,1.45c-1.72,0-2.96-1.87-2.96-5.21c0-3.61,1.49-5.29,3.06-5.29c0.73,0,1.45,0.36,1.85,1.22h0.04v-5.42
                                    h1.6V33.7c0,0.69,0.06,1.85,0.08,2.44H35.4L35.4,36.14z M35.1,29.84c0-0.21,0-0.44-0.02-0.67c-0.1-1.05-0.73-1.97-1.51-1.97
                                    c-1.34,0-1.81,1.87-1.81,3.9c0,2.14,0.55,3.86,1.72,3.86c0.5,0,1.2-0.27,1.55-1.74c0.04-0.19,0.06-0.42,0.06-0.67V29.84L35.1,29.84z
                                    M16.77,45.72v6.03c0,1.32,0.48,1.68,1.07,1.68c0.25,0,0.46-0.02,0.65-0.06l0.06,1.24c-0.29,0.1-0.67,0.17-1.2,0.17
                                    c-0.63,0-1.2-0.17-1.6-0.61c-0.4-0.46-0.61-1.15-0.61-2.56v-5.88h-1.24v-1.24h1.24v-2.23l1.62-0.46v2.69h1.95v1.24H16.77
                                    L16.77,45.72z M24.77,54.64v-6.55c0-1.24-0.27-2.42-1.37-2.42c-0.76,0-1.32,0.55-1.57,1.62c-0.04,0.23-0.06,0.52-0.06,0.78v6.57
                                    h-1.62V40.11h1.62v5.46h0.04c0.21-0.36,0.52-0.67,0.84-0.88c0.38-0.23,0.78-0.38,1.37-0.38c1.28,0,2.37,1.03,2.37,3.59v6.74H24.77
                                    L24.77,54.64z M32.27,45.97c-1.03,0-1.78,0.95-1.95,2.12c-0.04,0.27-0.06,0.59-0.06,0.92v5.63h-1.62V47.1
                                    c0-0.86-0.06-1.87-0.08-2.62H30l0.08,1.6h0.04c0.34-0.97,1.2-1.76,2.14-1.76c0.13,0,0.23,0.02,0.34,0.02v1.66
                                    C32.5,45.97,32.39,45.97,32.27,45.97L32.27,45.97z M39.43,49.71H34.7c0.02,3.11,1.24,3.78,2.41,3.78c0.69,0,1.28-0.17,1.68-0.4
                                    l0.25,1.2c-0.57,0.32-1.43,0.48-2.23,0.48c-2.44,0-3.7-1.99-3.7-5.1c0-3.3,1.39-5.35,3.42-5.35c2.08,0,2.9,2.18,2.9,4.49
                                    C39.45,49.18,39.45,49.45,39.43,49.71L39.43,49.71z M36.38,45.57c-1.05,0-1.6,1.55-1.66,2.94h3.17
                                    C37.94,46.47,37.16,45.57,36.38,45.57L36.38,45.57z M45.2,54.64l-0.1-1.07h-0.06c-0.44,0.78-1.15,1.24-2.02,1.24
                                    c-1.36,0-2.41-1.15-2.41-2.9c0-2.54,2.04-3.67,4.33-3.7V47.9c0-1.36-0.34-2.31-1.62-2.31c-0.63,0-1.2,0.21-1.68,0.52l-0.36-1.13
                                    c0.42-0.32,1.36-0.67,2.37-0.67c2.04,0,2.92,1.34,2.92,3.63v4.39c0,0.78,0,1.66,0.1,2.31H45.2L45.2,54.64z M44.97,49.39
                                    c-0.84,0-2.79,0.15-2.79,2.35c0,1.32,0.67,1.81,1.24,1.81c0.71,0,1.32-0.52,1.51-1.53c0.04-0.19,0.04-0.4,0.04-0.57V49.39
                                    L44.97,49.39z M53.64,54.64l-0.1-1.28h-0.06c-0.34,0.73-1.05,1.45-2.12,1.45c-1.72,0-2.96-1.87-2.96-5.21
                                    c0-3.61,1.49-5.29,3.07-5.29c0.74,0,1.45,0.36,1.85,1.22h0.04v-5.42h1.6V52.2c0,0.69,0.06,1.85,0.08,2.44H53.64L53.64,54.64z
                                    M53.35,48.34c0-0.21,0-0.44-0.02-0.67c-0.1-1.05-0.74-1.97-1.51-1.97c-1.34,0-1.81,1.87-1.81,3.91c0,2.14,0.55,3.86,1.72,3.86
                                    c0.5,0,1.2-0.27,1.55-1.74c0.04-0.19,0.06-0.42,0.06-0.67V48.34L53.35,48.34z M19.61,73.14l-0.11-1.28h-0.06
                                    c-0.34,0.74-1.05,1.45-2.12,1.45c-1.72,0-2.96-1.87-2.96-5.21c0-3.61,1.49-5.29,3.07-5.29c0.73,0,1.45,0.36,1.85,1.22h0.04v-5.42
                                    h1.6V70.7c0,0.69,0.06,1.85,0.08,2.44H19.61L19.61,73.14z M19.31,66.84c0-0.21,0-0.44-0.02-0.67c-0.11-1.05-0.74-1.97-1.51-1.97
                                    c-1.34,0-1.81,1.87-1.81,3.9c0,2.14,0.55,3.86,1.72,3.86c0.5,0,1.2-0.27,1.55-1.74c0.04-0.19,0.06-0.42,0.06-0.67V66.84L19.31,66.84
                                    z M29.03,68.21h-4.72c0.02,3.11,1.24,3.78,2.41,3.78c0.69,0,1.28-0.17,1.68-0.4l0.25,1.2c-0.57,0.31-1.43,0.48-2.23,0.48
                                    c-2.44,0-3.7-1.99-3.7-5.1c0-3.3,1.39-5.35,3.42-5.35c2.08,0,2.9,2.18,2.9,4.49C29.05,67.68,29.05,67.95,29.03,68.21L29.03,68.21z
                                    M25.99,64.07c-1.05,0-1.6,1.55-1.66,2.94h3.17C27.54,64.97,26.77,64.07,25.99,64.07L25.99,64.07z M33.15,64.11
                                    c-0.88,0-1.32,0.63-1.32,1.28c0,0.69,0.25,1.07,1.26,1.76c1.18,0.76,2.1,1.68,2.1,3.09c0,2.04-1.39,3.02-3.05,3.02
                                    c-0.76,0-1.57-0.23-2.02-0.59l0.4-1.22c0.36,0.23,0.99,0.53,1.64,0.53c0.92,0,1.49-0.57,1.49-1.47c0-0.78-0.27-1.3-1.3-2
                                    c-1.32-0.86-2.04-1.72-2.04-2.9c0-1.64,1.22-2.81,2.79-2.81c0.8,0,1.41,0.27,1.83,0.52l-0.44,1.22
                                    C34.12,64.3,33.68,64.11,33.15,64.11L33.15,64.11z M37.62,61.4c-0.52,0-0.92-0.42-0.92-1.05c0-0.63,0.42-1.05,0.95-1.05
                                    c0.59,0,0.97,0.42,0.97,1.05C38.63,60.98,38.23,61.4,37.62,61.4L37.62,61.4z M38.48,73.14h-1.62V62.98h1.62V73.14L38.48,73.14z
                                    M46.86,66.15v5.69c0,2.67-0.34,3.67-1.01,4.41c-0.61,0.69-1.58,1.09-2.71,1.09c-0.86,0-1.7-0.21-2.23-0.5l0.38-1.26
                                    c0.4,0.21,1.07,0.44,1.89,0.44c1.28,0,2.08-0.8,2.08-3.11v-1.03h-0.04c-0.36,0.8-1.09,1.24-1.95,1.24c-1.81,0-2.98-2.04-2.98-5.02
                                    c0-3.74,1.7-5.29,3.19-5.29c1.09,0,1.6,0.71,1.89,1.32h0.04l0.08-1.15h1.45C46.92,63.69,46.86,64.59,46.86,66.15L46.86,66.15z
                                    M45.27,66.48c0-0.25-0.02-0.52-0.08-0.74c-0.19-0.69-0.55-1.55-1.47-1.55c-1.18,0-1.81,1.58-1.81,3.82c0,2.6,0.82,3.78,1.81,3.78
                                    c0.48,0,1.11-0.23,1.45-1.45c0.08-0.32,0.1-0.63,0.1-0.92V66.48L45.27,66.48z M53.31,73.14v-6.55c0-1.2-0.23-2.41-1.41-2.41
                                    c-0.67,0-1.32,0.57-1.53,1.66c-0.04,0.25-0.06,0.57-0.06,0.9v6.4h-1.62V65.6c0-1.2-0.06-1.81-0.08-2.63h1.41l0.08,1.22h0.04
                                    c0.44-0.82,1.26-1.39,2.33-1.39c1.41,0,2.46,1.05,2.46,3.51v6.82H53.31L53.31,73.14z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </main>
</template>

<style>

</style>
<script lang="ts" src="./terms.ts"></script>
