<template>
    <layout :show_menu="false">
        <div class="page_router">
            <h2>Тарифы и оплаты</h2>
            <div class="card">
                <div class="card-body">
                    <h3 class="title" v-if="order.status=='paid'">Заказ оплачен</h3>

                    <!-- DATA TABLE -->
                    <div class="table-responsive table-responsive-data2">
                        <table class="table table-data2">
                            <thead>
                            <tr>
                                <th>Название</th>
                                <th>Домен</th>
                                <th>Тариф</th>
                            </tr>
                            </thead>
                            <tbody>
                            <template v-for="site in order.sites">
                                <tr class="tr-shadow">
                                    <td>
                                        <router-link :to="{name: 'settings', params: { site: site.id }}">
                                            {{site.name}}
                                        </router-link>
                                    </td>
                                    <td>
                                        <a :href="'http://' + site.domain"
                                           class="block-email"
                                           target="_blank"
                                           title="Перейти к сайту">
                                            {{site.domain}}
                                            <i aria-hidden="true" class="fas fa-external-link-alt"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <select class="form-control" v-model="site.tariff" disabled>
                                            <option :value="tariff.key" v-for="tariff in tariffs">{{tariff.name}}
                                            </option>
                                        </select>

                                    </td>
                                </tr>
                                <tr class="spacer"></tr>
                            </template>

                            </tbody>
                        </table>

                        <div>
                            <div class="row" v-if="order.status=='notpaid'">
                                <div class="col-lg-12">
                                    <a :href="payment_url" class="buttonfield" id="payment-button"
                                       type="button">
                                        <span id="payment-button-amount" class="text">Оплатить {{order.amount | format_number}}₽</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END DATA TABLE -->
                </div>
            </div>
        </div>
    </layout>
</template>

<script lang="ts" src="./billing.payment.ts"></script>
