<template>
    <layout :show_menu="false">
        <div class="page_router">
            <h2>Тарифы и оплаты</h2>
            <div class="card">
                <div class="card-body">
                    <!-- DATA TABLE -->
                    <div class="table-responsive table-responsive-data2">
                        <div class="form_group">
                            <table class="table table-data2">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Название</th>
                                    <th>Домен</th>
                                    <th>Тариф</th>
                                    <th>Оплачен до</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <template v-for="site in order">
                                    <tr class="tr-shadow">
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" class="switch_input" v-model="site.active">
                                                <span class="switch_label"></span>
                                                <span class="switch_handle"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <router-link :to="{name: 'settings', params: { site: site.id }}">
                                                {{site.name}}
                                            </router-link>
                                        </td>
                                        <td>
                                            <a :href="'http://' + site.domain"
                                            class="block-email"
                                            target="_blank"
                                            title="Перейти к сайту">
                                                {{site.domain}}
                                                <i aria-hidden="true" class="fas fa-external-link-alt"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <label>
                                                <select class="textfield lightfield selectfield" v-model="site.tariff">
                                                    <option :value="tariff.key" v-for="tariff in tariffs">{{tariff.name}}</option>
                                                </select><span class="placeholder">Тариф</span><hr class="lightfield_line">
                                            </label>
                                        </td>
                                        <td>
                                            <template v-if="site.paid_to">
                                                {{site.paid_to | moment('calendar')}}
                                            </template>
                                            <template v-else>
                                                –
                                            </template>
                                        </td>
                                        <td>{{tariff_amount(site.tariff) | format_number}}₽</td>
                                    </tr>
                                    <tr class="spacer"></tr>
                                </template>
                                </tbody>
                            </table>
                        </div>

                        <div class="row">
                            <div class="form_group">
                                <label>
                                    <select class="textfield lightfield selectfield" v-model="payment_months">
                                        <option :value="payment_interval.months"
                                                v-for="payment_interval in payment_intervals">
                                            {{payment_interval.name}}
                                        </option>
                                    </select><span class="placeholder">Оплачиваемый период</span><hr class="lightfield_line">
                                </label>
                            </div>
                            <div>
                                <button @click="place_order" class="buttonfield" id="payment-button" type="button">
                                    <span id="payment-button-sending" class="loader" v-if="form_sending"></span>
                                    <span id="payment-button-amount" class="text" v-else>Оплатить {{total_amount() | format_number}}₽</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- END DATA TABLE -->
                </div>
            </div>
        </div>
    </layout>
</template>

<script lang="ts" src="./billing.ts"></script>
