<template>
    <layout>
        <div class="page_router">
            <h2>Настройки профиля</h2>
            <div class="card">
                <div class="card-body">

                    <div class="form_group">
                        <label>
                            <input class="textfield lightfield" id="profile_firstname" placeholder="Имя" type="text"
                               v-model="profile_settings.firstname"><span class="placeholder">Имя</span><hr class="lightfield_line">
                        </label>
                    </div>

                    <div class="form_group">
                        <label>
                            <input class="textfield lightfield" id="profile_surname" placeholder="Фамилия" type="text"
                               v-model="profile_settings.surname"><span class="placeholder">Фамилия</span><hr class="lightfield_line">
                        </label>
                    </div>

                    <div class="form_group">
                        <label>
                            <input class="textfield lightfield" id="profile_middle_name" placeholder="Отчество" type="text"
                               v-model="profile_settings.middle_name"><span class="placeholder">Отчество</span><hr class="lightfield_line">
                        </label>
                    </div>

                    <div class="form_group">
                        <label>
                            <input class="textfield lightfield" id="profile_email" placeholder="Электропочта" type="email"
                               v-model="profile_settings.email"><span class="placeholder">Электропочта</span><hr class="lightfield_line">
                        </label>
                    </div>

                    <div class="form_group">
                        <label>
                            <input class="textfield lightfield" id="profile_new_password" type="text" placeholder="Новый пароль"
                               v-model="profile_settings.new_password"><span class="placeholder">Новый пароль</span><hr class="lightfield_line">
                        </label>
                    </div>

                    <div>
                        <button class="buttonfield" id="payment-button" type="submit">
                            <span class="rticon save_icon"></span>
                            <span id="payment-button-amount" class="text">Сохранить</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </layout>
</template>

<script lang="ts" src="./main.ts"></script>
